[2016-05-06 20:52] czechboy0 commented on #259
It looks like it's trying to read a project which is checked out over HTTPS instead of SSH: `https://user@stash.myname.com/fight/champion.git`

Can you try to check it out over SSH? If you're sure you did, look for a .xcblueprint or .xccheckout file in the workspace/project. If you find one, and see the HTTPS remote address there, edit it to reflect the SSH checkout path. Restart Xcode and Buildas

[2016-05-06 21:13] reststop commented on #259
Ok, I'll check the blueprint.
BTW, I forgot to sanitize the URLs.  Can you edit your response and change the url you quoted to read:
user@stash.myname.com/fight/champion

[2016-05-06 21:17] czechboy0 commented on #259
Done

[2016-05-06 21:27] reststop commented on #259
Thanks!

No. it appears that the blueprint file also has the ssh: url.  Where else might it have pulled that from?

I'm going to guess it might be constructed since I saw that the username was one used in the 'pod keys'.   I'll look through the code gchiong did for the url's and see what's going on, but if you have any ideas of where it's being constructed (or should be gotten from, that will help

[2016-05-06 21:53] reststop commented on #259
Ok... stepping through the code...

In the init() for WorkspaceMetadata  (called many times)
Up through the log msgs... that show the PRs, branches and bots, projectURLString is correctly using the SSH: URL.

Immediately after displaying the last bot, the next time through init() I see projectURLString is now re-written as the HTTPS: URL.  The call stack looks like...

`
#0  0x0000000100c157bf in

[2016-05-06 21:57] reststop commented on #259
More info:  At least on my local machine, and the xcode server, the response from `git remote -v` shows the SSH: URL.

[2016-05-06 22:06] reststop commented on #259
Ok, tracing...

in SyncerBotManipulation.swift
in createBotFromName
setting headOriginURL...
repo.originURLSSH == https://user@stash.myname.com...git

Need to find out why that is set to that value, instead of the ssh: URL.

[2016-05-07 00:17] reststop commented on #259
Looks like Stash and Bitbucket server may use different information....
In: BitBucketEnterpriseRepo.swift  (gchiong's code)
   clone[0] isn't always the right entry, I think.

I dug through the structure of the returned JSON and saw the HTTPS URL in a few places, but also saw an SSH URL so, will do some more digging.

`
    required init(json: NSDictionary) {

[code]

`

On my Stash server, this i

[2016-05-09 23:15] reststop commented on #259
Modified code... temporarily (not sure if I want the components changed [var vs. let], or if sshURL is ever used elsewhere)

This get's by the SSH vs HTTPS URL issue...
But now, I'm seeing another issue...

[2016-05-09 23:36] reststop opened #261 "Error: Commit failed to return status"
Not sure if things are working correctly.

I've created a Syncer successfully.

On my live project (don't have another project setup with multiple users and approvers on several branches) we currently have 8 open PRs.

I started the Syncer and it went through and created 8 bots.  Started the first one, and it was building.
The Syncer showed an Error!

`Last successful sync at 2016-05-09 22:11:59 +

[2016-05-09 23:48] reststop commented on #261
Apparently something is cancelling the bots...
Bot Issue for β bugfix/ui-lock (build service error)
Integration #1 of β  bugfix/ui-lock
Open in Xcode: xcbot://ndgiosci2/botID/fb69145e64f3806cec314c66b5c4c09b/integrationID/fb69145e64f3806cec314c66b5c4e4e9

Assertion: This integration was canceled.
File: (null):(null)

Full logs for this integration are attached.

<Error>: Error checking out working

[2016-05-10 01:32] reststop commented on #261
More info... I see if I edit one of these bots that under Repositories it shows

The server SSH fingerprint failed to verify.

Any suggestions on why this might happen... something more needed in the bot template?

[2016-05-10 13:24] MartinDelille opened #262 "Use Buildasaur with a private gitlab instance"
Hi,

I'd like to use Buildasaur with my private gitlab instance. I'll be happy to share my patch, but I wondered if  you had planed to implement this and how?

[2016-05-10 13:27] czechboy0 commented on #262
Sure, I've had people asking for it (#109), so a PR would be very welcome! 😊

[2016-05-10 13:35] czechboy0 commented on #259
@reststop Interesting, some of this might be the issue in the fork's code. Would you maybe want to see what's been changed? I'm afraid I can't help with what's been changed in the fork. Unless you bring the author into this conversation so that we could discuss it here 😊

[2016-05-10 13:42] nextorlg opened #263 "Error Disallowed checkout type, the project must be checked out over one of the supported schemes: SSH"
I got the following error adding a repo:

Although the repo was clone using SSH I followed the workaround steps creating the blueprint file but I still get the same error.

Is it possible to get more detail about what is producing the error?

The blueprint file added looks like (anonymised):

[code]

Thanks for your work!

[2016-05-10 14:26] czechboy0 commented on #263
Hi @nextorlg,

first of all, great issue report! That's all I need to be helpful here.
I can see from your blueprint that your repo URL is `git@github.mycompany.com:myorg/myproject.git`, which implies you're using GitHub Enterprise, instead of GitHub.com, correct?

If so, technically Buildasaur doesn't yet support Github Enterprise servers, but there are a couple of people working on it (and have

[2016-05-10 14:31] czechboy0 commented on #261
Hi @reststop, this looks like Xcode Server canceling it.

Are you using this Buildasaur or a forked version?
Are you using GitHub.com-hosted repo or a GitHub Enterprise one? Because I've never seen the `Commit failed to return status` error, that seems like the wrong API is being called.

[2016-05-10 14:32] czechboy0 commented on #257
Please reopen this issue if you're still having this issue, thanks 😊

[2016-05-10 14:32] #257 closed

[2016-05-10 14:33] czechboy0 commented on #263
Possibly related to #259.

[2016-05-10 17:28] reststop commented on #261
I'm using gchiong's forked version.  Will be examining the API to see if it is different for some reason.

Was not sure of the flow, so wasn't sure if the issue was in his code or the base.  Based on your response, I think it is something in the API portion of the code, and the API may be different on out Stash than it is in Bitbucket Server.  There are actually 2 spaces after "Commit" where the c

[2016-05-10 18:08] reststop commented on #259
I've exchanged an email with gchiong and have something to look into.

[2016-05-11 18:12] nestorlafon commented on #263
Yup looks related to the github enterprise instance. Our setup is not standard, I will check the issues as PRs you referenced and see if I can be of some help

[2016-05-11 20:43] reststop opened #264 "Cannot depend on xcxcmblueprint file to be accurate"
Given that we have a proper xcscmblueprint file for a project.
This file does not seem to be updated or maintained, or recreated or verified at any time.

1) Do we have a way to re-create it on demand?

2) Do we have to edit this file by hand if we clone a repository and change the origin?

3) What creates, manages or updates this file?

In question #2, I am working on a cloned copy of a live proj

[2016-05-11 20:46] czechboy0 commented on #264
You can just delete the blueprint file and Buildasaur will figure out all these things on its own. The blueprint and checkout files are more of a legacy option.

[2016-05-11 20:49] reststop commented on #264
I think in the fork I'm working on, it won't let me create a project or syncer without an xcscmblueprint file.
(Or I couldn't get past the screen that relied on finding it: linked to workaround #165)

[2016-05-11 20:50] czechboy0 commented on #264
That's strange, is it checked out over SSH?

[2016-05-11 20:51] reststop commented on #264
Ok, so at some point, I can delete the manufactured .xcscmblueprint file.  I will try it.

Yes. over SSH.

[2016-05-11 20:59] reststop commented on #264
Ok, that is working now without the .xcscmblueprint file.  (Good I can delete it from the repository)

Possibly the former issue was showing up before I patched the method which returned the sshURL to detect the correct clone/url entry.  (It was always returning the 0th entry which on our Stash was returning the HTTP URL.)

I no longer see the error/workaround alert message, and it allows me to se

[2016-05-11 21:00] #264 closed

[2016-05-12 20:59] reststop opened #265 "Wrong repo found on forked/cloned projects"
Similar to the issue I opened on unable to depend on xcscmblueprint file.
Someone intricately knowledgeable about this matter would catch it, but a normal user would not.

If you clone a forked project, (and probably even copy a project without cloning), the existing artifacts in the project are used to determine the repo location, and this is inherently unreliable.

Case in point.  I forked a for

[2016-05-12 21:09] czechboy0 commented on #265
If you make sure to delete the blueprint and checkout files and let Buildasaur detect the repo itself, it will run `git remote -v` and take the first remote with a `(fetch)` parameter, see code [here](https://github.com/czechboy0/Buildasaur/blob/master/BuildaKit/GitRepoMetadataParser.swift#L24).

So when you fork and clone that fork, everything should work well (but again, you need to make sure to

[2016-05-12 21:12] reststop commented on #265
Yes, I just tested that.

It appears to check the .xccheckout file first, then the xcscmblueprint file second.
Moving those (or deleting those) then it found the correct repository.

I suggest making a note of this in the documentation so people who clone others' projects will not end up checking for pull requests on the wrong repository. (I don't recall seeing anything in the setup docs)

[2016-05-12 21:18] czechboy0 commented on #265
Yeah that's a good point. Let's hope that they'll at least find this issue if they look for more info. Thanks for reporting this!

[2016-05-12 21:18] #265 closed

[2016-05-12 21:19] reststop commented on #265
I was going to note that there may be more than one remote, but looking at the code link you provided, you do check for the one that says "origin".  You're good!

[2016-05-12 21:20] czechboy0 commented on #265
Yeah it's just a set of cascading heuristics.

[2016-05-12 22:27] reststop opened #266 "Syncer keeps cancelling integrations"
Not sure I understand what's happening.

Environment::
Using a Branch and PR on Buildasaur as my test project.
Due to cocoapods issues, I added the Pods to my remote repository to eliminate 'pod setup' issues on beta version of cocoapods.

Steps::
- Create a pull request with my fix for SSH URL from clone urls + Pods
carl/stash3-ssh-fix
- Create a new Syncer
- Start Syncer

What I am seeing::

The

[2016-05-12 22:40] reststop commented on #266
A previous run when I was using a live project, was having API issues getting commit status, and that is what I was attempting to debug.  Now this.  I believe this was also happening with the prior test, I saw integrations being cancelled, and not by me.

The other issue masked this issue, but now, with no problems showing up with getting status (so far anyway), this is a real killer.

I am suspic

[2016-05-12 23:04] czechboy0 commented on #266
Look [here](https://github.com/czechboy0/Buildasaur/blob/master/BuildaKit/SyncPairResolver.swift#L47), this is where Buildasaur figures out which integrations to cancel. There must be an issue with recognizing the head commits is my guess.

[2016-05-12 23:10] reststop commented on #266
Thanks... that will help.  There has to be a reason why each time through, it decided it needs to cancel it.
(Likely not getting some info it is expecting, so I'm trying to work the logic backwards)

[2016-05-12 23:23] reststop commented on #266
Can you expound upon "recognizing the head commits" for me.
Are these on the XCode server or in the repository?

BTW, probably not related, but if I edit the Bot and examine the Repositories section it tells me:
"The server SSH fingerprint failed to verify."
It does checkout the repository fine, but maybe that is causing some issues with status?
For regular bots, I usually tell it ot use existing

[2016-05-12 23:39] reststop commented on #266
Stepping through the code, on first pass (first breakpoint) after re-starting the existing bot, the value of commit is "", which returns 0 entries for headCommitIntegrations.
Examining the bot, the first integrations shows 5 commits. but all succeeding integrations on the bot show 0 commits.

[2016-05-12 23:55] reststop commented on #266
Yes, it appears headCommit is always "" in syncPRWithBot

<pre>
(lldb) p pr
(BuildaGitServer.BitBucketEnterprisePullRequest) $R43 = 0x0000618000062e40 {
  BuildaGitServer.BitBucketEnterpriseIssue = {
    BuildaGitServer.BitBucketEnterpriseEntity = {}
    number = 1
  }
  title = "Get clone SSH URL by name"
  source = 0x000061800008e6a0 {
    BuildaGitServer.BitBucketEnterpriseEntity = {}
    branc

[2016-05-13 00:25] reststop commented on #266
OK, found this issue.

It was an API issue with the PR.  The wrong key was being used to get the PR info.
The latest version of Bitbucket Server (or at least one later than ours) uses the key "latestCommit" and the older version of Stash we have uses the key "latestChangeset"

Made that change, and now I'm back to debugging the former issue:
[ERROR]: Syncing encountered a problem. Error: Failed to

[2016-05-13 00:26] reststop commented on #266
I have a question which I will ask in another issue, since it is germane to all of the debugging I'm doing and would help me immeasurably.

[2016-05-13 00:34] reststop opened #267 "Best place to print out contents of request/response?"
I've had no luck finding  convenient place to print out the contents of the POST or GET for the API calls so that I can verify that they match what I'm looking to send or receive.

All the places I see a json object, I'm unable to see the contents. I may just not be looking at the right places or using the right methods.
Is there a reasonably central place where I can add a Log.verbose() to examin

[2016-05-13 00:48] reststop commented on #261
Ok, just adding an answer to "this looks like Xcode Server canceling it."

It was Buildasaur that was cancelling the integrations (See Issue #266).
The reason was that the API was slightly newer and the key used to get the latest commit was "latestCommit" when our version of Stash uses the key "latestChangeset".  So the headCommit was always "" and thus, the syncer always cancelled any running int

[2016-05-13 01:37] reststop commented on #261
Interesting question:

The section of code doing the status update (which seems to be failing) uses the targetUrl  String? "https://stlt.herokuapp.com/v1/xcs_deeplink/myOSXserver.com/fb69145e64f3806cec314c66b5dbaf3c/fb69145e64f3806cec314c66b5dbb57f"  Some
With the comment    String? "Result of [Integration 1](https://stlt.herokuapp.com/v1/xcs_deeplink/myOSXserver.com/fb69145e64f3806cec314c66b5dbaf

[2016-05-13 07:30] czechboy0 commented on #261
Regarding the cancelling issue, I believe you understand the issue, but since you're using a fork of Buildasaur you'll have to look into it yourself, I'm not sure how to pull the latest SHA from the Stash API.

The link for `stlt.` is a trampoline server so that when you click on the link, it opens Xcode on the integration that Buildasaur reported. It's a nice feature for easy redirection to Xcode

[2016-05-13 07:30] #261 closed

[2016-05-13 07:31] czechboy0 commented on #259
I think this was also resolved as an issue of the fork of handling the Stash repo. If there's a bug in main Buildasaur code, please open a ticket.

[2016-05-13 07:31] #259 closed

[2016-05-13 07:33] czechboy0 commented on #263
As we don't technically yet support GitHub Enterprise yet, I'll close this. If you're using a fork of Buildasuar, it's probably best to open a ticket in the fork's issues section and later try to ask them to PR the improved version into main Buildasaur. Unfortunately I cannot help with forked code as I don't know what's been changed.

[2016-05-13 07:33] #263 closed

[2016-05-13 07:33] czechboy0 commented on #262
If you do make progress, please comment in the original issue #109, thanks!

[2016-05-13 07:33] #262 closed

[2016-05-13 07:34] czechboy0 commented on #256
I definitely won't be able to investigate this myself, but if you do find a way to get it work that's not too intrusive to the main codebase, I'd love a PR!

[2016-05-13 07:34] #256 closed

[2016-05-13 07:38] czechboy0 commented on #266
[This](https://github.com/czechboy0/Buildasaur/blob/b005008aac53b170fc3373b120ec31eab1e36a0a/BuildaKit/SyncerGitHubUtils.swift#L56) is where it's probably failing. Again, try to step through the code with the debugger to see why it's no working. My guess is that not all the required functions of a new server support were properly implemented. Please file a ticket in the fork's issue section, as I

[2016-05-13 07:38] #266 closed

[2016-05-14 01:19] reststop opened #268 "Precondition Failed on Startup"
Receive the following upon restarting Buildasaur from within Xcode
Not sure how repeatable, yet.

Workaround has been to remove the Buildasaur directory from ~/Library/Application Support.

Log shows:
<pre>
Buildasaur 1.0.0-b2 launched at 2016-05-14 00:54:50 +0000.
*
*
*

precondition failed: : file /Users/ndgbuild/buildasaur/buildasaur/BuildaGitServer/Base/BaseTypes.swift, line 38
</pre>

[2016-05-14 01:22] reststop commented on #268
I have not yet checked to see if this is a branch change or a master change.  Just filing an issue for a HEADS-UP since your assistance has been fantastic on pointing me to root causes.

It has happened 2 times.  Both times, the only common thing I know happened, was syncing my local branch to the repository, and then doing a "run" in Xcode.

[2016-05-14 03:29] reststop opened #269 "Support for cleaning up older integrations?"
Question:  Is there any support for cleaning out old integrations?

For example, setting a limit, either by date (how old), or by the number of current integrations available on disk, or clearing the cache for a particular bot.

Yes, this isn't specifically for Syncer/PR bots in general, since they are automatically created, and deleted.  Do we know if the Integration cache is deleted for an integ

[2016-05-15 16:43] atljeremy opened #270 "BitBucket Repo with Github submodules, supported?"
I just tried setting up a Buildasaur server with a Bitbucket repo. This Bitbucket repo has a couple Github submodules and it seems the submodules were not cloned in the Xcode Server Bot that Buildasaur created. How do I tell Buildasaur to clone submodules a repo's submodule dependencies?

[2016-05-15 17:50] czechboy0 commented on #270
Interesting, if Xcode server didn't do that, it's probably something that should be included in the blueprint (but isn't at the moment). Can you please try to create a bot manually and see if those are cloned correctly? If so, it's a missing feature in Buildasaur.

[2016-05-15 17:51] czechboy0 commented on #269
All that is in Xcode Server's responsibility, unfortunately Buildasaur can't affect that AFAIK.

[2016-05-15 17:51] #269 closed

[2016-05-15 17:52] czechboy0 commented on #268
Yeah, please see if that's something specific to the fork you're using. Also, if you could provide a sample project that reproduces it that'd be gold 👍

[2016-05-15 17:53] czechboy0 commented on #267
There is, just not in Buildasaur, but in its dependency called BuildaUtils. Just add the log locally in your clone somewhere here: https://github.com/czechboy0/BuildaUtils/blob/master/Source/HTTPUtils.swift#L36

[2016-05-15 17:53] #267 closed

[2016-05-15 21:02] atljeremy commented on #270
@czechboy0 I've already created a couple Xcode Bot's manually and each time, it shows the screen in the screenshot below. In this screen it presents me with the repo's submodules and allows me to choose how to authenticate with those submodules (basic auth or private key). After it's been connected, it asks which branch should be used when cloning the submodule, which is what you see in the screen

[2016-05-15 22:27] czechboy0 commented on #270
Yeah, it's missing from Buildasaur. Shouldn't be too hard to add, I won't have time to do it in the foreseeable future, I'm afraid. Would happily accept a PR though.

[2016-05-16 22:06] reststop commented on #268
I do have both of the offending ~/Library/Application Support/Buildasaur directories available.
In each case, I simply renamed the directory, and let Buildasaur recreate a new correct one.
Each of these was working at one point, then stopped working when I restarted Buildsasur.
I believe that both of the errant configurations were setup with a single syncer for the Buildasaur project.

I've includ

[2016-05-16 22:20] reststop commented on #267
Ok, thanks.  I had looked in that vicinity and had breakpoints there while
debugging but was't seeing the actual URL visibly.  I'll poke around some
more and see what I must have nissed.

On Sun, May 15, 2016 at 10:53 AM, Honza Dvorsky notifications@github.com
wrote:

[2016-05-16 22:24] reststop commented on #269
Thanks.  I'll have to take a look deeper into a new project.  Actual space
can be done with some simple scripting, but cleaning up the DB is the hard
part.  I cannot believe that Apple didn't think to add that capability.

On Sun, May 15, 2016 at 10:51 AM, Honza Dvorsky notifications@github.com
wrote:

[2016-05-17 00:46] reststop opened #271 "Repository maintenance not recognized"
Buildasaur works fine when a given response returns a maintenance window message, however the log is then littered with all manner of HTTP and CSS text.  I'm sure we don't want to parse the possible maintenance window messages, but it does happen and BUildasaur ought to recognize the problem and act accordingly instead of failing so verbosely before eventually recovering and resuming
 (maybe not i

[2016-05-17 14:48] czechboy0 commented on #271
Interesting, Buildasaur is stateless, so it'll try to ask the server for the data every 30 seconds (or however frequent your sync interval is). It does seem verbose, but it's an error, unexpected state, so I think logging it is the best thing to do.

I'd be fine if you file a PR that detects this case specifically for BitBucket servers and prints less, but I won't have time to do this myself.

[2016-05-17 14:48] #271 closed

[2016-05-18 10:20] pavm035 opened #272 "Cancel integration not working"
Hi,

I have tried cancelling integration through this swift code, but looks like request not completed successfully rather it throws following error

NOTE: But Post integration works fine

Optional(Error Domain=NSURLErrorDomain Code=-1005 "The network connection was lost." UserInfo={NSUnderlyingError=0x7fd8684d97a0 {Error Domain=kCFErrorDomainCFNetwork Code=-1005 "(null)" UserInfo={_kCFStreamError

[2016-05-18 14:27] czechboy0 commented on #272
Hi @pavm035,
- are you using the code from master from this repo or a fork?
- have you managed to get Buildasaur working? If you're just using [XcodeServerSDK](https://github.com/czechboy0/XcodeServerSDK), that's its own project, so we could discuss this issue there if it's related to it
- what Xcode/Xcode Server version are you running?

These should help me better understand what we're dealing w

[2016-05-18 14:46] eric-chamberlain-intel commented on #181
We'd like to see this feature too.

[2016-05-18 20:20] eric-chamberlain-intel commented on #242
We'd like this feature too.

[2016-05-18 20:26] czechboy0 commented on #242
Hi @eric-chamberlain-intel, could you please email me at czechboy0 at gmail? I'd love to hear more about your workflow, to understand better what improvements in Buildasaur could benefit you.

[2016-05-19 01:36] pavm035 commented on #272
Hi @czechboy0
Thanks for your quick response,

**are you using the code from master from this repo or a fork?**
In fact i have added 'XcodeServerSDK' as pod dependency in sample project

**have you managed to get Buildasaur working? If you're just using XcodeServerSDK, that's its own project, so we could discuss this issue there if it's related to it**
Sure we can discuss in XcodeServerSDK project

[2016-05-19 20:44] reststop opened #273 "Error: Failed to post a status ... on commit"
Ok, error first seen while debugging Issue #261

The problem seems intermittent, and when debugging the earlier issue, I saw it in passing, but was unable to make it happen on every request.  Letting the syncer run overnight or for long periods, I see this type of error several times a day, but have not recognized a pattern.

The (...,nil) in the title was an addition in my code \(status) to see w

[2016-05-19 21:30] reststop commented on #273
Slightly more info after fixing (status) to say (statusWithComment.status)
And dumping contents of Status dictionary:

<pre>
[VERBOSE]: BBEStatus: {
    description = "Build waiting in the queue...";
    key = Buildasaur;
    name = Buildasaur;
    state = INPROGRESS;
    url = "https://stlt.herokuapp.com/v1/xcs_deeplink/myserver.com/fb69145e64f3806cec314c66b5fcc66a/aae9ab4de88ee161ac51fd231005d97

[2016-05-19 22:06] reststop commented on #273
Seeing that it only happens on some status posting.... looking for a pattern.
Other statuses are posted fine:  e.g.  These did not hit the error breakpoint:

<pre>
[VERBOSE]: BBEStatus: {
    description = "Build waiting in the queue...";
    key = Buildasaur;
    name = Buildasaur;
    state = INPROGRESS;
    url = "https://stlt.herokuapp.com/v1/xcs_deeplink/myserver.com/aae9ab4de88ee161ac51fd231

[2016-05-19 23:06] reststop opened #274 "Force unwrap crash in Bot.init (JSON contains an error)"
@ BuildaUtils/JSON.swift:: L#74
<pre>
73    public func nonOptionalForKey<Z>(key: String) -> Z {
74        return self.optionalForKey(key)!
75    }
</pre>

Context parameters::
<pre>
Key = "configuration"
self = 2 key/value pairs
   key = NSTaggedPointerString*
   value = "error creating bot: Could not perform request because the database produced an error: error happened in your connection"
   ke

[2016-05-20 09:53] czechboy0 commented on #272
Cool, closing this and moving to https://github.com/czechboy0/XcodeServerSDK/issues/134

[2016-05-20 09:53] #272 closed

[2016-05-20 10:19] czechboy0 commented on #273
Once again, @reststop, unfortunately this looks like all BitBucket Server code, which was written by someone else, so I'm afraid I can't help you here.

[2016-05-20 10:19] #273 closed

[2016-05-20 10:21] czechboy0 commented on #274
Interesting, this looks like a genuine error in XcodeServerSDK. Could you please provide more details on the response that you received? The error code? The JSON contents? It looks like we got 200 OK, with a JSON payload, but the contents were an error instead of Bot contents. So I need as much info as possible to be able to detect this earlier in the call, thanks! 😊

[2016-05-20 10:24] czechboy0 commented on #268
In ServerConfigs.json, I can see `"user" : “me”`, but the second set of quotes are an incorrect type. Did you do that when anonymizing the data or was it there before?

[2016-05-20 23:24] reststop opened #275 "Not enough information on Error message - Which PR?"
Received the following error in the log, and it repeats for each successive scan:

[ERROR]: Integration #1 finished with a checkout error - please check that your SSH keys setup in Buildasaur are correct! If you need to fix them, please do so and then you need to recreate the bot - e.g. by closing the Pull Request, waiting for a sync (bot will disappear) and then reopening the Pull Request - shoul

[2016-05-25 19:50] reststop commented on #274
If the crash re-occurs, I will definitely get more data.  So far, it has not recurred.

[2016-05-26 17:12] nhaskins01 opened #276 "Private Bitbucket Repo"
@czechboy0 My company uses a private bitbucket repo with a custom url: stash.company.com . Is there anyway we can override the default bitbucket url? My company would really like to use buildasaur.. but this is obviously preventing us from using it

[2016-05-26 21:56] czechboy0 commented on #276
Hi @nhaskins01,

unfortunately BitBucket Server (self-hosted) isn't officially supported yet, but there is at least one fork with it working, so please take a look here: https://github.com/czechboy0/Buildasaur/network (I see at least two forks with bitbucket server).

But as you'd expect, if you have specific questions about their code, you'll need to talk to them directly.

[2016-05-26 21:57] #276 closed

[2016-05-26 22:18] reststop opened #277 "Wrong project after cancel when creating new syncer"
Environment:
<pre>
Existing Syncers:
* Name
    * Server: localhost
    * Project: [Name]
    * Repo: stash.company.com:port
    * Template: [Name]PRs
* Buildasaur
    * Server: localhost
    * Project: Buildasaur
    * Repo:stash.company.com
</pre>

What happened was I was creating a new Syncer to point to a 2nd project instance of Buildasaur on public GitHub instead of my copy on our Stash serve

[2016-05-26 22:35] reststop commented on #277
Additional Info:

Checked Syncers.json.  Looks OK.

<pre>
[
  {
    "preferred_template_ref" : "9FB36056-E824-4B17-B6C6-0A509ABB53CF",
    "id" : "651B80E6-FB03-427C-96FE-8BF40BFF235C",
    "sync_interval" : 300,
    "server_ref" : "C88C41F4-C4D3-4111-AF0C-A4757EF38AA7",
    "post_status_comments" : true,
    "project_ref" : "2D993DA2-2E3B-4C12-B3C3-0CDD1EC3CCD2",
    "wait_for_lttm" : false,

[2016-05-26 23:46] reststop commented on #277
A little more info...

When I select the "Name" project, then it used the 2nd Buildasaur project.
This seems like there is an ordering issue which is getting the order wrong.

Popup shows:
- Buildasaur
- Name
- New Project...

Selecting each of these we get:
- Buildasaur - stash
- Buildasaur - github
- Name - stash

[2016-05-27 00:48] reststop opened #278 "Failed to access server, error: 404: for GitHub"
Tracking down a previous issue, I removed the offending entry from Projects.json and went through the steps of replicating the problem.

I added some extra log statements to BuildaUtils and I notice that when creating a new Syncer, for a project on the public GitHub, the Project screen shows the correct URL using SSH, and there are no SSH errors.  However, the URL actually used to connect to GitHu

[2016-05-27 02:21] reststop commented on #278
I'm just guessing, but I would think that in the following block, service_type should be the type of server, such as "github", "bitbucket", "gitlab", "bitbucket-server", "etc." and then the correct service should be called.

Methinks the branch I'm working with may ONLY talk to bitbucket-server/stash.

Correct me if this is reasonable / correct / wrong / ...

<pre>
[
  {
    "service_type" : "gith

[2016-05-27 02:26] reststop commented on #278
Time to revisit forking directly off your branch and adding services for Stash as different than bitbucketEnterprise/bitbucketServer... ;-)

What I have works "mostly", but apparently doesn't handle multiple repository types, or the part that creates the Project.json isn't updated correctly.

[2016-05-27 15:18] macdema commented on #276
@czechboy0 I also need private repo support. I'd rather not get tied to a forked repo for ongoing support as it seems there were significant changes between Xcode 6 and 7 which you had to update Buildasaur for and I expect the same to happen moving forward. I'd like to make my own build but it's asking for a BitBucketAPIClientId and BitBucketAPIClientSecret when I try to run `pod install` and I'm

[2016-05-31 20:18] voidrender commented on #162
I still haven't been able to make a mixed scheme or aggregate target that will work for building both iOS and tvOS targets, but I did come up with a work around today. Run two Buildasaurs! One of them is running on our dedicated CI server and builds the iOS target, the other is running on my workstation and builds the tvOS target.

[2016-06-01 01:38] reststop opened #279 "Question: Preference for adding a service"
Hi Honza,

I'm looking over the changes made by more than one of the forks to the project, in particular gchoing and rcaileff.  Gianne took to refactoring and creating structures for the server.  (versus the switch approach).  Gianne also did another brach which was more canonical, but I haven't looked that closely at that branch yet.

Since I'm looking to add a .BitBucketStash entry (since Stash

[2016-06-02 15:03] valeriomazzeo commented on #132
this would be super useful! 👍

[2016-06-02 22:11] reststop commented on #275
Two things.

1) I'm not sure if it is possible on Stash or Bitbucket/Bitbucket enterprise to close a PR and re-open it.  However, I think that the cleanest way on XcodeServer is to simply delete the offending bot and let Buildasaur see there is no bot for the PR and it will create a new one.

If it is an SSH key problem, this. of course, will not fix the issue.  However, on our server, we have had

[2016-06-02 22:14] reststop commented on #275
I suggest also changing the entire message to include deleting the offending integrations or the offending bot, instead of closing and re-opening the PR.  I did not change it, since I was making the most minimal change and didn't want to start a long discussion on the many ways/reasons for a checkut failure.

-Carl

[2016-06-03 08:20] czechboy0 commented on #275
The thing is that closing the PR will cause Buildasaur to delete the bot and reopening will create a new one, so it's the same solution as you're suggesting (just hopefully slightly easier).

Yeah definitely send a PR into this repo. First fork the repository with the fork button at the top right, then clone that fork locally, make the changes on a new branch and then open a new PR from you fork's

[2016-06-03 08:22] czechboy0 commented on #279
Long term, probably the first one scales better. The second one stemmed from my laziness rather than from a desired design. Thanks!

[2016-06-03 08:22] #279 closed

[2016-06-03 08:25] czechboy0 commented on #278
Yeah the links above look suspicious, those must be added in the fork. Please consult the author directly, sorry I can't be of much help here.

The pending PR for adding GitHub Enterprise actually is some good work and I'm willing to accept it (I was just waiting for someone else to give it a try and verify it works as I cannot do that myself). So if you want to add Stash support yourself, probabl

[2016-06-03 08:25] #278 closed

[2016-06-03 08:28] czechboy0 commented on #277
Once again, this could be an issue with the fork. If you can reproduce this error with the official release of buildasaur (just with BitBucket Cloud and GitHub.com projects, I'll take a look because that would mean it's an issue in main repo Buildasaur).

[2016-06-03 08:28] #277 closed

[2016-06-04 02:18] reststop commented on #277
I'll let you know.

The branch I forked from gchiong currently only works on my Stash server,
as the JSON shows all projects are "github".

So, the plan come Monday is to work off a direct fork of your repo, and add
in the Stash server and verify we see something other than just "github" it
can work against both Stansh and GitHub at the same time.

Once that is working I will test against github,

[2016-06-17 13:40] czechboy0 opened #280 "Test with Xcode 8 beta"
Let's find out how we're doing with the new Xcode.

[2016-06-17 14:23] czechboy0 commented on #274
I ended up moving to error propagation with #281, so now Buildasaur shouldn't crash anymore if it can't find an expected key in a received JSON. Please report if you still see this, now it'll just be a syncer error being printed out and shown in the UI.

[2016-06-17 14:23] #274 closed

[2016-06-17 20:39] eric-chamberlain-intel opened #282 "Archive without creating an ipa?"
Hello,

Is it possible to configure Buildasaur to create an archive without generating an ipa, like the bot wizard offers?

Currently, the archive setting builds both the archive and the ipa.  Our problem is that creating the ipa adds over ten minutes to our build.  We don't want Xcode CI to automatically build the ipa, because we need the ipa signed with our enterprise certificate before distribu

[2016-06-18 00:04] reststop commented on #274
Sounds good.  It has only happened once so far.

On Fri, Jun 17, 2016 at 7:23 AM, Honza Dvorsky notifications@github.com
wrote:

[2016-06-21 16:53] max-desiatov opened #283 "An error always appears when editing a template"
Hi! For some reason Buildasaur started displaying an error message on a certain step of template editing. That step is always stuck in loading (the spinner in the corner doesn't disappear) and "Next" button is always disabled. See attached screenshot. Please let me know if any additional information is needed for diagnostics.

![screen shot 2016-06-21 at 17 50 49](https://cloud.githubusercontent.c

[2016-06-21 16:57] czechboy0 commented on #283
Hi yes, I made changes so that invalid parsing doesn't crash Buildasaur anymore, now an error is shown. Unfortunately the description is not very descriptive, haha. Could you please take a look into the log at ~/Library/Application Support/Buildasaur? Hopefully that'll print the full text of the error. Thanks!

[2016-06-21 16:57] czechboy0 commented on #283
Also - note to self - make sure the error description is properly printed.

[2016-06-21 17:10] ghost commented on #283
Hey, thanks for the quick reply. Unfortunately, I don't see anything related to the error in the logs. Last few lines are:

[code]

So the last line is about the scheme selection which was successful just before the error appeared.

[2016-06-21 19:01] czechboy0 commented on #283
Damn, okay. Could you try to clone the Buildasaur code and run it in Xcode? Otherwise I'm afraid there's no way to get to more details about the error.

[2016-06-22 10:05] ghost commented on #283
Having a problem here trying to compile it:

[code]

What's the expected input for that?

[2016-06-22 14:27] czechboy0 commented on #283
Hmm just put anything in, if you don't use OAuth in Buildasaur (by e.g. providing your github token manually), you won't need this.

[2016-06-22 14:35] czechboy0 commented on #282
Sorry, that option is not in the Buildasaur UI yet, definitely something to add (I'd accept a PR too!)

[2016-06-22 14:37] ghost commented on #283
Hm, interesting, I didn't think it might be needed just at `pod install` stage. Will try what you said, thanks.

[2016-06-22 14:43] czechboy0 commented on #283
It's because I'm using CocoaPods Keys to store the private OAuth Buildasaur keys on my computer.

[2016-06-22 18:27] ioveracker opened #284 "Add Quit option to Buildasaur menu"
It seems that the only way to quit Buildasaur at the moment is to kill the process. Should a Quit item be added to the Buildasaur menu?

[2016-06-22 20:31] czechboy0 commented on #284
Yeah, I removed it as there was some weird issue, but if you have time to readd it, I'd accept it

[2016-07-04 19:51] MaxDesiatov commented on #283
I've created a PR that fixes this: https://github.com/czechboy0/XcodeServerSDK/pull/137

[2016-07-12 07:31] Antondomashnev opened #287 "Add predefined triggers"
Hi all,

As I mentioned in #285 I'd like to propose another feature: add predefined triggers to Builda. The use case behind it that usually project has some common triggers such as `install cocoapods`, `run fastlane`, `run danger`, etc. And I think this will be a benefit during setup yet another syncer if the developer doesn't need to write it manually.

In the best case scenario, I'll expect thes

[2016-07-12 08:58] czechboy0 commented on #287
Agreed, I think this will be great.

[2016-07-16 11:23] mike011 commented on #270
Anybody know a workaround? Trying to pull the submodule in a trigger, just seems to hang.

[2016-07-16 11:39] czechboy0 commented on #270
Yeah, I'd probably try the same. Although I have no previous experience with using submodules with XCS, sorry.

[2016-07-19 00:43] reststop opened #288 "Trying to sync again..."
After a Syncer has been running for a long time, generally more than a week, I have seen the following error:

**Trying to sync again even though the previous sync hasn't finished. You might want to consider making the sync interval longer. Just sayin'**

This error repeats forever, or until Buildasaur is killed (Did NOT try stopping the Sync and restarting it.  Will try that the next time I see t

[2016-07-19 01:08] reststop commented on #288
Found the following with grep for the error in all current logs
- grep 'Trying to sync again' **Builda.log** | wc -l
  **1003**
- grep 'Trying to sync again' Builda.log2016-05-22T02-45-42 | wc -l
     **3**
- grep 'Trying to sync again' **Builda.log2016-05-26T18-57-00** | wc -l
  **1607**
- grep 'Trying to sync again' Builda.log2016-05-31T17-56-25 | wc -l
     **0**
- grep 'Trying to sync again' B

[2016-07-20 07:06] czechboy0 commented on #288
This looks like the GitHub server or the Xcode Server are taking a long time to respond. This isn't really an issue, it's just informing you that each sync takes longer than expected, not allowing for the specified sync frequency. Feel free to take a look, but I doubt it's an issue in Buildasaur - and again, it's not an error, just an info log. Please open if you find some evidence of it being an

[2016-07-20 07:06] #288 closed

[2016-07-20 09:00] reststop commented on #288
Hi Honza,

Yes, I would agree, if the warning came out only once, but that's not the case.  The point of this report is that the syncer seems to stop working and the info message repeats forever.  I just never had the time to do much investigating.

If I kill Buildasaur and restart it, the problem vanishes immediately.

In the log files I showed excerpts from, once the Info message started, it app

[2016-07-20 09:25] czechboy0 commented on #288
Yes, if you put a breakpoint and hold the syncer, it will print this message - that's how this info message works. It records the time at the start of the sync and if it finishes after it was supposed to start the next sync, it prints this. So it's expected to happen while debugging.

Regarding the cases when this happens overnight, I wonder if it isn't completely stuck, waiting for some resource.

[2016-07-20 15:44] filipemcarvalho commented on #180
Are there still people interested on this topic? 👍

[2016-07-20 16:20] Andrewpk commented on #180
Me still, of course 😄

[2016-07-22 17:18] dbonates commented on #239
this will be cool, exact what I'm looking for.

[2016-08-02 20:31] thalmicMark commented on #280
Do you have an estimate on when you'll support Xcode 8? I'm trying locally and getting the following error:

[code]

[2016-08-03 09:24] czechboy0 commented on #280
Hi @thalmicMark, can you please make sure you're using the latest version of Buildasaur? I fixed some issues with JSON parsing in 1.0.1. If it still persists, I'll take a deeper look. Thanks!

[2016-08-03 14:19] thalmicMark commented on #280
Yeah, I'm on `v1.0.1`.

[2016-08-03 14:46] czechboy0 commented on #280
Ok. I just ran Buildasaur with Xcode Server running Xcode 8 and things worked. Can you tell me your exact setup: Server.app, Xcode versions, maybe even exact steps?

[2016-08-03 15:36] thalmicMark commented on #280
Buildasaur: `1.0.1`
Server: `5.1.53 (16S1137f)` (This is Server beta 3)
Xcode: `8.0 beta 4 (8S188o)`

I installed Server beta 3, and when selecting the beta version of Xcode 8, Server prompted me to create an Xcode Server user account. Once that account was created, Xcode Server was able to run my bots.

Since I installed Server beta 3, my Buildasaur syncer has been displaying the above error. Are

[2016-08-05 14:29] thalmicMark commented on #280
Found this in the logs:

[code]

[2016-08-05 15:37] thalmicMark commented on #280
I've also got the JSON response from my server that is causing the error (response from `https://127.0.0.1:20343/api/bots`). Can send to you privately.

[2016-08-05 16:02] czechboy0 commented on #280
Yes please, czechboy0 at gmail
On Fri, Aug 5, 2016 at 5:37 PM Mark DiFranco notifications@github.com
wrote:

[2016-08-08 19:48] czechboy0 opened #289 "I'm looking for a new owner for Buildasaur"
As I [won't be able](https://twitter.com/czechboy0/status/762662990135062528) to maintain Buildasaur anymore, I'm looking for a new owner (or owners) for this great project (together with our dependencies [XcodeServerSDK](https://github.com/czechboy0/XcodeServerSDK) and [BuildaUtils](https://github.com/czechboy0/BuildaUtils)). As Buildasaur is relied upon by hundreds of teams and individuals, I do

[2016-08-08 20:53] voidrender commented on #289
I'm willing to help, but I feel like being the _owner_ is a big responsibility. What about forming a Buildasaur org (like [Danger](https://github.com/danger), [Moya](https://github.com/moya), et al) for the core maintainers? Buildasaur, XcodeServerSDK, and BuildaUtils could all be transferred to the org.

[2016-08-08 20:59] czechboy0 commented on #289
That's the plan 😊 https://github.com/buildasaurs

Can I invite you to it?

[2016-08-08 21:06] voidrender commented on #289
Sure!

[2016-08-09 15:19] tamastimar commented on #238
Meaning support for self-hosted BitBucket?

[2016-08-09 16:44] czechboy0 commented on #238
@tamastimar Yes, that's what is meant by that. We support BitBucket cloud-hosted repositories already.

[2016-08-12 08:58] valeriomazzeo commented on #283
I have the same issues, it worked fine before updating

[2016-08-12 09:02] czechboy0 commented on #283
Can either of you verify it's fixed in master of Buildasaur? I've updated XcodeServerSDK there

[2016-08-12 09:10] valeriomazzeo commented on #283
I don't have any easy way to compile code on the server :S
Also `pod install` yells:

[2016-08-12 18:45] voidrender commented on #283
@valeriomazzeo You can build and run Buildasaur on your workstation to test, or alternatively, you could build and then copy Buildasaur.app from the Products group to your CI server:
![buildasaur_xcworkspace](https://cloud.githubusercontent.com/assets/1653961/17633296/60fb2e60-6081-11e6-8158-5e7c5b33c26b.png)

As for the `pod install` warning, you'll need to give it answers for the [cocoapods-keys

[2016-08-12 19:07] czechboy0 commented on #283
@explicitcall Can you please verify this is fixed in 1.0.2? (Please close this issue if so, cheers)

[2016-08-13 00:38] tettoffensive commented on #165
@czechboy0 I'm still getting this. Am I doing something wrong?

[code]

[2016-08-13 02:16] voidrender commented on #165
@tettoffensive
1. Is your repo cloned via SSH?
2. Does your remote URL look like `ssh://user@server/project.git` or `user@server:project.git` or is it something else?

[2016-08-13 03:01] tettoffensive commented on #165
@ioveracker that could be the problem. It is likely https. Ill try cloning with ssh.

[2016-08-13 03:06] MaxDesiatov commented on #283
Fixed for me, thanks.

[2016-08-13 03:07] MaxDesiatov commented on #283
I don't have a permission to close the issue though.

[2016-08-13 07:08] #283 closed

[2016-08-13 13:23] valeriomazzeo commented on #283
I confirm this is fixed in 1.0.2

[2016-08-15 19:12] tettoffensive commented on #280
@thalmicMark @czechboy0 I'm getting the same error with Xcode 7.3.1, Buildasar 1.0.2, Server 5.1.5. Is there any solution to this?

`Last sync failed with error The operation couldn’t be completed. (BuildaUtils.JSONError error 0.)`

[2016-08-16 09:12] kafejo commented on #289
I'd like to help too

[2016-08-16 09:15] czechboy0 commented on #289
@kafejo I'm very happy to hear that, can you send me your email address at czechboy0 at gmail? I'll invite you to our slack and to the GitHub org

[2016-08-16 14:13] seanlabastille commented on #166
As a quick note, `_xcs2p._tcp.` is the Bonjour service that is advertised by Xcode Server:
These can be browsed with `dns-sd -B _xcs2p._tcp.`

[2016-08-16 14:17] seanlabastille commented on #289
I'd also like to support the buildasaurs. I've popped you an email.

[2016-08-16 14:25] czechboy0 commented on #166
@flufff42 That's awesome, would love a PR with a function that just returns the list of found Xcode Servers :) (So that we can later connect it to the UI, where users could just pick one instead of having to write out the hostname)

[2016-08-17 12:54] seanlabastille commented on #280
I guess the logging for missing keys could be tweaked a bit. It looks like as of Beta 6 trigger conditions don't contain the `onInternalErrors` key anymore.

Workaround, patch `TriggerConditions.swift:55` to read

[code]

[2016-08-17 13:36] czechboy0 commented on #280
@flufff42 Could you please PR a fix for that in XcodeServer? https://github.com/czechboy0/XcodeServerSDK/blob/1bdcf1af67007123d25e2e73504935c46084bb08/XcodeServerSDK/Server%20Entities/TriggerConditions.swift#L55

We can just use it if it's there, give `false` if not, i.e.
`self.onInternalErrors = try? json.boolForKey("onInternalErrors") ?? false`

[2016-08-17 13:56] seanlabastille commented on #280
Sounds good, I've opened https://github.com/czechboy0/XcodeServerSDK/pull/140 in place.

[2016-08-17 15:49] thalmicMark commented on #280
When can we expect a release with https://github.com/czechboy0/XcodeServerSDK/pull/140 included? I saw it was just merged.

[2016-08-17 16:55] czechboy0 commented on #280
@thalmicMark @flufff42 Here's a release with the fix: https://github.com/czechboy0/XcodeServerSDK/releases/tag/v0.7.1

It's also in master of Buildasaur, just pull from there and run `pod install`.

[2016-08-17 23:26] tettoffensive commented on #280
@czechboy0 Is there any change there'll be a new Buildasar.app to download? I'm having a lot off issues building. Every step I get to I end up having to debug and I finally get past it only to run into another issue:

Currently, it's

[code]

_UPDATE: solved that by changing the pod to look at version `4.2.1` in the Podfile_

[2016-08-18 07:53] czechboy0 commented on #280
@tettoffensive Can you try 1. delete the Pods folder, 2. ensure your cocoapods version is 1.0.1, 3. run pod install again? This exact sequence worked fine for me.

[2016-08-18 14:16] thalmicMark commented on #280
I'd like an official Buildasaur.app as well, otherwise I'd need to create my own GitHub API keys. If the timeline for an app is too long, we'll go down the custom key road, but I'd like to avoid it.

[2016-08-18 17:46] tettoffensive commented on #280
@czechboy0 I managed to build by changing the ReactiveCocoa pod version to `4.2.1`. I am running cocoapods `1.0.1`

Now, I'm running the master version of Buildasaur, but I still get the same error.

[code]

[2016-08-18 18:47] seanlabastille commented on #280
To get a better idea of which response is causing this error you can set a Swift Error breakpoint in Xcode.
It should look like this:
<img width="445" alt="screen shot 2016-08-18 at 20 46 33" src="https://cloud.githubusercontent.com/assets/252173/17786409/fae7fa64-6584-11e6-914a-91d7ff3e35b6.png">

[2016-08-18 19:57] SwipeTeam commented on #280
[code]

[2016-08-18 20:01] tettoffensive commented on #280
[code]

[code]

[2016-08-18 20:32] czechboy0 commented on #280
@tettoffensive whoa, that looks like Bots don't have a `name` anymore? Which Xcode is this?

[2016-08-18 20:39] tettoffensive commented on #280
@czechboy0 `7.3.1 (7D1014)` It shows up in xcode/browser as having the name "Channels Beta Bot"

[2016-08-18 20:50] thalmicMark commented on #280
You can check the raw JSON here `https://127.0.0.1:20343/api/bots`.

[2016-08-18 21:10] tettoffensive commented on #280
@thalmicMark @czechboy0 so it turns out the call is returning 400. weird because i get a valid json response in the browser.

[2016-08-19 00:32] tettoffensive commented on #280
tried changing my xcode server to "Bots can be created and viewed by: all users" on "all networks", but still a 400 :(

[2016-08-19 00:56] tettoffensive commented on #280
i did a little debugging:

[code]

used the json output and put that into Paw. and found that the `schemeName` wasn't properly set.  I'm pretty sure I set it, but I went back and reset it up and this time it seems to be working.

[2016-08-25 22:34] reststop commented on #289
I'd also be willing to help out, as I'm using Buildasaur for production and looking to make it work both with Stash and GitHub Enterprise (will be testing that in the next month).

I won't volunteer for being the owner, as I can't commit the time right now.
Please add me to your list to invite.  I'll send you a private email.

[2016-08-25 22:50] czechboy0 commented on #289
@reststop Great! And don't worry, the project will be owned by the github.com/buildasaurs org, which has almost 10 people now. So no one person will need to have all the responsibility, there'll just be more people who can step in if they feel like it.

I _will_ need 1-2 people who will make the releases etc, but that's not a large time commitment really :) (Volunteers welcome)

[2016-08-25 22:55] reststop commented on #289
Happy to help with releases if I have the time.  I have asked at work about making this (updating Buildasaur for both our Stash and GitHub Enterprise) an official project, and the idea was well received, but no commitment was given yet for a go-ahead.  I'm sure whatever free time I have can be applied.

[2016-08-25 22:59] reststop opened #291 "Environment Variables?"
The latest (released) version of XcodeServer allows the user to add environment variables to the bot configuration.

Unfortunately I'm unable to run the stock version of Buildasaur as there are firewall issues reaching the public github.  (At least I haven't been able to get it to work yet, due to proxy configuration issues).

So, I don't know if anyone has added the capability to add environment

[2016-08-26 09:29] czechboy0 commented on #291
No, not yet.

[2016-08-26 20:54] reststop commented on #291
I guess that may be something I'll look into ;-), I'm using the feature now
in order to bootstrap some scripts which are eventually going to be in our
repository, but am using the env variable to specify where the scripts are
currently located while testing.

On Fri, Aug 26, 2016 at 2:29 AM, Honza Dvorsky notifications@github.com
wrote:

[2016-08-29 08:08] flufff42 opened #292 "Custom post-integration actions"
Once an integration completes it may have produced several artefacts, including:
- Logs for all build phases
- Archives
- Executables

These can be retrieved using the Xcode Server API as a ZIP archive hosted at `/xcode/internal/api/integrations/:integration/assets`.

The archive looks roughly as follows:

[code]

Since there are various issues related to exposing Xcode Server to the internet it w

[2016-08-29 08:50] czechboy0 commented on #292
You should be able to do anything you want in a post-build script: https://honzadvorsky.com/articles/2015-08-17-17-30-xcode_server_tutorials_3_prebuild__postbuild_scripts/

[2016-08-29 09:00] seanlabastille commented on #292
@czechboy0 I'll need to double-check that. I'm not sure if the ZIP is already available at that stage. Because the post-integration trigger logs are also included there.

[2016-08-29 09:06] czechboy0 commented on #292
Not sure which zip you mean exactly, but everything is accessible from the script, as it runs _after_ the build completes. Just add a post-build script with `set` so you get all env vars printed out and can see what's available (all of the Xcode Server ones have the prefix `XCS_`)

[2016-09-06 13:18] Antondomashnev commented on #255
I have the similar problem in my current setup, will try to add more details later.

[2016-10-08 22:09] pajapro opened #293 "Setup questions?"
Hi @ioveracker, @accatyyc and other maintainers,

I have a few questions and thought I will form them into one Github issue:
1. With the latest Xcode Server 8, one creates "CI user" account in order to have separated environment. Am I suppose to install and run Buildasaur from the "CI user" account or from administrator account?
2. I managed to setup a bot for one of my project where I use cocoapo

[2016-10-09 02:08] kdawgwilk commented on #280
Tried setting up Buildasaur fresh with Xcode 8 and got stuck on the page to create a new Build Template.  I just get the endless spinner in the top left.  I looked briefly in the code and it seems to be stuck waiting for a response from the XcodeServer API or the response was invalid.  I tried pulling the project to build it myself to see if I could debug things a little more but I already updated

[2016-10-09 08:44] seanlabastille commented on #293
Regarding the CI user it is probably a better idea _not_ to run Buildasaur using that user. Keeping that account only for builds makes it easier to isolate issues and if necessary recreate the account without losing your Buildasaur setup.

Unless you have the `.bash_profile` for the CI user configured to include CocoaPods in its `$PATH` you are better off setting this explicitly at the top of your

[2016-10-09 08:46] seanlabastille commented on #280
@kdawgwilk You may want to create a new issue for this and detail your exact setup. Xcode 8 has been out for a little while now and you seem to be the first to report this particular issue.

[2016-10-09 09:45] pajapro commented on #293
Good point and thanks for advise.

It also solved the Cocoapods issue. One more question @flufff42, why does Builda need Github access token when creating a new syncer? Shouldn't the SSH keys be enough?

[2016-10-10 05:52] seanlabastille commented on #293
Using an API token allows Buildasaur to [update the pull request being integrated with the build status](https://github.com/buildasaurs/Buildasaur#envelope-posting-status-comments).

[2016-10-11 20:19] kdawgwilk opened #294 "Buildasaur hangs on Build Template View when using with Xcode 8"
# My System Setup
10.11 macOS El Capitan
Xcode 8
Buildasaur v1.0.3

# My Project setup
iOS
CocoaPods
Fastlane
Bundler

I have a few shared schemes as well
4 build configurations (this seems it could likely be the culprit):
- Debug
- Alpha
- Beta
- Release

[2016-10-11 23:21] kdawgwilk opened #295 "Migrate Buildasaur and deps to Swift 3"
I mentioned this on the Slack team but it doesn't seem as active as the Github repo so I will discuss things here.  First has anyone already began work on migrating Buildasaur or any of its dependencies to use Swift 3?  I thought this would be a good opportunity for me to start contributing so I can get familiar with the various projects.

[2016-10-15 17:00] arlo-egg commented on #294
Same here. I can select a scheme from the dropdown but the Build,Test dropdown never gets populated with simulators/devices and the spinner in the top left never stops.

![screen shot 2016-10-15 at 9 59 52 am](https://cloud.githubusercontent.com/assets/18194305/19411896/e9e6d12e-92be-11e6-8274-6c22f4616fe6.png)

Where could I find logs to help me better understand the problem?

[2016-10-17 20:49] jonah-williams opened #296 "Pattern matching for Bot branches"
Hi folks! Buildasaur has been working great for our feature pull requests but I'd like to improve more of our release automation and think that would be hard to do with the tool as-is. Before I sink time into a pull request specific to my needs I'd love to hear if any of you would like the same thing, or something similar to solve your own problems.

Today we have Buildasaur manage Bots for each p

[2016-10-17 21:21] eric-chamberlain-intel commented on #296
We manage release branch specific bots outside Buildasaur, since they tend to have custom configurations.

[2016-10-18 15:22] danielgalasko commented on #257
We seeing the same issue here as well. Also private setup and we can run bots etc

Its weird because it only happens when we try from a mac mini, setting up locally it works.

Ideas?

[2016-10-25 16:45] danielgalasko commented on #289
Me three!

[2016-11-11 11:03] emmaviolet opened #297 "Buildasaur bots failing to find derived data"
@ecaselles and I have just updated from Xcode 7.3 / Buildasaur 1.0.1 to Xcode 8.1 / Buildasaur  1.0.3, and are now finding that buildasaur bots are consistently failing to build our app on simulators, failing with errors like:

[code]

[code]

We would usually address these sorts of errors by clearing the derived data on Xcode, but we're not sure how to do this with a Buildasaur Bot (we already ha

[2016-11-11 22:14] #293 closed

[2016-11-14 14:13] krin-san commented on #270
Same bug as in https://github.com/lionheart/openradar-mirror/issues/8030
Waiting for any response in https://forums.developer.apple.com/thread/52357

UPDATE: Can't trust Apple to fix their endless issues. Falling back to CocoaPods solution.

[2016-11-18 13:33] krin-san commented on #238
It's a feature I want to have 'cause it's blocking my corporate Xcode Server + Buildasaur + DangerCI  integration for a PR review process.

I found one of the forks with BitbucketServer support: https://github.com/buildasaurs/Buildasaur/compare/master...gchiong:feature/bitbucket_server_support
Would be nice to have it in a native codebase because this fork should be migrated to the latest master s

[2016-11-22 13:27] krin-san commented on #238
I rebased @gchiong branch with bitbucket server support on the latest `buildasaurs/master` state. It's not a perfect version to make a pull request due to some architecture style conflicts, but it's good enough to try it out.
https://github.com/krin-san/Buildasaur/tree/feature/bitbucket_server_support

[2016-11-22 21:42] ManaliPatel opened #298 "Last Sync Failed with error (BuildaUtils.JSONError error 0)"
I am using
Buildasaur  1.0.3
Xcode 8.1

and seeing error after setting up build template..

`Last sync failed with error The operation couldn't be completed. (BuildaUtils.JSONError error 0)`

Can someone help?

[2016-11-25 15:08] pfandrade commented on #296
I have the same use case. We use git-flow, and having bots be created automatically when a release/* branch is first pushed would fit our needs perfectly.

[2016-11-30 10:59] Antondomashnev opened #299 "Continuously happening authorization error after a while of running"
Unfortunately I don't have much to say in details. But I think since a week, I have to authorize the GitHub user which Builda is using everyday. Otherwise the syncer fails with the authorization error.

[2016-12-05 16:54] MattNewberry commented on #294
+1 Also seeing this as well... In my case, I'm able to see the devices list populated after a period of time, however the "Build,Test" list is never populated.

[2016-12-08 12:46] krin-san commented on #294
+1 Do you know any workaround for this issue?

[2016-12-08 13:02] krin-san commented on #299
+1 Same issue with my setup. I integrated with a BitbucketServer (forked repo build) and all works fine, but sometimes I notice that bots are not created for a new PR. When I see Buildasaur status, it says "401 Authorization error" and require to enter Captcha.

It brings me idea that Buildasaur sometimes lose the password or can't take it from keychain on some attempts - it becomes invalid or emp

[2016-12-08 13:23] krin-san commented on #294
I found something but not sure if it works always. Try to:
* create a new template
* enter template name
* select Scheme

After that just wait some time until device list was filled with devices and "Build,Test" field become non-empty.
I catch this bug when I rushed through the fields filling them with values without waiting :)

[2016-12-15 06:07] jawaidahmed opened #300 "Downloading iOS 9.3 Simulator does not proceed ahead from Xcode 8.1"
I am trying to download iOS 9.3 Simulator from Xcode 8.1 But some times downloading fails due to time out but after using 4G Network I got authorization e error. I have iPhone 4S with iOS 9.3.5 version, so I want to test my app on my iPhone. As Xcode 8+ does not support iPhone 4S because it has lower deployment target so I have changed my Xcode's deployment target to iOS 9.3 from 10.1. That's why

[2016-12-20 10:06] Antondomashnev commented on #299
UPD: It stopped happening for some reason, so far three days without authorization issue.

[2016-12-21 13:03] krin-san commented on #294
Another issue with this case: even if simulators list will be populated, the build template will have an empty name and Syncer could not be started. I'm having issues with syncing simulators list (it works from time to time), with the Next button (it could be disabled sometimes for unknown reason) and even if it's enabled, going to the next page shows empty Template instead of what I created on pr

[2016-12-23 08:16] Antondomashnev commented on #300
@jawaidahmed I'm not sure this question is related to the @buildasaur.

[2016-12-28 15:14] rafalkitta commented on #294
+1
On macOS Sierra (10.12) and Xcode 8, Buildasaur v1.0.3 is unusable.

[2017-01-23 09:38] jtdavid commented on #298
Same here. Same version.

[2017-01-24 17:39] msewell opened #301 ""Error Disallowed checkout type, the project must be checked out over one of the supported schemes: SSH" - but project *is* checked out over SSH"
Tried setting up Buildasaur at work today but ran into this issue:

<img width="420" alt="buildanope" src="https://cloud.githubusercontent.com/assets/4273846/22258765/23a20bd8-e263-11e6-8b1d-5254356cd9ba.png">

(This happens _despite_ having an `.xcscmblueprint` file in the workspace, by the way.)

So Buildasaur seems to think I've checked out the project over http*. I didn't, though. Excerpt from

[2017-02-03 06:38] momamene commented on #294
:+1:

[2017-02-06 10:58] krin-san commented on #299
I constantly getting this issue after my server re-establish VPN connection. Seems like a failure handler do smth that reset login/password cache and every next login attempt will be made with a wrong credentials.

Workaround: stop bot, login manually in browser to complete Captcha check, edit buildasaur bot configuration and complete first 2 steps (xcode server and bitbucket server connection) an

[2017-02-22 15:07] Antondomashnev commented on #294
Hi, I've also experienced the same issue, but only with specific project. As a workaround a can suggest to create a template manually.
Builda stores all configuration files under the folder `~/Library/Application Support/Buildasaur`. There are all json files, with quite straight forward structure.

Here is an example:
[code]

The only tricky part is to get the device ID. The way I did it - I copie

[2017-02-22 15:14] krin-san commented on #294
@Antondomashnev, yeah I came to the same workaround. But from my experience, device IDs in Buildasaur template files are not the same as iOS Device IDs you could see in Xcode devices list.

For that I found another workaround: in a signal when Buildasaur obtain JSON with devices list from server, I dump this json to file: https://github.com/buildasaurs/Buildasaur/compare/master...krin-san:feature/

[2017-02-22 15:22] Antondomashnev commented on #294
@krin-san hah, nice 👍

[2017-02-23 17:54] tomhut commented on #294
@Antondomashnev I also found that by simply GETing `https://your-server.local:20343/api/devices` you will receive a nice JSON payload of devices (including their "_id") from the server. 😄

[2017-03-20 22:11] glenyi-rue commented on #298
+1

[2017-04-20 10:15] krin-san commented on #294
Buidlasaur hangs on this step because of `xcodebuild -showSettings` hanging bug. Half a day and dozens of verbose Logs helped to locate the traitor 😄
Ref: https://forums.developer.apple.com/thread/50372

[2017-05-03 09:23] jtdavid opened #303 "XcodeServerSDK.XcodeServer.PlaceholderError error 0"
We're getting the following error:

`XcodeServerSDK.XcodeServer.PlaceholderError error 0.`

While trying to sync after upgrading to Xcode 8.3.2 and from Server 5.2 -> 5.3.

Anyone?

[2017-05-03 13:24] krin-san commented on #303
Did you tried to edit your Syncer after Xcode upgrade and complete all the steps?
I upgraded my environment to Xcode 8.3.2 and Server 5.2 (not 5.3) just today, edited single syncer to replace invalid iOS Simulators with the new ones and it works fine.

The only difference: I used manually compiled Buildasaur with #302 fix inside.

[2017-09-22 13:03] #292 closed

[2017-10-23 08:32] Sebkasanzew opened #304 "Unable to start app after upgrading to MacOS High Sierra"
Buildasaur worked on my Mac Mini and Xcode 9 with MacOS Sierra. After upgrading to High Sierra I cannot start Buildasaur anymore.

[2017-11-01 11:22] codeOfRobin commented on #304
Experiencing the same issue. Any known way to fix?

[2017-11-14 15:55] Shayanzadeh commented on #304
Partial crash log from High Sierra:

[code]

[2017-11-14 17:26] codeOfRobin commented on #304
Hey @Shayanzadeh . There's an actively mainained Swift-4 fork that you can build and use directly: https://github.com/s-faychatelard/Buildasaur . We should probably ask the maintainers. if we can make a PR.

[2018-01-11 20:51] jianliangzhao commented on #304
Any particular instructions for building it for MacOS High Sierra? Can it be built against xcode 9.2?

[2018-01-12 05:58] codeOfRobin commented on #304
@jianliangzhao All it took was a pod install for me

[2018-04-05 17:06] Moriquendi commented on #304
When running `pod install`, it asks for github keys. What should I type there?

[2018-11-28 00:17] chetannagarkar commented on #109
@czechboy0 Did we get Gitlab support with Buildasaur? I could not find any issue, PR or docs on this. Thanks!

[2019-02-21 19:37] E-B-Smith opened #305 "Announcing Xcode-GitHub, a New Buildasaur-like macOS App"
I created a new Buildasaur replacement app.

I loved Buildasaur, but since it wasn't being updated I coded up a quick light weight replacement.

It's called Xcode-GitHub: https://github.com/E-B-Smith/xcode-github

## Requirements
* Xcode 9 and above to run the bots.
* macOS 10.12 and above to run Xcode.

Sorry Buildasaur. I just wasn't ready to take on upgrading Buildasaur to Swift 4 and also debu

[2019-06-05 23:47] adamtharani opened #306 "Is this going to be updated to support xcode 10 or later?"

[2019-06-07 08:58] krin-san commented on #306
Most likely not. I suggest to evaluate alternatives: GitLab CI + Fastlane, Bitrise, etc.

[2019-06-07 21:58] adamtharani commented on #306
thanks

[2019-06-07 21:58] #306 closed