[2015-04-12 12:57] czechboy0 opened #1 "Save triggers independently of build templates (for easy reuse)"

[2015-04-12 12:58] czechboy0 opened #2 "Save token and credentials in keychain"

[2015-04-12 12:59] czechboy0 opened #3 "Show current step's string in the commit status (building/testing/archiving,...)"

[2015-04-12 18:59] czechboy0 opened #5 "Add logging into a file"
Mostly for debugging purposes, it'd be nice to have Builda logging all of its logs into a file instead of just the standard output.

[2015-04-12 20:30] czechboy0 commented on #5
Fixed in #6

[2015-04-12 20:30] #5 closed

[2015-04-12 20:58] czechboy0 opened #7 "Hook into the websocket published by xcs to update GitHub status better"
There is a websocket published by Xcode Server which posts very detailed updates on the build. You can see it in Xcode when watching a running build. This might be nice to pipe into Builda and maybe, in limited quantities, use for better updating of the state of the build in PRs.

[2015-04-14 08:21] czechboy0 commented on #7
Probably an enhancement of #3.

[2015-04-26 10:56] czechboy0 opened #10 "Disable URL caching to always get the latest data from GitHub (comments, statuses)"
The default `NSURLSession`'s configuration respects GitHub's response TTL, which is up to 60 seconds. However, if we want to sync more often (GitHub's authenticated rate limit is 5000 requests per hour, which is plenty to make Buildasaur very responsive to the team's workflow, when the sync interval is lower, cca 15sec), currently we get the same, cached response for ~4 more syncs, leading to dupl

[2015-04-26 12:32] czechboy0 commented on #10
Fixed in 23d13de3a628ce465b19e3b5ccf44ce345863e06

[2015-04-26 12:32] #10 closed

[2015-04-30 08:49] mdio opened #11 "Allow automatic start of builds after pull request has been opened"
Hi, Honza.
You probably already anticipated it, so here's the request for the possibility to remove the "lttm barrier". :)

We're using your awesome tool for our pull requests which go to private repositories with only trusted users to access them.
Forgetting to type lttm leads to no hints at all of any failed tests.

Right now we simply return isEnabled: true from isBotEnabled() in our own build

[2015-04-30 09:24] czechboy0 commented on #11
Hey Michael,

thanks for filing the first Buildasaur issue! :) Yeah making the lttm barrier optional makes sense, I'll look into allowing for customization of the bot enabled state from the UI or from a config file. Let me know if you have any more issues/ideas!

[2015-04-30 09:32] mdio opened #12 "Support multiple repositories"
You asked for it. ;)

It would be nice to be able to watch multiple repositories at the same time from the same machine.
Maybe a simple approach would be to allow multiple instances of Buildasaur running at the same time.

The only problem would be the 5000 requests limit which are used up by all instances but then one could simply configure each instance to poll less frequently.

[2015-04-30 09:37] mdio commented on #11
Not our use case but others may benifit from the possibility to set this individually per repository (see my other issue about multi repo support ;).

[2015-04-30 09:54] czechboy0 commented on #11
Yeah it would definitely be configurable on a per-[Syncer](https://github.com/czechboy0/Buildasaur/blob/master/Buildasaur/HDGitHubXCBotSyncer.swift) basis.

[2015-04-30 10:02] czechboy0 opened #13 "Find out whether GitHub rate limit is per user or per token"

[2015-04-30 10:11] czechboy0 commented on #12
Yeah this is also a good one, actually I wrote Buildasaur with this in mind, but I just haven't built the UI for it yet. You can see [here](https://github.com/czechboy0/Buildasaur/blob/master/Buildasaur/StorageManager.swift#L20) that we load an array of Syncers, just right now only one Syncer runs at one time, but the whole architecture is built for multiple projects to be synced at the same time.

[2015-04-30 10:23] mdio commented on #13
Just tested it myself and the rate limit is per user and unfortunately not per token.

[2015-04-30 10:27] mdio opened #15 "Check if supplied GitHub account has read and write access to the repository"
We ran into a problem with our private repository and the GitHub user account used for Buildasaur had read only access to the repository.
Credential validation from Buildasaur was successful and Bots were created, integrations ran.
But posting the integration result to GitHub and adding the comment failed and it took us a while to figure out why.

It would be cool if Buildasaur could check for wri

[2015-04-30 10:33] czechboy0 commented on #15
Good point, [right now](https://github.com/czechboy0/Buildasaur/blob/master/Buildasaur/NetworkUtils.swift#L25) Builda verifies access to the repository just by trying to read Pull Requests, which probably succeeded in your case. I guess I could try all the rights needed, by trying to create/delete a commit status and adding/deleting a comment on a PR. Or maybe there's a GitHub API call to verify r

[2015-04-30 11:35] mdio commented on #15
A few tests with the [repos GET endpoint](https://developer.github.com/v3/repos/#get) make me confident that the part with permissions is the key here. `push` (write) and `pull` (read) must be true in order to do everything Buildasaur does. Of course the requests need to be done with the token to reflect the permissions of the user which the token belongs to (but Buildasaur does that anyway).

[co

[2015-04-30 13:09] czechboy0 commented on #15
@mdio :+1: Yeah that's it exactly. Feel free to send a pull request with the change if you want, it'd mean adding a method to [`GitHubServer`](https://github.com/czechboy0/Buildasaur/blob/master/BuildaGitServer/GitHubServer.swift) called `getRepository`, creating a new entity `Repository` and then just changing the verification call in [`checkAvailabilityOfGitHubWithCurrentSettingsOfProject`](http

[2015-04-30 13:30] mdio commented on #15
I'm afraid that I won't be able to implement that today and due to tomorrow being a public holiday I won't start before monday.
Also I'm just learning Swift but thanks to your detailed idea it looks doable.

[2015-04-30 13:31] czechboy0 commented on #15
No problem, I'll take a look at it over the weekend.

[2015-04-30 23:33] czechboy0 commented on #13
Cool, thanks for testing it out!

[2015-04-30 23:33] #13 closed

[2015-04-30 23:36] czechboy0 commented on #12
Since #13 proved that the 5000ph rate limit is per user, not per token, we need to find some decent sync frequencies to keep all repositories up to date and responsive to commands/builds, while not exhausting the rate limit. Currently for 1 repo (all that is supported atm), 15 seconds is a very good sync frequency that still keeps some head room under the rate limit.

[2015-05-01 00:11] czechboy0 commented on #15
Fixed in 6642a0858d7e2521c4124c34201581d04927fc47. Let me know if this works for you, @mdio!

[2015-05-01 00:11] #15 closed

[2015-05-01 00:17] czechboy0 commented on #2
Only the GitHub token is a sensitive piece of information and it would require quite lot of code. Closing until I can find a good argument that `Application Support` is not safe enough for all persisted data.

[2015-05-01 00:17] #2 closed

[2015-05-03 19:43] czechboy0 opened #17 "Add GitHub rate limit monitoring and smart interval estimation"
We need to be smarter about GitHub's rate limiting, right now we're doing basic math and hoping for the best, but we need a bailout strategy for when we go over the limit and a way to show that in the UI.

[2015-05-03 19:47] #3 closed

[2015-05-03 19:52] czechboy0 opened #18 "Update branch's commit statuses based on a non-PR bot"
Think about how we could also add a syncer for not just PRs, but only for a "monitored" branch, e.g. master. A way to monitor a branch with a bot and to update the commit's status based on the bot's result. Would require a slight refactor where we'd allow the syncer to instead of resolving (PR + Bot) pairs to (branch + Bot) pairs, where PRs would just be one source of the monitored branch and we m

[2015-05-03 20:22] czechboy0 commented on #17
So rate limiting is described in https://developer.github.com/v3/#rate-limiting. 5000 requests per hour seems reasonable. Also, an interesting way to save requests is to use conditional requests, described in https://developer.github.com/v3/#conditional-requests. Right now, Buildasaur is stateless, it pulls all data again from both Xcode Server and GitHub. Let's look into creating a small local ca

[2015-05-03 22:00] czechboy0 commented on #17
I added a basic log for every GitHub response, but that's clogging the log quite a bit. So let's add that information to the GitHub server class itself, it will keep the latest rate limit information, so that the syncer can ask for it when it's preparing the report for the UI (also, the advantage is that the latest response will be taken). Honestly, I can't be bothered to add the local request cac

[2015-05-03 22:29] #17 closed

[2015-05-03 23:19] #11 closed

[2015-05-03 23:35] czechboy0 commented on #11
Hey Michael,

optional lttm is in, checkout the latest release: https://github.com/czechboy0/Buildasaur/releases/tag/v0.2.5

You should now be able to just download the .app from the release page and use that. In the UI is now a switch where you can disable the "lttm" barrier - thanks for that name, by the way :)

Let me know if this works for your team and keep the ideas coming!

[2015-05-04 10:18] mdio commented on #11
The switch to disable the lttm barrier works very good.
Thanks for that!

Regarding ideas... well besides the mutli repo support we have everything we need right now.
You could have a look at the [GitHub Pull Request Builder Plugin](https://github.com/jenkinsci/ghprb-plugin) (which we used before moving to Swift and Xcode Server) and draw some ideas from that if you haven't already.

[2015-05-04 10:30] czechboy0 opened #23 "Add support for PRs across forks"
Currently Builda fails because it can't find the PR branch, because it lives in a fork instead of the original repository. I need to find a way to detect that case and create the bot with the correct origin URL and such.

[2015-05-04 11:42] czechboy0 commented on #23
So I have this working, I just needed to pipe through the fork's origin URL to be modified in the project's metadata. However I'm not sure if it's a valid case to have `DVTSourceControlWorkspaceBlueprintRemoteRepositoriesKey` be the same key for two different repo origins. Right now it seems to work to have both the original origin and the fork's origin under the same key, but more info needs to b

[2015-05-04 12:33] czechboy0 commented on #23
I took a look into xcs's couchdb and it seems like the remote repository key doesn't have to be unique, because the information is stored per-bot anyway. Technically it probably should be unique, but I can't see a case at the moment where this would cause any problems (but I'm sure something will turn up eventually :+1:)

[2015-05-04 12:35] #23 closed

[2015-05-04 17:31] czechboy0 opened #25 "Add Blueprint validation with xcsbridge source-control"
See `$ man /Applications/Xcode.app/Contents/Developer/usr/bin/xcsbridge` for documentation on xcsbridge. It might be useful for blueprint validation and preflighting, making sure that the blueprint we're creating a bot with will indeed succeed. Will require a way to trigger a shell script from Swift and wait for its result. This might be a good way to catch invalid SSH keys etc before we create an

[2015-05-06 23:30] czechboy0 opened #26 "Add a menu icon for Buildasaur and make it run in the background"

[2015-05-07 08:52] accatyyc opened #27 "Support for SSH passphrases"
When generating SSH keys, you can optionally enter a passphrase. When setting up bots in Xcode, and setting credecentials -> Existing SSH keys, there is a field to enter this passphrase so Xcode can decrypt the keys.

There is no such field in Buildasaur, and when trying to use encrypted keys, buildasaur will say "Verified access, all is well" but all bots will fail to check out.

Suggested soluti

[2015-05-07 09:07] accatyyc opened #28 "A way to disable automatic comments"
I'd like a checkbox to prevent Buildasaur from posting stuff in the PR conversation. The build status of the PR is enough for us!

[2015-05-07 09:20] czechboy0 commented on #28
Ok, I quickly disabled in on [this branch](https://github.com/czechboy0/Buildasaur/tree/hd/feature/no_status_comments). If you can build Builda from code, just use that for now. I'll add it to the UI and stuff next week, but this should get you through in the meantime.

[2015-05-07 09:24] joelekstrom commented on #28
Nice! Thanks for the quick update. Buildasaur is really great! :+1:

[2015-05-07 09:25] czechboy0 commented on #27
Great point, I completely forgot about this feature. It will require me looking into how to pass it in the Xcode Server API, but will be easy to add in the UI.

Also, this uncovered another issue - the validation only checks the GitHub token, not the SSH keys. Do you know an easy way to verify SSH key access to a repo without checking it out?

[2015-05-07 09:26] czechboy0 commented on #28
Glad you like it, keep the feedback coming!

[2015-05-07 09:30] joelekstrom commented on #27
Check out `git ls-remote`, it will fail if there is no permission to access the repo. Not sure about how to supply it the SSH-keys though. I'll get back to you if I think of something!

[2015-05-07 09:33] czechboy0 commented on #27
Thanks, this is useful!

[2015-05-07 09:37] joelekstrom commented on #27
Check out the top answer here http://stackoverflow.com/questions/4565700/specify-private-ssh-key-to-use-when-executing-shell-command-with-or-without-ruby.

I think it will solve your problem. It will invoke the SSH agent, add the keys temporary, and then you can execute `git ls-remote` from the SSH agent context. That way you should be able to verify the credentials without permanently changing th

[2015-05-07 10:03] accatyyc opened #29 "Specify bot names in the UI"
Right now, the bots are automatically named `BuildaBot [organisation/repo] PR #pr-no`. In our office, we have all integrations showing up on a big screen, and in this case these bot names make no sense.

It would be nice to be able to specify bot names with a small DSL in a field. Especially, more interesting than the PR number is to have the actual PR title.

## Suggested solution
Add a text fiel

[2015-05-07 10:20] czechboy0 commented on #29
Oh this would be awesome. Take a look [here](https://github.com/czechboy0/Buildasaur/blob/master/Buildasaur/HDGitHubXCBotSyncer.swift#L809), these are a couple of tiny methods where Builda figures out the name of a bot. Feel free to try to implement this yourself, I'd love to have that in Builda.

The only issue with having the PR name in the Bot name is that the PR name can change and Builda uses

[2015-05-07 10:25] joelekstrom commented on #29
Thanks. I will take a look at it if I get some time for that!

Yeah, matching bots/PR's by name feels a bit weird. Is there no way to get a bot ID or something like that via the API? The natural solution would be to match PR-number -> Bot ID or something like that.

[2015-05-07 10:26] czechboy0 commented on #29
Well Builda is stateless, so it has to be able to assume the Bot's name from the repo+PR number without saving anything. But that still would work fine, as I said, we'd just need to prefix match instead of exact match.

[2015-05-07 10:29] joelekstrom commented on #29
Yeah, that could work. On another note: Is there a specific reason for why it is stateless? I imagine this is a very good case for state, to be able to arbitrarily name bots if possible.

[2015-05-07 15:16] czechboy0 opened #30 "Validate SSH keys during project setup validation"
Currently we only validate the GitHub token, we also need to make sure the SSH keys are ok. Discussion began in #27.

[2015-05-07 16:08] czechboy0 commented on #27
@accatyyc I tried the solution from stackoverflow, unfortunately that doesn't seem to force the use of the specify the use of those SSH keys, instead it seems to add that key. So if on your machine, where you already have access to a repo and you specify different keys for Builda, I can't verify that those new keys are wrong. I'll keep looking.

[2015-05-08 10:21] czechboy0 opened #31 "Report build run duration in status/comment"

[2015-05-08 13:49] czechboy0 opened #33 "Add a Readme badge for "Build Passing""
Add a badge specifying the status of the latest master commit, something like [![](https://img.shields.io/badge/build-passing-green.svg)]() and [![](https://img.shields.io/badge/build-failing-red.svg)]()

[2015-05-08 13:51] czechboy0 opened #34 "Split the main syncer into multiple classes, start testing it"

[2015-05-08 13:51] joelekstrom commented on #33
Better yet - Let buildasaur build itself! :smile:

[2015-05-08 13:53] czechboy0 commented on #33
That's already happening, the little green checkmark and the comment in #32 was sent by my home Mac running Buildasaur on this repo continuously :)

[2015-05-08 14:04] joelekstrom commented on #33
That's nice. I guess you should use Travis CI for those buttons, but I don't think they support Swift yet. According to their blog, they're working on it right now though.

Maybe Buildasaur could run a small server that returns the correct of those two images for a specific branch?

[2015-05-10 23:46] #31 closed

[2015-05-11 22:24] Higgcz commented on #26
+1

[2015-05-11 23:12] czechboy0 commented on #30
@accatyyc Actually, [this](http://stackoverflow.com/a/29754018/909246) is the right answer for validating SSH keys (I tried it, will implement soon). It really forces the specified keys to be tried instead of falling back to user's local keys, which might be correct (but the selected keys might not, thus failing to correctly evaluate the validity of the keys).

Thanks for pointing me in the right

[2015-05-11 23:38] czechboy0 commented on #30
Work [started](https://github.com/czechboy0/Buildasaur/tree/hd/ssh_key_validation).

[2015-05-12 06:45] joelekstrom commented on #30
Oh, nice :) Very few upvotes on that answer so I think I ignored it. Make sure to be clear about the Git version dependency!

[2015-05-12 07:56] czechboy0 commented on #30
Yeah good point, this feature seems to be in git 2.3+, but I hope that's a reasonable requirement (I'll add it to the docs).

[2015-05-12 07:57] joelekstrom commented on #30
Yeah. You could also add a warning in the UI if running `git --version` returns something less than 2.3.

[2015-05-12 18:35] mikewoodworth opened #38 "Build Template Settings has no schemes in dropdown"
This is building with an xcworkspace, none of the schemes show up in template settings

[2015-05-12 19:17] czechboy0 commented on #38
Can you make sure your scheme is shared? Otherwise Buildasaur won't be able to find it. You can share a scheme in Xcode, Manage Schemes. More [here](https://developer.apple.com/library/ios/recipes/xcode_help-scheme_editor/Articles/SchemeManage.html).

Let me know if this helps. Otherwise it might be a genuine Buildasaur issue, thanks!

[2015-05-12 19:20] mikewoodworth commented on #38
Yes, scheme is shared...

![screen shot 2015-05-12 at 12 19 46 pm](https://cloud.githubusercontent.com/assets/208050/7596259/458a0820-f8a1-11e4-9922-50e310883487.png)

Let me know if there's anything I can provide to help debug!

[2015-05-12 19:24] czechboy0 commented on #38
Oh I see, I don't think I've tested with the scheme being in the workspace instead of the project, let me try to reproduce it locally.

[2015-05-12 19:25] mikewoodworth commented on #38
Yea, I can confirm the scheme shows up if I set to project. Trying that now

[2015-05-12 19:27] czechboy0 commented on #38
Yes, it doesn't pick it up if it's owned by the workspace. I'll look at it, thanks for reporting it! In the meantime, I'd suggest just selecting the scheme to be owned by the project, if that's possible. I'll try to push a fix ASAP.

Did you download Builda as .app or as code? To know whether a new release with the fix will need to be made :)

//Edit - just saw your reply. Yeah I'll fix it for wor

[2015-05-12 19:32] mikewoodworth commented on #38
Yea, I've switched to project all is fine. Thanks for the fast response!

[2015-05-12 19:37] #38 closed

[2015-05-12 19:38] czechboy0 commented on #38
Actually, I fixed it in #39. Thanks again for reporting!

[2015-05-12 20:30] mikewoodworth commented on #38
Quick followup...
My bots are all failing with:

Bot Issue: error. Build Service Error.
Issue: Failed to authenticate SSH session: Invalid public key, too short (-1).
Integration Number: 1.
Integration URL: https://DMTestBot.local/xcode/bots/B2E8D9D/integrations
Description: Failed to authenticate SSH session: Invalid public key, too short (-1).

Any chance this is related to the fact I pointed bu

[2015-05-12 21:04] czechboy0 commented on #38
Can you please copy this to #30? I'm actually working on validation of SSH keys as we speak :) We can discuss there, thanks.

[2015-05-12 21:07] mikewoodworth commented on #30
I'm seeing a problem where keys vaildate (According to UI) but the resulting bot fails with:

Bot Issue: error. Build Service Error.
Issue: Failed to authenticate SSH session: Invalid public key, too short (-1).
Integration Number: 1.
Integration URL: https://DMTestBot.local/xcode/bots/B2E8D9D/integrations
Description: Failed to authenticate SSH session: Invalid public key, too short (-1).

[2015-05-12 21:13] czechboy0 commented on #30
Yeah that's possible, at the moment we only validate the GitHub token's rights, but not the SSH keys (yet, working on it right now). I don't think it has to do anything with using workspace/project, because I use workspaces as well. Hopefully I should have the validation done today or tomorrow. In the meantime, please try to make sure your SSH keys are really valid for the tested repository.

[2015-05-12 21:36] mikewoodworth commented on #30
Ok, here's a bit more info. The server has its own ssh keys and github user. I've checked out the repo locally (using ssh) and had no problems. In buildasaur UI I choose ~/.ssh/id_rsa.pub and id_rsa

I make a new pull req and trigger buildasaur with the lttm comment. The bot will fail almost instantly with the error above. If I edit that bot in xcode IDE on my local, I can manually enter the same

[2015-05-12 21:57] czechboy0 commented on #30
Can you please try to delete the Bot (from Xcode) and try running Buildasaur again? It's very strange that it's being very specific about the problem with the key, that it's "too short". Also, where are you copying this error from? An email you get from Xcode Server or somewhere in the UI?

[2015-05-12 22:07] mikewoodworth commented on #30
I've tried with multiple pull reqs (and tried deleting bot from Xcode). The error shows up on the main page of the integration in the Xcode UI (build service error). The integration has no logs in the logs tab, and clicking Download all Logs... results in an error. On recent integrations I'm getting a different error:

Bot Issue: error. Build Service Error.
Issue: Failed to authenticate SSH sessio

[2015-05-12 22:58] czechboy0 commented on #30
Interesting, when you try to create a bot from Xcode directly (not through Buildasaur), does that work fine? Also, do you have a passphrase for your SSH keys (#27)?

[2015-05-12 23:00] mikewoodworth commented on #30
Ah, thats totally it (passphrase)

[2015-05-12 23:04] czechboy0 commented on #30
Sorry about that, I'm working on these two issues (SSH key validation and passphrase support) as my top priority.

[2015-05-12 23:05] mikewoodworth commented on #30
no problem. I'm just setting up stuff now, so it's not too painful to regen keys without passphrase. I'll let you know if that doesn't work for some reason

[2015-05-12 23:24] czechboy0 commented on #30
Yeah do that!

[2015-05-12 23:58] #30 closed

[2015-05-12 23:59] czechboy0 commented on #30
SSH key validation merged, thanks @accatyyc and @mikewoodworth for your help!

[2015-05-13 06:23] joelekstrom commented on #30
:+1:

[2015-05-13 16:29] czechboy0 commented on #33
Actually, I'll probably just do it by injecting Javascript and pulling the latest master's commit status and interpreting it as a success/failure and showing the appropriate badge from shields.io.
I'm not against putting up servers, but I'd prefer if I didn't have to, so that people are not dependent on me maintaining something proprietary.

[2015-05-13 17:05] joelekstrom commented on #33
Travis CI doesn't require you to manage servers. You just enable your repo on Travis and it will build the project on their servers. Very convenient - and free for open source projects.

[2015-05-13 17:12] czechboy0 commented on #33
Yeah I am aware, but unfortunately as far as I know, Travis doesn't yet support Swift 1.2 with Xcode 6.3 :( Also, I'd like to develop a way to do the badging for people using only Buildasaur as well, so it's more of an exercise and a proof of concept :)

[2015-05-13 20:13] czechboy0 commented on #27
So I started looking into passphrase support, and I can't seem to find a way to provide the passphrase on the command line for `ssh` when validating the keys. Seems to require some tool called `sshpass`, but I can't require people to install this. That means that the first time when trying to validate (when saving the settings), a popup asking for the SSH passphrase would pop up (not terrible but

[2015-05-13 21:26] czechboy0 commented on #27
Actually, I found a much simpler way, which will make yesterday's work unnecessary (the git 2.3 hacking). I already had a hunch in #25, I'm using a hidden Xcode Server tool called `xcsbridge` which has blueprint validation (blueprints contain git credentials and verify they are correct). Making the changes now.

[2015-05-13 22:55] #27 closed

[2015-05-13 22:56] czechboy0 commented on #25
Used in #42, saved me a lot of work. Thanks, Apple!

[2015-05-13 22:56] #25 closed

[2015-05-13 22:57] czechboy0 commented on #27
@accatyyc Okay, this is fixed. In the UI now you should see a textfield to put the SSH passphrase. Thanks for reporting this!

[2015-05-13 23:37] #28 closed

[2015-05-13 23:38] czechboy0 commented on #28
@accatyyc Ok it's merged in master. Released in [release 0.2.7](https://github.com/czechboy0/Buildasaur/releases/tag/v0.2.7). Let me know if this works for you.

[2015-05-14 08:33] czechboy0 opened #44 "Automatic updates"
Plus show it in the UI together with a button to download it.

[2015-05-14 08:34] czechboy0 commented on #44
Probably something like pulling of the latest release metadata from GitHub once a day and comparing it to the currently running version.

[2015-05-14 09:50] czechboy0 opened #45 "Optionally create an archive/IPA for OTA installation from a PR"
It would be nice to have a way to also archive certain PR's code, so that it can be installed OTA from Xcode Server and tested on a device quickly (for UI changes).

Control over this would preferably be in the UI, so now users comment "lttm" to start testing a bot, there would be another keyword, like "archive", which would switch the Build Template to one that uses an Ad Hoc provisioning profile

[2015-05-14 13:06] czechboy0 opened #46 "Test cancelling an integration during checkout, doesn't it integrate again? Fix"

[2015-05-14 17:08] joelekstrom commented on #44
https://github.com/sparkle-project/Sparkle

[2015-05-14 19:33] #46 closed

[2015-05-14 21:36] czechboy0 commented on #44
Interesting, I actually meant just checking for a new version, but automatic updating might be even better. Thanks, @accatyyc, I'll take a look at how difficult it is to integrate.

[2015-05-14 23:43] #26 closed

[2015-05-14 23:43] czechboy0 commented on #26
Done, @Higgcz.

[2015-05-15 11:05] czechboy0 opened #49 "Report error description and failed test names in status comments"
Each tested integration has a `xcodebuild_result.bundle.zip`, which can be deflated to `xcodebuild_result.bundle`, which contains the test results and any description of potential problems in nice plists. Make Buildasaur download this when a test fails or the build fails and add a nice representative string of the issue to the status comment.

[2015-05-15 11:07] czechboy0 commented on #49
The API for getting assets is `/integrations/:id/assets` and `/assets/*` for downloading it.

[2015-05-15 23:50] #33 closed

[2015-05-15 23:53] czechboy0 commented on #33
Unfortunately I wasn't able to do it. [This](https://github.com/czechboy0/Buildasaur/commit/c648a63eb136a6a376600853b73099ed6d055b02) worked in a blank HTML page, but not embedded in the Readme's markdown. So I caved and added one endpoint to my playground server, from where the right badge is now pulled based on the status of the latest commit on master.

Let me know if you can think of a way to

[2015-05-16 20:33] czechboy0 commented on #18
[Work started](https://github.com/czechboy0/Buildasaur/commits/hd/18/initial_refactor_of_syncer).

[2015-05-17 14:59] czechboy0 commented on #34
Duplicate of the refactoring currently being done in #18.

[2015-05-17 14:59] #34 closed

[2015-05-18 22:08] czechboy0 opened #53 "Create an issue when a tracked branch (with no PR) starts failing tests"
Dependency: #18. Builds extra features on top of it.

Not just make Builda mark the commit appropriately on GitHub, also (optionally) create an issue if a watched branch suddenly starts failing tests (something like `[Buildasaur]: Build failing on branch master`) and comment what tests are failing exactly/what build error was emitted.
Then, when a new commit comes in that fails again, add a new co

[2015-05-18 22:23] buildasaur opened #54 "Autocreation Test"
Body Test

[2015-05-18 22:23] #54 closed

[2015-05-18 22:26] buildasaur opened #55 "Autocreation Test"
Body Test

[2015-05-18 22:27] #55 closed

[2015-05-20 00:20] czechboy0 opened #57 "Adaptive sync interval"
Find a way to gradually slow down the sync interval when we're approaching the GitHub rate limit. So the sync interval set by the user is the minimum time between two syncs, but not the maximum - we might slow down to not hit the rate limit before the hour is over. Will become more important with multi syncer support and branch tracking, but would be good to know Builda is never blocked by just pl

[2015-05-22 23:52] st3fan opened #58 "It is not possible to edit trigger scripts inline"
I'm trying to edit a trigger script but when i type a return, the text field 'submits' instead of inserting a newline.

[2015-05-22 23:57] czechboy0 commented on #58
Use Option + Enter in the meantime, I'm fixing it.

[2015-05-23 00:08] #58 closed

[2015-05-23 00:09] czechboy0 commented on #58
@st3fan Ok, fix merged in master. Let me know if you need a .app to download instead of building from code yourself.

[2015-05-23 00:34] czechboy0 opened #60 "Permission-based "lttm""
For large open source projects - only allow repo's owners to "lttm" pull requests, so that random people can't lttm their own PRs if they are not owners.

**Implementation**
Look at the comment poster and figure out, whether they belong to the set of owners of the repo.

[2015-05-23 00:59] st3fan commented on #58
Thanks! No worries, i'll wait for the next release. I worked around this by copy/paste from external editor.

[2015-05-23 23:21] #18 closed

[2015-05-23 23:22] czechboy0 commented on #18
At the moment, we use the PR's Build Template. If this is a problem and you'd like to pick a different template for different branches, create an issue with the description of your usecase and I'll see what I can do.

[2015-05-23 23:49] czechboy0 opened #62 "Request/response caching"
To save rate limit hits, GitHub recommends using [conditional requests](https://developer.github.com/guides/getting-started/#conditional-requests), so that when nothing changes, no data is returned (only a special code). Look into using either a built-in solution (`NSURLCache`) or writing something from scratch. This will help to save a significant portion of now-consumed hits, allowing for a brig

[2015-05-26 05:30] cojoj opened #63 "Extract BuildaCiServer"
I'd be really nice to extract whole `BuildaCIServer` to separate framework. Also CocoaPods and Carthage support are welcome.

I think that this implementation bring a lot of possibilities as you've captured a big part of Xcode Bots API in a nice container called `XcodeServer`.

A lot of people can take benefit from this and create other tools allowing them to use Xcode Bots from the outside of Xco

[2015-05-26 15:13] st3fan opened #64 "Allow customizations of the Bot name"
Right now when I go to the Xcode Server web site (where you can download/install integration builds), it shows me a long list of bots that all look like:

[code]

I would like to customize this name so that it shows something like:

[code]

(I don't care about the repo name or the BuildaBot static string).

Ideally this can be configured with some really simple template string like `PR #{{PR_NR}}

[2015-05-26 15:14] czechboy0 commented on #64
Duplicate of #29.

[2015-05-26 15:16] czechboy0 commented on #64
@st3fan The only issue with taking out the name of the repo is that bots might clash if you're running multiple projects on the same Xcode Server. Builda uses the bot's name to uniquely identify it.

I'll look into a good way of allowing what you want to do though :)

[2015-05-27 02:39] willsr opened #65 "Bitbucket Support"
Is there any merit in adding support for BitBucket pull requests into Buildasaur?

[2015-05-27 07:53] czechboy0 commented on #65
Depends, is there demand for it? I don't know how different BitBucket pull requests are to GitHub's, but if I see there might be enough interested people, it is something I would consider.

Or even better would be if someone who has a bit of knowledge of how people use BitBucket vs GitHub did it.

[2015-05-27 13:49] czechboy0 opened #66 "Identify bots not by name but by a custom key"
To allow #64 and #29, we need to uniquely identify bots by not their name. Instead, see if we can add a custom key to the bot's json when we're creating it, which would also get returned when we're fetching bots. If so, we could just add the identifier there and the name would be free to be whatever users want.

[2015-06-03 15:15] czechboy0 opened #67 "Leaving for WWDC, back in mid June."
Keep the feedback coming, but please note that I might not be able to reply in the next two weeks, because I'll be in SF. [Ping me](https://twitter.com/czechboy0) on Twitter if you wanna meet there!

[2015-06-09 01:46] czechboy0 opened #69 "Xcode 7 support"
Xcode Server that shipped with Xcode 7 breaks Buildasaur, because the API version has been upped.

Back to reverse engineering.

[2015-06-09 20:00] st3fan opened #70 "Buildasaur immediately crashes after being started"
Buildasaur immediately crashes after being started, Nothing in the logs. Is there a debug mode so that I can provide some more feedback?

[2015-06-09 20:07] czechboy0 commented on #70
That's not good, I've never seen that. It must fail something while loading its preferences in `~/Library/Application Support/Buildasaur`. To see if that's it, try renaming it to something like `Buildasaur2` so that it loads in a new, unconfigured mode. Let me know if that helped.

Also, if you could send me the crash log from `~/Library/Logs/DiagnosticReports/Buildasaur-*` and the log from `~/Lib

[2015-06-09 20:09] czechboy0 commented on #69
The basics are working, Xcode Server just now uses Nginx listening on port 20543 and the path changed from `/xcode/api` to `/xcode/internal/api`. Now I'm seeing issues with SSL fingerprint validation, investigating that now.

[2015-06-09 20:11] czechboy0 commented on #69
Progress on branch [experimental_xcode7_support](https://github.com/czechboy0/Buildasaur/tree/hd/experimental_xcode7_support).

[2015-06-09 21:09] czechboy0 commented on #69
Okay, I think I have assessed the damage. The blueprint remote repository dictionary added values for fingerprint validation, which we need to add. Also the way that devices to test on are specified has changed slightly. Having an experimental version that works with Xcode 7 should not be too much work, but careful considerations need to be taken in order to properly support both versions 2 and 3

[2015-06-12 05:39] czechboy0 commented on #63
Resolved: https://github.com/czechboy0/XcodeServerSDK

[2015-06-12 05:39] #63 closed

[2015-06-12 07:26] czechboy0 opened #71 "Migrate to XcodeServerSDK"
Now that I've ripped out BuildaCIServer and turned it into a separate project and a pod [`XcodeServerSDK`](https://github.com/czechboy0/XcodeServerSDK), let's integrate it back again.

[2015-06-15 14:45] czechboy0 commented on #70
@st3fan Any news on this?

[2015-06-15 14:45] #67 closed

[2015-06-16 04:36] czechboy0 commented on #12
Damn, this really needs to happen. Now I have two repos I'd like to observe, [`XcodeServerSDK`](https://github.com/czechboy0/XcodeServerSDK) and `Buildasaur`. Priority high!

[2015-06-16 04:38] czechboy0 commented on #66
Nope, due to validation on Xcode Server's side with `xcsbridge`, the blueprint gets validated and re-exported, which strips any custom keys. This is not an easy problem to solve then. Let's think of some other solution.

[2015-06-16 04:38] #66 closed

[2015-06-16 04:43] czechboy0 commented on #29
@accatyyc Well, basically on every sync (the thing that happens every ~15 seconds or however long your sync interval is), Builda pulls all PRs from GitHub and Bots from Xcode Server and resolves them into actions. There is nothing saved in memory or on disk. This allows for much simpler logic, where even if you stop Builda, make changes to your PRs and Bots and start it again, it will always do th

[2015-06-16 04:57] czechboy0 commented on #64
Closing as this is a duplicate of #29.

[2015-06-16 04:57] #64 closed

[2015-06-16 05:00] czechboy0 commented on #69
Actually, some of this work will be done with #71. But the fingerprint validation still needs to be fixed here.

[2015-06-16 08:05] joelekstrom commented on #29
OK, I could check this myself ofc but since you know the Xcode Server API's - when returning bots, do they not return anything like a key that could identify the bot (if Builda started saving state, ofc)?

[2015-06-16 08:20] accatyyc opened #72 "Update UI to support multiple repositories"
I have some ideas for how the UI should look in Buildasaur. Right now it looks very crammed, lots of info that doesn't really need to be shown. I started working on migrating it to how I would like it to look, but I won't put too much work until I know what direction @czechboy0 wants to take.

Anyway, I've used the OS X user settings pane as a basic guide:

![skarmavbild 2015-06-16 kl 10 11 34](ht

[2015-06-16 09:01] czechboy0 commented on #72
Absolutely. I actually have someone helping me with creating a completely new design for Buildasaur that would solve all the issues you just mentioned. It's being worked on and is conceptually pretty similar to what you're suggesting here :)

I'll post wireframes once I have them!

[2015-06-16 09:14] joelekstrom commented on #72
Nice :+1:

[2015-06-16 09:45] czechboy0 commented on #29
Yeah there is an id associated with every bot, but that would mean we'd have to start keeping state in Builda, which would introduce a whole new level of complexity. I'm not completely against it, but it doesn't  justify the work in my opinion just yet.

[2015-06-16 09:46] czechboy0 commented on #72
Sort of duplicate of #12.

[2015-06-16 09:53] #72 closed

[2015-06-17 01:55] st3fan commented on #70
I grabbed the source and built the last version. No more problems :-)

[2015-06-17 07:18] czechboy0 commented on #71
Done in #73.

[2015-06-17 07:18] #71 closed

[2015-06-17 07:18] czechboy0 commented on #70
Ok, sorry about that (whatever it was). If this happens again, make sure to gather all the logs so that we can figure out what the problem was :) Closing for now.

[2015-06-17 07:18] #70 closed

[2015-06-17 07:20] czechboy0 commented on #69
Ok, #71 migrated to XcodeServerSDK. So now it's down to just the fingerprint validation and we should be good to go.

[2015-06-18 19:31] czechboy0 opened #75 "Report code coverage (+diff)"
Pull code coverage information out of the build results and add it to the comment in the PR, so that users can see if a particular integration/PR is making code coverage better or worse.

[2015-06-21 12:39] czechboy0 commented on #69
Work going on: https://github.com/czechboy0/XcodeServerSDK/labels/xcode7-compatibility

[2015-06-28 17:56] czechboy0 opened #76 "Migrate to Swift 2"
Blocks #69. Migrate over so that we can pull in the new version of [XcodeServerSDK](https://github.com/czechboy0/XcodeServerSDK).

[2015-06-28 23:26] czechboy0 opened #77 "Infer and automatically filter devices based on target type"
Pull from scheme -> id -> project -> buildConfigurations -> take first -> find XCBuildConfiguration. Look for `IPHONEOS_DEPLOYMENT_TARGET` and `MACOSX_DEPLOYMENT_TARGET` (probably also something like `WATCHOS_DEPLOYMENT_TARGET`. This should indicate the type of a target.

[2015-06-28 23:57] czechboy0 commented on #77
Hahaaaa: `xcodebuild -scheme SchemeName -showBuildSettings 2>/dev/null | egrep '^\s*PLATFORM_NAME' | cut -d = -f 2 | uniq | xargs echo`

[2015-06-28 23:58] czechboy0 commented on #77
Special thanks to @0xced!

[2015-06-29 15:17] sofacoder commented on #76
Hi Honza,

are you currently working on this? Because I have it running in a very hacky state (and I'm especially unhappy with the way I did the new error handy part). And also I based it on your experimental Xcode 7 brach, so before the XcodeServerSDK was created.

To make a long story short: I'm thinking about adding atlassian stash support to Buildasaur. So if you are working on Xcode 7 I will

[2015-06-29 15:21] czechboy0 commented on #76
Hi @sofacoder, yeah actually last night I just got it to compile with Swift 2. But there are a couple of things I had to break (specifically the way you pick test devices) due to changes in XcodeServerSDK during migration to Xcode 7 API. I will be working on this branch now to fix them and mostly things in the UI will change.

To answer your question - if you'd like to add more git server support,

[2015-06-29 19:29] sofacoder commented on #76
Ah, should have looked at the commit before commenting here. ;-)

Nice to see that you have this already working.

Ok, I will fork an base my stuff at this branch. No time indication yet, since the weather is good this week. ;-)

[2015-06-29 22:32] czechboy0 commented on #76
Yeah, I myself was out playing frisbee when you commented here (guilty as charged) :+1:

[2015-06-30 22:45] czechboy0 commented on #76
Migrated to Swift 2 on branch [hd/swift-2](https://github.com/czechboy0/Buildasaur/tree/hd/swift-2). Still experimental, will get merged together with #69.

[2015-06-30 22:45] #76 closed

[2015-06-30 22:46] czechboy0 commented on #69
Waiting for #77 and UI fixes with migration to the new XcodeServerSDK 0.1 (with Xcode 7 Server API support).

[2015-06-30 23:03] czechboy0 commented on #77
WIP: https://github.com/czechboy0/Buildasaur/compare/hd/swift-2...hd/device_type_from_scheme?expand=1

[2015-07-02 23:23] czechboy0 opened #79 "Add Xcode 7 certificate fingerprint validation UI"
As part of #78 I had to disable SSH key validation due to the new server fingerprint validation kicking in. Let's bring it back, as it's a nice feature (to validate keys before confirming that all credentials are ok).

[2015-07-02 23:24] czechboy0 commented on #77
Fixed in #78.

[2015-07-02 23:24] #77 closed

[2015-07-02 23:25] czechboy0 commented on #69
Ok got it working. Just had to disable SSH key validation, but that will be brought back in #79.

[2015-07-02 23:25] #69 closed

[2015-07-03 15:21] valeriomazzeo opened #80 "Run as a daemon"
Allow buildasaur to be setup as a daemon in order to run headless.

Possible ideas:
https://github.com/modcloth-labs/github-xcode-bot-builder
https://github.com/modcloth-labs/XBotBuilder

In this kind of setup possibly there would be no need to check out the Xcode project and workspace, but the configuration can be described into a file.

//Additional improvement:
When the server running buildasau

[2015-07-03 16:43] czechboy0 opened #81 "Check out repo in a temp location just from URL"
This is to make setting up Builda even easier. Instead of having to have user's project to be tested checked out locally (so that Builda can parse the Xcode project and other files), make it check out the project in a temp location just from the URL and credentials.

Possible issue: how to force Xcode to create the `.xccheckout` file if it's not there?

[2015-07-03 16:56] czechboy0 commented on #80
Hi @valeriomazzeo, thanks for the idea. Before I can look into it, I need to understand better what you're trying to achieve.

I see two things you're saying:
1. _Running as a daemon_
   Currently Buildasaur runs as a background app, which means there is no Dock icon and the configuration window can be closed. The app will keep running and you'll see a menu bar icon, from which you can open the co

[2015-07-03 20:15] valeriomazzeo commented on #80
First, let me thank you for taking this improvement into account.

What I am trying to achieve is to be able to run buildasaur as a service.

Please consider the following scenario:

There is a machine running OS X server with Xcode Server.
This machine has only an administrator account and it's managed remotely.
Xcode server doesn't need any additional user which means if the machine is restarted

[2015-07-03 21:45] czechboy0 commented on #80
Thanks, @valeriomazzeo, this makes a lot of sense.

I never considered this case, but it would be ideal to have it setup this way. Right now the syncing logic in Buildasaur is **not** dependent on its UI, only to get it started, but all preferences are saved on disk in `~/Library/Application Support/Buildasaur`. So in theory I could make a build of it as a binary that would immediately load its pr

[2015-07-03 22:52] valeriomazzeo commented on #80
When setting up a launchd script (plist) you can specify the user that is going to run it.

In your case it would make sense to have a user called `buildasaur` that would be the owner of the process.

In this way the preferences could be either global or in `~/Library/Application Support/Buildasaur` then relative to the home directory of the `buildasaur` user itself.

Please take a look at this gi

[2015-07-06 07:06] jaharabari commented on #65
I am also using BitBucket. if possible please add support for bitbucket too.

Thanks

[2015-07-09 07:33] valeriomazzeo opened #82 "Incorrect comment info"
When manually triggering an integration on the pull requests bot (no code changes between the first integration and the manual one being triggered), buildasaur post on GitHub a comment with the info about the first integration instead than about the last one.

The same happens when triggering a third integration manually.

I am almost sure this is caused by having no code changes in between those

[2015-07-09 07:36] valeriomazzeo opened #83 "Run on start"
When the server running buildasaur is restarted, there is no way to have buildasaur running without manual intervention.

Even when automatically login with an user and having buildasaur in the launch items we have to click on three buttons: Xcode server config, github config and start to have buildasaur working.

This is not the best situation in an automated environment.

Possibly related to #80

[2015-07-09 10:53] valeriomazzeo opened #84 "Handle timing-out Simulator/Devices"
Certain times Xcode server failed to start the simulator with the following error:

2015-07-06 22:08:45.335 Test operation failure: Timed out waiting 120 seconds for simulator to boot, current state is 1.
2015-07-06 22:08:45.335 _finishWithError:Error Domain=IDEUnitTestsOperationsObserverErrorDomain Code=3 "Timed out waiting 120 seconds for simulator to boot, current state is 1." UserInfo=0x7fe168

[2015-07-11 22:23] czechboy0 commented on #44
How about: http://devmate.com ?

[2015-07-13 08:10] joelekstrom commented on #44
IMO seems like a bit too much - looks perfect if you want to sell licenses etc, but for an open source project like this?

[2015-07-13 11:28] czechboy0 commented on #44
Yeah I wouldn't need that. But crash reporting, some basic stats and automatic updates are what I'm looking for.

[2015-07-13 12:40] joelekstrom commented on #44
Okay. Try it but watch out for the costs! There may be more than 1000 users. No way to know though. Otherwise, Google Analytics is free for a lot more users, but doesn't have crash reporting though.

Do you think the automatic crash reporting is needed? The users of this app are technical, and probably keen to report crashes anyway.

[2015-07-13 12:45] czechboy0 commented on #44
I agree, but even for technical users I'm trying to provide the simplest possible experience.

I would prefer to not use Google Analytics, but I might just use Crashlytics for crashes and Sparkle for updating. I just liked the appeal of how this easily this can be integrated, because honestly I don't want to spend much time on these things, but I'd like to have at least a rough idea of how many pe

[2015-07-13 17:23] czechboy0 commented on #84
Hi @valeriomazzeo, sorry for the late response, I was on vacation.

I personally don't test on iOS Simulators (only on real devices), so I haven't seen this problem. Do you know what the exact Xcode Server status is when this happens?

[2015-07-13 17:24] czechboy0 commented on #83
Yup, definitely a subset of #80.

[2015-07-13 17:24] #83 closed

[2015-07-13 17:25] czechboy0 commented on #80
Cool, I added this to the run up to 1.0, so I'll try to work on this for the big release later this summer. I would love your contributions if you have time.

[2015-07-13 17:44] czechboy0 commented on #84
This is strange, I looked at [the code](https://github.com/czechboy0/Buildasaur/blob/hd/swift-2/Buildasaur/SyncPairResolver.swift#L256) and as you can see, the integration state must have been 'success', 'warnings' or 'analyzer warnings', because you got this kind of a GitHub comment from Buildasaur.

Please provide more info, this looks like a weird bug either in Buildasaur or in Xcode Server :+1

[2015-07-13 17:45] czechboy0 commented on #82
Interesting, I'll try to reproduce. It should always report the status of the _last_ integration for the commit, but possibly there's a bug. Thanks for reporting, I'll get back once I know what's up.

[2015-07-13 19:45] czechboy0 opened #85 "Clean testing device ids when destination is changed"
A bug with persistent device ids in build template is present. Steps to reproduce:
- switch to an iOS scheme
- choose Selected Devices and Simulators
- select certain devices
- save
- open build template editing view again
- switch to an OS X scheme

problem: `testingDeviceIds` are still persisted from the iOS setup, making the bots invalid. Xcode Server fails with error complaining no devices for

[2015-07-13 20:12] valeriomazzeo commented on #84
The bug is in Xcode server / xcodebuild, but buildasaur could actually get around it!

Is it possible to search in the logs for that error and let the integration fail and then run again automatically when that error is present?

This happens also when testing on one simulator only.

This is how it looks like, you can see the simulator that failed to start:
![schermata 2015-07-13 alle 21 10 17](ht

[2015-07-13 20:15] valeriomazzeo commented on #82
thanks for looking into it :+1:

[2015-07-13 20:30] czechboy0 commented on #84
Interesting. What would be very useful to me would be if you could just go to `https://YOUR_XCODE_SERVER_IP:20343/api/integrations`, where you'd put your xcode server IP address and copied the output. I'd like to see what the integrations end up looking in this case.

Downloading and parsing the output would also be possible, but it'd be a lot of work + hacky "solution", so I'd like to avoid that

[2015-07-13 21:23] valeriomazzeo commented on #84
this is interesting, the json file is very big 5+ MB but this is the part regarding the screenshot I posted previously:

[code]

So, the timeout error is definitely on Xcode server / xcodebuild, but maybe there is something also in buildasaur!

[2015-07-13 21:28] czechboy0 commented on #84
Hmm yeah, I see what the problem is. Since you're testing on multiple simulators and two of them tested just fine, the third one (the one that never ran), doesn't affect the `result`. Which is `test-failures` right now, but since it never started, I'd expect it to be something like `internal-error`.

Before we go any further, are you using Xcode Server with Xcode 6 or 7?

[2015-07-13 21:43] valeriomazzeo commented on #84
Xcode 6.

I think there are two things going on here:

1) Xcode server is not considering the timed out simulator in `"result": "test-failures"`, so if the others two simulators were passing the tests in this specific case the result would have probably been `warnings` instead.

2) Buildasaur is reading the `result` field but when posting the comment may instead say:

Because it looks like buildas

[2015-07-13 21:52] czechboy0 commented on #84
Ok - first thing: I'm focusing all my time now to getting onto Xcode 7's API so that new Buildasaur is ready when it comes out this fall. This is not to say I won't fix bugs in the older Buildasaur versions, just that major changes will require you to move to Xcode 7 at some point, maybe even before its stable release.

But this issue I think exists the same way in both Xcode 6 and 7.

1) I agree,

[2015-07-13 21:53] czechboy0 opened #87 "Give more detailed test result comments"
Mentioned in #84, it would be better if Buildasaur gave more detail about the devices that ran tests, e.g.

[code]

Thanks, @valeriomazzeo!

[2015-07-13 22:11] czechboy0 commented on #82
Hmm, it seems to work as expected to me. Every time I manually kick off an integration from Xcode, a new comment is posted on GitHub afterwards with the result of the _latest_ integration. Each of these comments starts with **Result of integration 1** then 2 and 3... And this number should go up with every new integration. I tried it here, you can see that no commits have been pushed between those

[2015-07-13 22:15] czechboy0 commented on #29
If we end up doing it, let's use [Stencil](https://github.com/kylef/Stencil).

[2015-07-13 22:17] valeriomazzeo commented on #84
My concern is that the same happen with a bot that tests only on 1 simulator at the time. Therefore, only adding a more detailed report won't help because in that case it won't make any difference.

[2015-07-13 22:20] valeriomazzeo commented on #82
This is what happened:

![schermata 2015-07-13 alle 23 20 54](https://cloud.githubusercontent.com/assets/1882080/8662250/c2663054-29b5-11e5-9bcc-bbdbc67b9d7d.png)

[2015-07-13 22:21] czechboy0 commented on #84
Yup, that's correct. The detailed report was not to fix this issues, which is an Xcode Server bug, just to make results a bit more informative.

What would really help me is to get that response from `integrations` endpoint, so that I can take a look at how to parse test results from multiple devices/simulators.

[2015-07-13 22:25] valeriomazzeo commented on #82
This is what happened:

![schermata_2015-07-13_alle_23_20_54](https://cloud.githubusercontent.com/assets/1882080/8662324/587da0d6-29b6-11e5-9007-eafc213455be.png)

In that bot the first integration, well you can see the results: the simulator timed out.
The second one was actually ok, but buildasaur kept printing the result of the first.

[2015-07-13 22:28] czechboy0 commented on #82
I don't suppose you still have those integrations on your server and could send me a JSON to test with? :frowning: This looks like a bug, but it's very weird that it is happening. I can't reproduce it or see in code how this could happen other than by deleting the previous integration/bot on the server. This definitely should not happen when relaunching an integration on the same code.

[2015-07-13 22:31] czechboy0 opened #89 "Xcode 7: Investigate how xcscmblueprint relates to xccheckout"
Xcode 7 seems to create another file, .xcscmblueprint in a workspace. Look at how it relates to what we pull out of xccheckout and whether there's a way to force Xcode Server to generate it - might make #81 much easier to implement then.

//Edit: Support for parsing `xcscmblueprint` files added in #141. Still not perfectly clear on their relationship and how to force Xcode to generate them. (I mea

[2015-07-13 23:17] valeriomazzeo commented on #84
Do you mean the whole version of what I pasted above or is another endpoint?

[2015-07-13 23:18] valeriomazzeo commented on #82
Buildasaur deleted the integration for that PR so the answer is no :(

Unless there is a log on buildasaur that can be helpful to you?

[2015-07-13 23:19] czechboy0 commented on #84
Yeah the whole output of the above, so that I could see what it looks like when one simulator fails to launch but the rest runs fine.

[2015-07-13 23:21] czechboy0 commented on #82
Buildasaur should only delete `Bots` (the build job description, is tied to one branch). And it starts an `Integration` (one run of the build job, which has a result and a number).

Let me know if you can think of a way to reproduce it. I'd really like to track this one down. Thanks!

[2015-07-14 06:59] joelekstrom commented on #29
:+1:

[2015-07-14 07:34] valeriomazzeo commented on #82
Sorry, I didn't word it correctly. It deleted the bot.

Just to make sure, in case it happens again what log file would be useful to you?

[2015-07-14 07:42] valeriomazzeo commented on #84
Isn't something you can do configuring the builadsaur project to test on more than one simulator?

I'll see what I can do about stripping personal information from that log file so I can send it to you.

[2015-07-14 07:43] czechboy0 commented on #82
Hmm in case you still have it, getting the output from `https://XCODE_SERVER_IP:20343/api/integrations` would be most useful, followed by the log file in `~/Library/Application Support/Buildasaur/Builda.log`

[2015-07-14 07:45] czechboy0 commented on #84
Yes, you can. When editing a Build Template, you select an iOS scheme and then `Selected Devices and Simulators`, which lets you tick devices/simulators below.

[2015-07-14 08:40] valeriomazzeo commented on #84
I meant, **you** in the sense that you can replicate it on your server.

Looking at the logs, it doesn't seem there is a summary for device available.

[code]

if you look inside each test, those are the `identifier` of the device, you can match them with the other snippet in the previous post.

[2015-07-14 09:21] czechboy0 commented on #84
Yeah I might need to do some processing myself. But that's fine as long as everything is included in the `Integration` object.

Cool, thanks. I'll look into it.

[2015-07-14 09:52] valeriomazzeo commented on #84
:+1:

[2015-07-15 21:54] #75 closed

[2015-07-15 21:55] czechboy0 commented on #75
Fixed by in #91.

[2015-07-15 21:56] czechboy0 opened #92 "Create an object for TestHierarchy"
Will be useful for #87 and other uses.

[2015-07-15 21:57] czechboy0 commented on #7
No clear use case for this right now. Closing.

[2015-07-15 22:00] czechboy0 opened #93 "Add basic, anonymous stat reporting"
To get a better idea of how Buildasaur is usually used, how often it crashes, how many people use it. Nothing personally identifiable, that wouldn't be useful anyway.

[2015-07-15 22:05] czechboy0 commented on #45
Again, I can't see demand for this and it would be of considerable work. Closing for now.

[2015-07-15 22:05] #45 closed

[2015-07-16 15:25] valeriomazzeo opened #94 "Buildasaur get confused when creating multiple PR from the same branch"
Consider the following scenario:

feature/1234 -> to merge into -> develop
feature/1234 -> to merge into -> release

Buildasaur create two different Xcode server bots, one for each PR.

When the first bot runs, everything is ok
When the second one start integrating, the first PR start writing many comments (repeated) and also the build status keep changing reflecting the status of the second bot.

[2015-07-16 15:54] czechboy0 commented on #94
This looks like a bug, thanks for reporting! :+1:
 (Shhh, I haven't tested this case at all, so it's very possible it's broken.)

[2015-07-16 15:57] valeriomazzeo commented on #94
it looks like every time buildasaur launch a check (15s) it posts a new comment.

[2015-07-16 16:00] czechboy0 commented on #94
Are you running Buildasaur from code and built locally or are you using a .app from a release here on GitHub?

[2015-07-16 16:01] valeriomazzeo commented on #84
To get back to the original topic, would it be possible to add an option to check that log for errors and launch another integration?

This happens also when testing on a single device and in this case adding more information about the device being tested won't solve the problem.

[2015-07-16 16:03] valeriomazzeo commented on #94
I am using the app. 0.29 I think?

It's the latest you can download.

[2015-07-16 19:36] czechboy0 commented on #84
I am worried about continuously starting new integrations. I'm not saying I won't do it, just sharing my reservations about trying to fix the bugs of Xcode Server by just running it again. Also, downloading the log and parsing it would be pretty slow. Again, doable, I just want to make sure there is no other way to recognize this case and react appropriately.

[2015-07-16 19:44] czechboy0 commented on #82
@valeriomazzeo Sorry, I can't reproduce it. If this ever happens again, feel free to comment and provide some logs or any more details and I'll reopen this issue.

[2015-07-16 19:44] #82 closed

[2015-07-16 21:01] czechboy0 commented on #94
Okay, this is amazing. Such an interesting bug. Let me try to explain what is going on.

Let me explain the context:
GitHub's Statuses are _only_ attached to **commits**, not to branches or pull requests. That means that if you have one branch as the head of two pull requests, both the pull requests will share the status (the little _failing_ - red x, _success_ - green checkmark and _pending_ - ye

[2015-07-16 21:39] valeriomazzeo commented on #82
sure, no problem :+1:

to be honest it's not happening all the time, but as long as I spot it I will provide some logs :)

[2015-07-16 22:07] valeriomazzeo commented on #94
@czechboy0 thanks for looking into this, it's absolutely crystal clear. Unfortunately, the scenario is not that uncommon if you think about tools like Travis that not only test the branch, but instead they tests the resulting merged branch. In that case, in fact, the results of the two different integrations may differ (I mentioned that workflow on twitter already).

Just to make sure I understood

[2015-07-16 22:35] czechboy0 commented on #94
I get it, but unfortunately this doesn't have much to do with Buildasaur, because AFAIK, Xcode Server does a normal `git clone`, which doesn't pull these _merge_ branches from GitHub. There's nothing I can do :( ([mentioned Twitter conversation](https://twitter.com/buildasaur/status/621715201373642752))

That's not the problem, rather we'd like to be able to decouple the status of the head commit

[2015-07-16 22:40] valeriomazzeo commented on #94
That's what I meant. Changing the status of a PR by id and not implicitly by the commit that basically may change multiple PR's statuses at once.

[2015-07-17 00:00] czechboy0 commented on #94
Yeah exactly. Unfortunately that's not possible :(

[2015-07-17 10:45] czechboy0 commented on #84
@valeriomazzeo

There might be a way to detect this (possibly). In this timing-out case, this seems to be true:
**currentStep** is completed
**result** doesn't say something that we'd expect (like test-errors or something like that), instead shows a result as if everything went fine
**performsTestAction** is true (tests should be ran)
**testingDeviceIDs** and **testingDestinationType** tells us wh

[2015-07-17 19:50] czechboy0 commented on #94
Well, anyway. I don't know how to fix this without completely changing the fundamentals of how Buildasaur works. Buildasaur is stateless right now, which means that it doesn't persist any data between syncs (which happen every 15 seconds by default). So everything it does when deciding what to do with each PR and Bot, it needs to read from GitHub and Xcode Server, respectively. It can't just "save

[2015-07-17 19:51] #94 closed

[2015-07-17 19:56] #92 closed

[2015-07-17 20:09] czechboy0 opened #96 "Save Project Name to Build Templates and only show filtered for specific project"
Right now Build Templates don't know which project they belong to. Change that to have the project's name (not URL, you might move it/have multiple clones of the same project, and you always want to show the available build templates).

- [x] Save Project Name in Build Template
- [x] Filter only Build Templates owned by the project (default to "belongs == YES" if no project is specified for backwa

[2015-07-17 20:29] #85 closed

[2015-07-17 21:26] czechboy0 commented on #96
Fixed in #98.

[2015-07-17 21:26] #96 closed

[2015-07-18 09:19] czechboy0 opened #99 "Support GitHub Enterprise"
Let's add support for self-hosted GitHub. Unfortunately, I don't have an Enterprise instance running anywhere, so it'd be very hard to test with. If someone is interested in helping me develop this feature for Buildasaur, I will need a couple of things:

- [ ] A dummy git repo hosted on your Enterprise instance, can be just a repo of a template Xcode project
- [ ] A GitHub token that can access th

[2015-07-18 09:25] czechboy0 commented on #80
This: https://github.com/jatoben/CommandLine might be useful for the CLI.

[2015-07-18 09:43] czechboy0 commented on #99
Work in progress: https://github.com/czechboy0/Buildasaur/compare/gladiolus...hd/github_enterprise?expand=1

And now I'm basically blocked by the things above. Without them, I can't really continue.

[2015-07-18 19:48] czechboy0 opened #100 "Allow Builda to be ran as a CLI tool (no UI)"
Seems to be tricky. I'm trying to have a separate target which doesn't have to be linked with AppKit (because it doesn't have any UI), but CLI tools can't have embedded frameworks (and Builda is spread across multiple ones).

I found this article, but it doesn't allow for Swift code in the CLI target itself: http://colemancda.github.io/programming/2015/02/12/embedded-swift-frameworks-osx-command-l

[2015-07-21 22:08] nguyen-tim opened #105 "Stash Support"
Hi czechboy0,

Great job creating this tool. I ran into a small issue when trying to configure my project with Buildasaur.  Our repos have moved from Github to Stash and I was wondering if Buildasaur will support stash projects in the future.  This alert pops up when trying to add my Xcode project:

Couldn't add Xcode project at path file:///nameOfProject.xcworkspace, error: Disallowed checkout ty

[2015-07-21 22:14] czechboy0 commented on #105
Hi @nguyen-tim, thanks!

At the moment, Buildasaur only supports GitHub. It's because each service has a very specific API when it comes to managing Pull Requests. We also have a request for Bitbucket (#65), so I'll consider this a request for another service.

However, I imagine the only way this will be done is if someone using Stash and understanding lots of the expected behaviors steps in and

[2015-07-22 19:07] garnett opened #106 "Dark menu bar: icon is not visible unless clicked"
Now it is completely invisible, if you click it it shows up:
<img width="205" alt="screenshot 2015-07-22 20 06 40" src="https://cloud.githubusercontent.com/assets/829783/8834646/53a96e02-30ad-11e5-9d85-dff2c6ec6313.png">

[2015-07-22 20:00] czechboy0 commented on #106
What version are you using? I'll need to go back to the old tag and fix it there, the newest version only supports Xcode 7 and up :)

[2015-07-22 20:01] czechboy0 commented on #106
The last Xcode 6 compatible version is 0.2.9.

[2015-07-22 20:06] delebedev commented on #106
I've used latest available release actually.

[2015-07-22 20:07] czechboy0 commented on #106
Latest release (0.2.9) or beta release (0.3b2)? Just so that I know which to fix :)

[2015-07-22 20:08] delebedev commented on #106
Sorry haven't seen 0.3b2, I use https://github.com/czechboy0/Buildasaur/releases/tag/v0.2.9

[2015-07-22 20:11] garnett opened #107 "0.29: The server SSH fingerprint failed to verify."
No idea what's happening actually, logs (I definitely have write access)
[code]

[code]

[2015-07-22 20:22] czechboy0 commented on #107
This seems like you're using an old version of Buildasaur (pre-0.3) with Xcode 7 in Xcode Server. If that's the case, please look at the last beta release 0.3b2, that should work :)

Xcode Server introduced fingerprint validation to their API in Xcode 7. Old Buildasaur version can't yet handle that.

[2015-07-22 20:23] czechboy0 commented on #106
But again, **only** update to 0.3 if you're using Xcode 7 in your Xcode Server.

[2015-07-22 20:24] delebedev commented on #107
It is exactly the case. However I cannot build 0.3 with latest (yesterday's) Xcode :cry: and there is no binary

[2015-07-22 20:25] czechboy0 commented on #107
Oh crap, in that case let me try to fix that and then you'll have to build from code (a bug in CocoaPods is not letting me archive in Xcode 7). Beta FTW

[2015-07-22 21:05] czechboy0 commented on #107
Fixed, try this one: https://github.com/czechboy0/Buildasaur/releases/tag/v0.3-beta3

[2015-07-22 21:07] czechboy0 commented on #106
This is fixed in 0.3 and judging from #107 you're using 0.3 beta already. (Just tested on dark mode and works ok, but you're right that dark mode was broken in 0.2.9).

[2015-07-22 21:07] #106 closed

[2015-07-22 21:08] czechboy0 commented on #107
Let me know if that works for you! :)

[2015-07-23 02:27] rhysforyou commented on #29
I'd definitely appreciate this feature. It's not a particularly elegant solution, but could you potentially start all bot names with the Pull Request number and allow anything after that to be user-defined?

[2015-07-23 07:22] joelekstrom commented on #29
@rpowelll It sounds like an OK solution to me. To make it even more failsafe, you could add a "magic number". So the bot names could be for example:

`Ⓑ#23 Custom defined text` where `Ⓑ` is the magic number for Buildasaur, and then the pr-number to distinguish the actual pull request.

[2015-07-23 07:28] czechboy0 commented on #29
Problem is multiple repositories might be tested with Buildasaur at the same time. So you might clash with pull request numbers. That's why the name of the repo needs to be in the name as well.

[2015-07-23 07:38] joelekstrom commented on #29
Hmm. So the problem is matching the server repo against a repo on Github, right? Couldn't you somehow access a Server repo and run `git remote` to find out the Github URL maybe?

[2015-07-23 07:44] czechboy0 commented on #29
Hmm that's a pretty good idea. I'll think about it.

Unfortunately I won't be able to also find the PR so that the name can be totally custom, because there isn't 1:1 mapping between branches and PRs.

But finding out the repo might be possible.

[2015-07-23 07:57] joelekstrom commented on #29
Cool. If that's possible, then doing `Ⓑ #23` as prefix to find the PR and the rest custom would be a sufficient solution IMO!

[2015-07-23 08:25] czechboy0 commented on #29
Technically, it might be, yeah! Okay, I'll take a look at this at some point and I'll add it to the 1.0 milestone.

[2015-07-25 11:04] czechboy0 commented on #107
@garnett Whenever you have a sec, please ping me whether your issue got resolved with the latest beta, thanks! :wink:

[2015-07-25 11:08] czechboy0 opened #109 "GitLab Support"
Let's tackle more services. We shall start with GitLab, because people who use it day-to-day can help out here.
- [x] Find API Docs: http://doc.gitlab.com/ce/api/merge_requests.html
- [x] All required data is reachable, although sometimes we'll have to call up to 3 requests to get what GitHub gives us in one - fortunately 304 caching will make this not really be a problem
- [ ] Personal Token Auth

[2015-07-25 15:25] delebedev commented on #107
@czechboy0 works fine with latest beta4 release!

[2015-07-25 15:32] czechboy0 commented on #107
:+1:

[2015-07-25 15:32] #107 closed

[2015-07-27 08:59] valeriomazzeo commented on #84
Hi @czechboy0, is there any progress on this?

Is there anything I can help you with?

[2015-07-27 09:27] czechboy0 commented on #84
Hey @valeriomazzeo,

sorry, no, I haven't had time to do this yet. Feel free to send a PR with a fix if you can come up with something based on the conversation we had above.

[2015-08-06 10:46] czechboy0 opened #111 "Generate Settings UI Dynamically from a JSON"
Instead of hardcoding UI elements like switches and textfields, generate that layout dynamically. What key it changes and what type should be shown could be described in a JSON file, which would be associated with every plugin.

[2015-08-19 23:14] ioveracker opened #112 "SSH error occurs when pushing a commit to a branch with an active PR while first build is running"
Steps to reproduce:
* Open a Pull Request.
* While the Builda bot is running the first integration, but before it has completed, push a new commit to the branch for which the PR was opened.
* Observe that the first build is cancelled, and the second build fails with a checkout error:
[code]

Workaround:
* Stop and start Buildasaur.
* Close the PR.
* Wait for bot to be deleted, and then reopen PR.

[2015-08-20 10:26] accatyyc opened #113 "Redundant integration step reporting"
Well, this is a really small issue, but now that GitHub have improved their support for CI services, "Buildasaur" will be printed twice when displaying integration step. I demand that the "Buildasaur:" part is removed from output! :rage2:

![skarmavbild 2015-08-20 kl 12 22 39](https://cloud.githubusercontent.com/assets/1607453/9381320/85325f2a-4736-11e5-88cd-9792495ad1fa.png)

[2015-08-20 19:15] bnr-jenkins commented on #12
@czechboy0 Where does this issue stand? I want to watch numerous repos.

[2015-08-20 19:18] stevesparks commented on #12
@czechboy0 What is the status of this issue? I have multiple repos I would like to watch.

[2015-08-20 21:35] czechboy0 commented on #12
Buildasaur doesn't yet support that, it's a feature scheduled for 1.0. I can't give you any specific dates yet, but I welcome any help through Pull Request :)

[2015-08-20 21:37] czechboy0 commented on #112
- Does this not happen when you let the first integration finish before you push again?
- Have you tried doing this between the second and third integration? There might be some weirdness in my logic when it comes to the first integration not being finished.

Thanks for reporting this! Will try to reproduce and fix in the next couple of days.

[2015-08-20 21:38] czechboy0 commented on #113
I would very much welcome a PR with this fix :wink:

[2015-08-20 22:33] voidrender commented on #112
1) This does not happen when we let the first integration finish. Works as expected in that scenario.
2) We have not tried this between the second and third integration, but I will keep an eye on that scenario.

Thanks! Really like Buildasaur. My team has a pretty PR-heavy workflow, so it saves us a lot of time.

[2015-08-20 22:41] czechboy0 commented on #112
Happy to hear that! :+1:

[2015-08-20 23:17] voidrender commented on #112
I happened to run into the scenario you mentioned in the second bullet point, so I tried it out and it didn't fail, so this seems to be limited to the first integration only.

[2015-08-20 23:31] czechboy0 commented on #112
Cool, that's really helpful, thanks!

[2015-08-20 23:32] voidrender commented on #112
It might be worth noting that when it successfully cancels an integration to start the next one, that fact doesn't seem to be communicated to GitHub. It continues to show as "building...".
![builda-112](https://cloud.githubusercontent.com/assets/1653961/9398140/b1ab0396-4758-11e5-8526-4327ea3bb694.png)

[2015-08-20 23:33] czechboy0 commented on #112
Yeah that's a known bug, would you mind reporting that as a separate issue? That's not trivial to fix but I'd like to find a way to do it.

[2015-08-20 23:33] voidrender commented on #112
Sure.

[2015-08-20 23:35] ioveracker opened #114 "Canceled builds do not show as canceled in the pull request"
Integrations canceled because of a new commit continue to show as "building..." in the pull request. See #112 for additional information.
![builda-112](https://cloud.githubusercontent.com/assets/1653961/9398212/51afe3fc-4759-11e5-8617-f4fec6a8237d.png)

[2015-08-21 06:38] joelekstrom commented on #113
Ask, and you shall receive.

[2015-08-21 12:14] #113 closed

[2015-08-25 13:57] czechboy0 commented on #81
Xcode 7 Beta 6 made this possible. `xcrun xcsbridge source-control blueprint-checkout --path BLUEPRINT_PATH --output OUTPUT_PATH` now actually checks out the repo. Super for the new onboarding where the user doesn't need to have the project checked-out locally (we will check it out in a temp location and pull info from there).

[2015-08-25 18:18] skydivedan opened #117 "what does LTTM mean?"
Sorry for the silly question, but I can't figure this acronym.

At work, we use "LGTM" for "Looks good to me", when approving a pull request. So, I assume it's something close, but I can't figure out what that first "T" is.

[2015-08-25 18:22] czechboy0 commented on #117
Good question, I actually don't have it spelled out in the readme. It means "looks testable to me" and the rationale is described [here](https://github.com/czechboy0/Buildasaur/blob/gladiolus/README.md#unlock-the-lttm-barrier). Basically, our tests take about 20mins, so we want to make sure the human reviewer is happy with the code before it gets tested.

[2015-08-25 18:22] czechboy0 commented on #117
And yes, we derived it from "lgtm".

[2015-08-25 19:03] skydivedan commented on #117
ok, thanks for the clarification!

[2015-08-25 19:03] #117 closed

[2015-08-30 18:07] atljeremy commented on #65
:+1: for bitbucket support

[2015-09-04 23:59] czechboy0 opened #120 "Investigate simplifying networking code with Alamofire"
https://github.com/Alamofire/Alamofire

[2015-09-05 00:01] czechboy0 opened #121 "Improve logs"
https://github.com/DaveWoodCom/XCGLogger

[2015-09-05 00:04] czechboy0 commented on #7
Try again with https://github.com/socketio/socket.io-client-swift, it would be great to be able to give a progress indication in Buildasaur/directly on GitHub.

[2015-09-05 00:05] czechboy0 commented on #93
Being worked on in #118 (closed)

[2015-09-17 13:53] czechboy0 commented on #114
This will require a bit more logic to be added: namely, `resolveActionsForCommitAndIssueWithBotIntegrations` in `SyncPairResolver` will need to keep a map from commits to an array of integrations performed for that commit. Then, we would resolve not just the last commit, but _all_ commits to their corresponding statuses and update all of the affected commits.

This could work. Sorry, @ioveracker i

[2015-09-17 13:55] czechboy0 opened #123 "Testing devices don't show up when editing a build template"

[2015-09-17 13:58] #123 closed

[2015-09-17 20:54] #93 closed

[2015-09-17 21:14] czechboy0 opened #126 "Alamofire issue when creating a .app (crashes on startup)"
Master is broken since #125 got merged - seems like Alamofire is not being copied over. Investigating...

[2015-09-17 21:32] czechboy0 commented on #126
Looks like Pod resources were not getting copied over. Fixed.

[2015-09-17 21:32] #126 closed

[2015-09-20 15:21] nadavhart opened #127 "Can't setup using a project that was checked out via SSH"
Hey @czechboy0. First of all, this is a beautiful project! thank you :)

I'm trying to set it up on our CI mac mini (using Xcode 7, OS X 10.10.5, OS X Server 5.0.0, Buildasaur 0.4.0), but although I checked out the project via SSH, I'm seeing this error when trying to add my project in the initial setup "Couldn't add Xcode project at path file:///path/to/project/workspace.xcworkspace, error: Disal

[2015-09-20 16:12] FlashGen commented on #127
I have the same issue. Could it be because I checked out my project outside of Xcode and Buildasaur is looking for a specific flag Xcode sets?

[2015-09-20 16:41] czechboy0 commented on #127
Hey guys, sorry to hear you're having this issue.

Buildasaur is looking for a file called `Buildasaur.xccheckout`, which Xcode should create inside of the workspace when opened. Try opening your cloned project on Xcode and possibly just creating one Bot manually and then trying Buildasaur again. This could force Xcode to create the xccheckout file.

I haven't yet found a way to force Xcode to cre

[2015-09-20 17:58] czechboy0 commented on #127
Relates to #89

[2015-09-21 18:00] nadavhart commented on #127
Hey (and apologies for the delay in answering).

@czechboy0, I've checked and the xccheckout file exists in the repo inside the xcworkspace file, but as it is was already committed in the past, the fact that I clone the repo via ssh doesn't reflect in it (it only contains the https url). I guess that this is the root of the issue (at least on my end). I tried forcing Xcode to create a new xcchecko

[2015-09-22 12:48] czechboy0 commented on #127
@nadavhart Oh if you already have a checkout file (should be in the `.xcworkspace/xcshareddata/PROJECT.xccheckout`), just edit the remote URL from https to ssh - just search for `https` in the checkout file, very easy to find. Then start Xcode again and hopefully that should help (Buildasaur will def be happy).

[2015-09-22 13:42] nadavhart commented on #127
I decided to stop being lazy, reviewed the project.swift and found out exactly that a minute ago :) basically I just had to change the value for IDESourceControlProjectURL, and to make sure to add it without the "git@" prefix. Everything works well and setup is on it's way. Thank you!

[2015-09-22 14:53] czechboy0 commented on #127
:+1: Amazing. I still need to find out whether there's a good way to make Xcode (re)generate the checkout file. Glad you got this working though!

[2015-09-22 14:53] #127 closed

[2015-09-25 02:05] grantjk opened #128 "Analyzer Warnings are Not considered Errors"
When the static analyzer fails on the server, the report sent to Github should be a failure status. Currently, the status is reported as green, with no mention of the analyzer errors

### Example PR with failing analyzer

![screenshot 2015-09-24 22 02 20](https://cloud.githubusercontent.com/assets/1066132/10091360/4e50e934-6308-11e5-8f77-1fbd36061ed2.png)

### PR Status Message

![screenshot 2015-

[2015-09-25 02:11] grantjk opened #129 "Bots Initial Integrations Are Not Triggered"
With our setup, a bot is created fine for each PR, but the first integration is never created. We have to manually trigger the first integration, at which point, future integrations are handled perfect.

I've attached an image of our Bot config below and we're using SSH to access GH.

![screenshot 2015-09-24 22 09 11](https://cloud.githubusercontent.com/assets/1066132/10091420/1ea4376c-6309-11e5-9

[2015-09-25 02:44] grantjk commented on #128
I realized later tonight that analyzer warnings are reported if there are no other warnings.  IMO, I still think that if the build comes back with warnings and/or analyzer warnings, this should be posted as a "failed" state to Github so the red `x` shows up rather than the green checkmark

[2015-09-25 10:04] czechboy0 commented on #128
Would you consider a warning a reason to also fail? Or would you treat analyzer warnings and warnings differently?

You can see [here](https://github.com/czechboy0/Buildasaur/blob/master/BuildaKit/SyncPairResolver.swift#L268) that `warnings` and `analyzer warnings` as still treated as success (I've seen situations when migrating Xcode's, e.g., when a couple of warnings will be in the project for a

[2015-09-25 10:07] czechboy0 commented on #129
Hmm, that's weird.
1. What is your sync interval? Did you keep it at 15 seconds or did you make it longer? There is a caveat that actually the bot _creation_ and the kick-off of its first integration are _not_ done in the same sync pass, so you'd have to wait another `sync interval` seconds for Buildasaur to kick it off. Please make sure you waited at least that long and let me know if no integrat

[2015-09-25 10:13] czechboy0 commented on #121
Not a clear reason to use it after all. We already have our needs covered.

[2015-09-25 10:13] #121 closed

[2015-09-25 10:18] czechboy0 commented on #120
Hmm all networking is encapsulated in [HTTPUtils](https://github.com/czechboy0/BuildaUtils/blob/master/BuildaUtils/HTTPUtils.swift) and we have very limited and clear needs of what it needs to do (which it already does). As much as Alamofire looks cool, for this tiny amount of networking it's a dependency we can do without.

[2015-09-25 10:18] #120 closed

[2015-09-25 10:41] czechboy0 commented on #129
Wait, I just remembered - are you sure you don't have the [lttm barrier](https://github.com/czechboy0/Buildasaur#unlock-the-lttm-barrier) enabled? That would cause Buildasaur to wait for a comment saying `lttm` to start testing. You can verify by hovering over the orange dot and reading the message. If it shows something like this below, you have the `lttm barrier` enabled - which you can disable

[2015-09-25 10:43] czechboy0 opened #130 "Change the lttm barrier default from enabled to disabled"
It seems like most people don't expect the `lttm barrier` to be there and then think Buildasaur doesn't work (even though the GitHub status message is very clear). Let's change the default to disabled.

- [x] change the default in the code
- [x] change the readme section to reflect that

[2015-09-25 10:49] czechboy0 commented on #112
Hi @ioveracker - I tried for an hour to reproduce this but unfortunately I couldn't. Even when I push additional commits to an existing PR which has a running Bot, the first integration gets cancelled (as it should) and the next one is kicked-off and succeeds. Can you please make sure to update to the latest Buildasaur (0.4.0), the latest Xcode (7 - release) and OS X Server (5 release) - and try a

[2015-09-25 10:55] czechboy0 commented on #84
Hi @valeriomazzeo, it's been a while. Could you please update to the latest Xcode 7, OS X Server 5 and Buildasaur 0.4.0 and try whether this is still happening? It's a known issue in `xcodebuild`, so I'm wondering whether you're still seeing this issue. Thanks! :+1:

[2015-09-25 10:58] czechboy0 commented on #79
In the release version of Xcode 7, it seems like when creating a Bot, user is not asked to trust the fingerprint any more. Either Xcode remembers it or they took it away again.
Either way, the way we're doing it now (extra roundtrip to trust the server) seems to be working fine.

[2015-09-25 10:58] #79 closed

[2015-09-25 11:19] czechboy0 commented on #87
Duplicate of #49.

[2015-09-25 11:19] #87 closed

[2015-09-25 11:19] czechboy0 commented on #49
Mentioned in #84, it would be better if Buildasaur gave more detail about the devices that ran tests, e.g.

[code]

[2015-09-25 12:51] #130 closed

[2015-09-25 13:42] valeriomazzeo commented on #84
We changed project structure and we didn't encounter this issue anymore to be honest after that.
Also updating cocoapods, the result was to end up with less targets (in total) and that may have helped.

[2015-09-25 13:52] grantjk commented on #129
That was it!  Oops! Thanks!

That wasn't the default on the previous versions of the app, so I wasn't expecting it. Glad to see #130 go in!

:+1:

[2015-09-25 13:52] #129 closed

[2015-09-25 13:55] grantjk commented on #128
Ha! That probably depends who you ask. Like the dot-syntax vs. brackets debate.

Personally, we try to keep all projects with 0 warnings overall, so any warning to me is considered a regression / error. And when I see the green checkmark and Github's big green buttons, it indicates to me that everything is perfect.

Analyzer warnings, however, should definitely be considered failures. Those are th

[2015-09-25 13:58] czechboy0 commented on #84
Okay, let's close this for now and feel free to reopen it if you see it again. Thanks!

[2015-09-25 13:58] #84 closed

[2015-09-25 14:00] czechboy0 commented on #129
Okay, sorry about that. But at least #130 fixes that for others. To be honest, I should have realized this earlier, but I was just closed in my little world where `lttm` was commonplace.

Anyway, the default is `off` now, so this shouldn't happen again.

[2015-09-25 14:02] czechboy0 commented on #128
Fair enough. I don't just want to change it in code, so I'll probably add a way to configure how to treat warnings/analyzer warnings and probably default to the existing behavior, with the option to switch to `strict` mode.

[2015-09-25 14:03] czechboy0 opened #132 "Treat warnings/analyzer warnings as build failure - customization"
Allow users to specify whether `warnings` and `analyzer warnings` should fail the build or not. I see both sides having valid usecases, so we need to add a way to customize this.

- [ ] add a simple mapping to Config.json to customize how to treat `warning`s and `analyzer warning`s
- [ ] add a way to change this in the UI

[2015-09-25 14:04] czechboy0 commented on #128
Moving to #132.

[2015-09-25 14:04] #128 closed

[2015-09-25 14:08] Brett-Best commented on #89
@czechboy0 would this allow us to force Xcode to generate an xccheckout file? I can't seem to get it to generate one... I have cloned using both SSH and HTTPS, cloned using both git from terminal, source tree and Xcode. (and then opening the project in Xcode). Have you got any tips for forcing one to generate? I am using cocoa pods as well so I have a workspace.

[2015-09-25 14:10] czechboy0 commented on #89
Yeah also try creating a Bot manually from Xcode, that might help. Unfortunately this is something I'm still hunting down, in Xcode 6 the file seemed to have been created right after the project was opened in Xcode. Xcode 7 however seems to be a bit lazier.

[2015-09-25 14:11] Brett-Best commented on #89
@czechboy0 I have tried creating a bot from Xcode by selection Create bot from the menu (didn't work). Is there a way to get around Xcode not generating it? I also tried opening both the workspace and project file in Buildasaur.

[2015-09-25 14:24] Brett-Best opened #133 "SSL Error"
When connecting to my local Xcode Server I get an SSL error.
I was able to workaround this by adding a key to the info.plist regarding App Transport Security.

I wonder if we are able to have a preference in Buildasaur to toggle this?

[2015-09-25 14:31] czechboy0 commented on #89
Technically, yes, but it's a bit tricky. Basically there is a way to create the checkout file manually, but unfortunately that will make it impossible for you to edit Bots created in such a way. I mean, you don't need to do that most of the time, but just heads up.

Let's use this project as an example - in fact, you can see Buildasaur's checkout file [here](https://github.com/czechboy0/Buildasaur

[2015-09-25 14:34] czechboy0 commented on #133
Yes, this will start happening with El Cap. I don't have a good solution yet - in fact, could you please fork this repo and send a Pull Request with the Info.plist edited to completely bypass ATS? Because most people have self-signed certificates on their server, so almost everyone will hit this. Thanks :+1:

[2015-09-25 14:42] Brett-Best commented on #133
@czechboy0 yeah neither I think unless you can change the info.plist at runtime then leaving it off might be best or have two different binaries. See #134.

[2015-09-25 14:46] Brett-Best commented on #89
Okay so say I edit a bot do I just need to give Buildasaur the new xccheckout?
Also it looks like Buildasaur needs to be setup as a seperate github user? Does that mean I need an organisation account?

Okay cool I will give that a try..

Thanks so much for the help @czechboy0!

[2015-09-25 14:48] czechboy0 commented on #89
Buildasaur takes a workspace/project file and it looks inside of it automatically. So now, follow the steps above and once you have that `.xccheckout` file edited for your project, **commit it to your repo** so that it stays there. Then, launch Buildasaur and point it at your workspace (which now contains the checkout file) and it should then let you proceed.

Nah, I just use a separate GitHub, bu

[2015-09-25 14:50] Brett-Best commented on #89
Right I see, I wonder if Xcode isn't generating it because it is in my gitignore... I wasn't planning on committing it to my repo.

Okay cool, is there a way for it to not comment but rather use the github status API so I can use protected branches? EDIT: I see it does this already, can we have it report like 101 test passed, 5 tests failed?

[2015-09-25 15:48] czechboy0 commented on #89
Yeah it uses both the GitHub status **and** posts a comment. You can disable the comments in the UI at the bottom

Yes, actually have comments tell more about the tests etc is the subject of another ticket, so any contributions are welcome :+1: Such as #49.

[2015-09-25 15:50] czechboy0 commented on #133
Fixed by #134.

[2015-09-25 15:50] #133 closed

[2015-09-25 20:22] czechboy0 commented on #7
See #135

[2015-09-25 20:22] #7 closed

[2015-09-26 12:16] Brett-Best commented on #89
@czechboy0 okay cool I will look into it... just trying to get my custom xccheckout file to work at the moment.

[2015-09-27 13:38] Brett-Best commented on #89
@czechboy0 I got it to work. Is there a way to build 2 targets? For example: iOS, OS X, watchOS, tvOS?

[2015-09-27 13:49] czechboy0 commented on #89
Not at the moment, you would need separate Xcode Bots for this - because the Bot needs a scheme, which points to just one target. However, I am working on multi-project support (#12) , which would make it possible - you'd have separate syncers for your iOS target, OS X target etc.

[2015-09-27 13:52] Brett-Best commented on #89
@czechboy0 okay I wonder if I could create two instances of buildasaur. Okay cool.

[2015-09-27 14:20] Brett-Best commented on #89
@czechboy0 in regard to this actual issue after a PR bot has completed my normal bots give me a warning.
`Assertion: An error occurred updating existing checkout. Falling back to a clean checkout.`

[2015-09-27 14:28] czechboy0 commented on #89
@Brett-Best Could you please move this comment into a new issue? I'll take a look at it and comment there, thanks :+1:

[2015-09-27 14:44] Brett-Best opened #136 "GIT Warning"
```An error occurred updating existing checkout. Falling back to a clean checkout.```
My normal bots produce the above warning after Buildasaur runs a PR bot.

[2015-09-27 14:48] czechboy0 commented on #136
If you push to the branch of this PR again, and another integration happens, does that also have this warning? I've seen this on the 1st integration only, so I'm wondering if it goes away with more integrations or not.

[2015-09-28 08:53] czechboy0 commented on #136
Can you reliably reproduce this on every new PR Bot created by Buildasaur?

[2015-09-28 08:54] Brett-Best commented on #136
@czechboy0 once buildasaur does a PR bot the first time normal bots run it happens.

[2015-09-28 08:57] Brett-Best commented on #136
Something to do with my creation of the xccheckout file I wonder.

[2015-09-28 09:10] Brett-Best opened #137 "Password Storage"
Currently credentials are stored in plain text.

Change to use the keychain instead.

[2015-09-28 09:23] czechboy0 commented on #136
Right, maybe it's that, yeah. Are you sure you modified all the values properly? Maybe going through it again to see might be worth it. Because I'm not seeing this error at all on my Mac.

[2015-09-28 09:33] Brett-Best commented on #136
@czechboy0 yes I replaced all of the values correctly.

[2015-09-28 22:12] czechboy0 opened #139 "Auto-stretching columns in a view-backed NSTableView?"
Currently auto-sizing of columns only seems to work in `NSCell`-based NSTableView. I can't seem to figure out how to make sure that when I resize a window with a `NSTableView`, that it not only resizes the columns, but also the views/cells inside. Help?

[2015-09-29 15:37] concertman opened #140 "Can't add Xcode Project/Workspace"
Greetings! we are really loving Buildasaur. Just having an issue getting a project set up.

on 0.4.0 when I try to add my workspace I get the following message.

I follow those steps and still get the same error. I've also tried the steps listed in #127 (just in case) and still couldn't get it to work. I've checked for the presence of `.xcworkspace/xcshareddata/PROJECT.xccheckout` and there's not

[2015-09-29 16:25] czechboy0 commented on #140
Hi @concertman, sorry that you're having this issue. Xcode 7 seems to have changed the way they generate the checkout file (to the point that I'm not sure when it generates it, if at all).

I am still in the process of trying to figure out what changed, because all the users who have been using Buildasaur from before Xcode 7 are fine (the fine is there and checked into their repo).

There _is_ a w

[2015-09-29 16:27] czechboy0 commented on #140
Also, just to check, does the file `.xcworkspace/xcshareddata/PROJECT.xcscmblueprint` (different file extension) exist? I think that's the new format that Xcode is using.

[2015-09-29 16:37] Raman148 commented on #140
If you have the luxury, simply open the project in Xcode6.4 and then in Xcode 7.
Opening it in 6.4 will auto generate this file

[2015-09-29 17:42] czechboy0 commented on #140
@Raman148 Oh have you actually tried that? Amazing, I was wondering whether that would help. @concertman This is definitely a better solution than having to hack the checkout file yourself :)

Thanks @Raman148!

[2015-09-29 17:54] Raman148 commented on #140
@czechboy0 Confirmed on my end, I had this issue this morning when migrating.

Thank you!

[2015-09-29 18:48] czechboy0 commented on #140
@Raman148 Thanks again, I'll recommend this as a troubleshooting step before I can make Xcode generate these files for us reliably.

Also, in #141 I just added support for `.xcscmblueprint` files, which, I believe, is what Xcode 7 prefers to generate (sometimes).

[2015-09-29 18:51] czechboy0 commented on #140
@concertman Please try what @Raman148 suggested and let me know if that fixed it for you, thaaaaanks! :wink:

[2015-09-29 19:16] czechboy0 commented on #140
Also, @concertman please update to [0.5.0](https://github.com/czechboy0/Buildasaur/releases/tag/v0.5.0) before you try again, maybe you at least had an `xcscmblueprint` file there, which would now get picked up by Buildasaur, thanks!

[2015-09-29 20:39] czechboy0 commented on #136
Hey @Brett-Best, is this still happening?

[2015-09-29 21:13] czechboy0 opened #142 "Split logs into multiple files"
Right now logs keep getting appended to one file, which grows to GBs. We need to automatically split into a new file when we go over certain size.

[2015-09-30 11:23] concertman commented on #140
@czechboy0 I just tried 0.5.0 locally and it seems to work. I'm about to try it on my Xcode CI server to confirm. I'll post back once I have done that.

[2015-09-30 12:04] czechboy0 commented on #140
Ha, if just upgrading to 0.5.0 alone fixed it, it means you had the newer
format checkout file there (xcscmblueprint). Make sure to keep that checked
in in git. Feel free to ping me if you need any help setting Buildasaur up!
On Wed, Sep 30, 2015 at 12:23 PM Jarod McBride notifications@github.com
wrote:

[2015-09-30 12:47] Brett-Best commented on #136
@czechboy0 yes it is.

[2015-09-30 13:55] concertman commented on #140
@czechboy0 just tested it on our server and it's up and running fine. I verified that yes our workspace is using the xcscmblueprint (our project started in Xcode 7 beta) and never did have the .xccheckout file.

Thanks for the help!

[2015-09-30 13:55] #140 closed

[2015-09-30 15:07] czechboy0 commented on #140
Thanks @concertman, this is great to know in case other people are having the same issue.

[2015-09-30 15:10] czechboy0 commented on #136
@Brett-Best Can you please read through the conversation in #140, which got resolved. Maybe creating the checkout file by hand won't be the best way to go. In #140, there are two possible fixes mentioned:
- upgrade Buildasaur to 0.5.0, which now also parses `xcscmblueprint` files
- if that doesn't help, if possible, open your project in Xcode 6.4, which should create the old checkout file for you

[2015-09-30 15:49] valeriomazzeo opened #143 "Crash on Start [0.4.0, 0.5.0]"
I am not able to run the latest version, it crashes the moment I press the start button.

From the crashlog:
[code]

It looks like there is an hardcoded path?

[2015-09-30 15:55] czechboy0 commented on #143
This is actually an issue in XcodeServerSDK, I created this issue [there](https://github.com/czechboy0/XcodeServerSDK/issues/114) (subscribe to that one). I'll take a look at how to nicely handle this case, but basically this means that the Bot can't be created because _no supported platforms_ were found on Xcode Server. Maybe try to reinstall Xcode Server (through OS X Server). Either way, this p

[2015-09-30 15:55] #143 closed

[2015-09-30 15:57] valeriomazzeo commented on #143
Do you have any idea on how to make it work?

I have updated Xcode server to 5.0.4 and all works fine to be fair, apart from Buildasaur.

[2015-09-30 15:58] czechboy0 commented on #143
So when you're creating a Bot (manually, from Xcode), does it let you select devices to test on?

[2015-09-30 16:00] valeriomazzeo commented on #143
I re-selected the Xcode app from the server app and now is working, weird...

[2015-09-30 16:09] czechboy0 commented on #143
Yeah, I think it re-initializes its internal platforms/SDKs. Glad it's working now, we will need to make that change in XcodeServerSDK anyway, to handle this case more gracefully. Thanks for reporting it! :+1:

[2015-09-30 16:10] valeriomazzeo commented on #143
np! :+1:

[2015-09-30 16:22] valeriomazzeo opened #144 "Schemes not detected when owned by workspace"
This happens both with an existing template or when creating a new template.

I don't really know what more information I can include.

Screenshot attached below:

![screen shot 2015-09-30 at 17 20 15](https://cloud.githubusercontent.com/assets/1882080/10199240/b2e82586-6797-11e5-9e44-2f334d76ceb7.png)

[2015-09-30 16:24] czechboy0 commented on #144
Yeah, can you please check whether you already filled-in your Xcode Server config first? I hacked it terribly, but there's an implicit dependency (first config Xcode Server, then config the Project) - because we need to fetch the list of devices from Xcode Server to show the list.

[2015-09-30 16:30] valeriomazzeo commented on #144
the created both runs on all the simulators available at the moment.

I am not sure what you mean with:

What would be the steps to have it working again?

[2015-09-30 16:33] czechboy0 commented on #144
<img width="339" alt="screenshot 2015-09-30 17 31 15" src="https://cloud.githubusercontent.com/assets/2182121/10199544/17f6911e-6799-11e5-90a1-e6fe5d018507.png">

As in before you go into setting up your project/build template, first finish setting up Xcode Server credentials on the right side of the Buildasaur window (above). Please make sure you hit `Done` to validate that it is accessible. Once

[2015-09-30 16:35] valeriomazzeo commented on #144
I was already doing that, unfortunately still doesn't work :(

[2015-09-30 16:37] czechboy0 commented on #144
In that case, can you just run `curl -k https://localhost:20343/api/devices` for me and see if any devices are returned?

[2015-09-30 16:42] valeriomazzeo commented on #144
[code]

[2015-09-30 16:44] czechboy0 commented on #144
Sorry @valeriomazzeo, I deleted the comment, that information also has UUID of your devices, which you don't want public :)

[2015-09-30 16:45] valeriomazzeo commented on #144
Fair enough, didn't look for it to be honest.

By the way, it's not empty as you could see :D

[2015-09-30 16:46] czechboy0 commented on #144
But I see that the devices were there. Very strange. I wonder if the issue is in XcodeServerSDK or in Buildasaur. Could you please clone https://github.com/czechboy0/XcodeServerSDK and in there's a playground inside. In there, try to call on server `server.getDevices...` (see [here](https://github.com/czechboy0/XcodeServerSDK/blob/master/XcodeServerSDK/API%20Routes/XcodeServer%2BDevice.swift#L21))

[2015-09-30 17:06] valeriomazzeo commented on #144
It looks like it doesn't get executed at all? I don't get anything in the completion block, not even errors.

[2015-09-30 17:45] czechboy0 commented on #144
Is your Xcode Server running on localhost? If you open `XcodeServerSDK.xcworkspace` and on the left go to `Playgrounds/XcodeServerSDK.playground`, it should work. If your XCS is running on a different IP address, change that on line 7. This is the playground contents with the call changed to `getDevices`:

[code]

This yields results on my machine (if you open the console at the bottom).

[2015-09-30 17:54] valeriomazzeo commented on #144
That's exactly what I did.

I managed to get the list of bots (so the playground was definitely working) but not the list of devices.

[2015-09-30 18:25] alimoeeny opened #145 "Can you put bots or at least triggers under source control?"
I think it is reasonable to share triggers (or even bots?) under source control and / or share them with team members. Specially if you have a people in different locations with their own network ...

[2015-09-30 19:22] czechboy0 commented on #144
Hmm that is _weird_ indeed :( The API works, because `curl` returned the right data... I suggest you clone the source and try to debug the call, whether it returns. Unfortunately there's not much more I can do from here :(

[2015-09-30 19:26] czechboy0 commented on #145
Yes, great idea, this is actually something I've been considering for a while. I built a Ruby tool [xcskarel](https://github.com/czechboy0/xcskarel) which can actually [dump Bot config](https://github.com/czechboy0/xcskarel#manage-bot-configurations-in-your-git-repo) into a file (designed for this purpose).

Let me know what exact workflow would be appropriate for you, there are many ways we could

[2015-09-30 19:52] alimoeeny commented on #145
Thanks @czechboy0 , greatly appreciate your swift :) response.
I guess this overlaps with https://github.com/czechboy0/Buildasaur/issues/1
This is how I imagine it may work:
I create a bot and I want to share it with the rest of the team so that they can run their local bots, experiment with it, and when we change it we want to be able to keep track of changes and review the changes ....
I have ex

[2015-09-30 20:01] czechboy0 commented on #145
Thanks @alimoeeny, that sounds great. Buildasaur saves its preferences to `~/Library/Application Support/Buildasaur` - would you want to add those into source control?

[2015-10-01 09:20] valeriomazzeo commented on #144
I tried with a project importing XcodeServerSDK (without playground) and `server.getDevices` works perfectly fine.

[2015-10-01 09:23] czechboy0 commented on #144
Ok then it must be somewhere in Buildasaur. Can you try to start over,
delete the project and configure it again in Buildasaur? Not sure what's
going on. Or clone the source and debug it :)
On Thu, Oct 1, 2015 at 10:20 AM Valerio Mazzeo notifications@github.com
wrote:

[2015-10-01 10:02] valeriomazzeo commented on #144
I can give it a try, where does Buildasaur store the configuration files?

[2015-10-01 10:09] czechboy0 commented on #144
~/Library/Application Support/Buildasaur
On Thu, Oct 1, 2015 at 11:02 AM Valerio Mazzeo notifications@github.com
wrote:

[2015-10-01 10:32] valeriomazzeo commented on #144
I am debugging buildasaur directly, can you point out where in the code is worth check? thanks

[2015-10-01 10:37] valeriomazzeo commented on #144
it's exiting here:

[code]

Probably because inside the following function it enters into the `catch`

[code]

and that's because in `public class func parseDeviceTypeFromProjectUrlAndScheme(projectUrl: NSURL, scheme: String) throws -> DeviceType`

`typeString` is empty

now I see why you meant with "it's hacky" :D

[code]

I think the whole problem is that running `xcodebuild -list` on my project

[2015-10-01 10:56] valeriomazzeo commented on #144
So in the end, my project was setup like this:
<img width="795" alt="screen shot 2015-10-01 at 11 55 08" src="https://cloud.githubusercontent.com/assets/1882080/10219012/519fe6d2-6833-11e5-9a61-830d4db1f84c.png">

Instead than like this:
<img width="788" alt="screen shot 2015-10-01 at 11 54 58" src="https://cloud.githubusercontent.com/assets/1882080/10219016/5990fdae-6833-11e5-9457-33d80cba0e1d.pn

[2015-10-01 11:12] alimoeeny commented on #145
Dude, you save my server password and my ssh passpharse and github token in plain text in `ServerConfig.json` and `Projects.json` . This is totally unacceptable.
Can we do keychain?
Do you want me to send a PR for this?

And yes, I think Having Build templates under source control would be enough. Thanks.

[2015-10-01 13:13] valeriomazzeo opened #147 "Buildasaur post multiple comments for the same integration"
<img width="778" alt="screen shot 2015-10-01 at 14 12 26" src="https://cloud.githubusercontent.com/assets/1882080/10221478/98d68002-6846-11e5-982d-b30826e40d8d.png">

[2015-10-01 17:26] czechboy0 commented on #145
There is a ticket for this already: #137. Feel free to contribute if you really need it ASAP :) (just mark it in the ticket if you do, @Brett-Best was planning on implementing that, so let's make sure you guys don't duplicate your work).

[2015-10-01 18:06] alimoeeny commented on #145
Thanks, I'll wait for @Brett-Best

[2015-10-01 18:06] #145 closed

[2015-10-01 22:35] czechboy0 commented on #145
Cool :+1:

[2015-10-01 22:57] czechboy0 commented on #147
- Does that happen on every integration?
- Can you reproduce this with a new Bot/PR?

(Now some stupid questions:)
- Are you possibly running two instances of Buildasaur (one downloaded, one from source? - has happened to me many times, that's why I'm asking)

[2015-10-01 22:59] czechboy0 commented on #144
Oh, amazing work, @valeriomazzeo, thanks so much for taking the time and actually debugging this onsite. I would not have been able to help you from where I'm sitting :)

This is interesting, because I remember adding support for schemes contained in _either_ the project or workspace. Maybe they did change something in Xcode 7. Let me try to reproduce this.

Thanks again!

[2015-10-01 23:03] czechboy0 commented on #144
Damn, I can't reproduce this locally. Even when I change the ownership of the schemes to the workspace, Buildasaur picks them up just fine.

I'm sorry - but could you try to change them back to be owned by the workspace and try Buildasaur again? If that doesn't work again that would be a bug in Buildasaur I would be very much interested in fixing. Thanks again :+1:

[2015-10-02 06:48] Brett-Best commented on #145
@alimoeeny I am hoping to have this done in the next week or so, feel free to submit a PR before that time though.

[2015-10-02 07:51] valeriomazzeo commented on #144
It's not a bug in buildasaur.

It's 'xcodebuild -list' that can't find the schemes with that kind of setup. As result, your script has nothing to parse.

[2015-10-02 07:52] czechboy0 commented on #144
Are you able to isolate the cases when it doesn't work? Did you say it didn't find the schemes when they were under the workspace but _did_ when under the project? What Xcode are you on? OS X?

[2015-10-02 07:57] valeriomazzeo commented on #147
- it doesn't happen all the time
- yes but it's completely random
- 100% there is only one instance running

What I think it may be is that my integrations take as long as 20 minutes to finish.

Buildasaur timer is set to 15 seconds. Maybe the Xcode server API takes some time to close the build (or perhaps some responses are cached?) and if that happen in that 15 second span, Buildasaur then post

[2015-10-02 08:05] valeriomazzeo commented on #144
OS X Yosemite, El Capitan (wasn't working on both)

Xcode 7 (I think they changed something in xcodebuild)

Under the workspace can't find them, under the project it can.

I was using -list for debugging, your script uses -scheme. Both said scheme not found.

I can try and see if I can reproduce it with a new project.

[2015-10-02 08:07] czechboy0 commented on #144
That would be great, thanks so much. If they changed something, I'd like to make sure to support it in Builda :)

[2015-10-02 08:14] czechboy0 commented on #144
You're right, I reproduced it. It seems that previously when you ran `xcodebuild -list`, it implicitly picked up the workspace, which contains both schemes from the workspace and the projects inside of it. Now, however, the `.xcodeproj` seems to get picked up.

Fix will be easy - we'll look at the file extension and if `.xcworkspace`, we run `xcodebuild -workspace WORKSPACE_NAME -scheme SCHEME_NAM

[2015-10-02 08:23] valeriomazzeo commented on #144
no problem at all, it's the beauty of open source :)

[2015-10-02 08:25] czechboy0 commented on #147
On the list, #49.

[2015-10-02 08:45] joelekstrom commented on #144
I also have this problem, tests take about 30 min since it runs on ALL simulators/devices :smile:

[2015-10-02 08:47] czechboy0 commented on #144
@accatyyc Do you really mean _this_ ticket or did you mean #147?

[2015-10-02 08:48] joelekstrom commented on #144
I think I mean this. I can't select to run only on devices/certain simulators since nothing shows up during config. Which means it runs on everything

[2015-10-02 08:48] czechboy0 commented on #144
Ha, okay, sorry. Yes, I'm fixing this as we speak, hopefully will have a fixed version released in about half an hour.

[2015-10-02 08:52] joelekstrom commented on #144
Nice :smile: talk about quick support

[2015-10-02 09:00] czechboy0 commented on #144
Ok, it might actually take a bit longer :laughing:

[2015-10-02 09:04] czechboy0 opened #148 "Parse workspace as proper XML"
Find a lightweight XML-parsing lib and do it properly.

[2015-10-02 09:16] valeriomazzeo commented on #147
Looking at the source code I think what it may happen is that if github is slow and the requests take anytime greater than the sync interval (default 15 seconds), there is a good chance that the post comment requests get stacked and queued because the status won't be updated.

I think the only solution would be to actually add some more check or limit the number of post comment requests per commit

[2015-10-02 09:43] #144 closed

[2015-10-02 09:44] czechboy0 commented on #144
@valeriomazzeo I just merged the fix into master. Could you please try to pull and build from source and make sure that it's now working for you? @accatyyc feel free to do the same. I want to make sure it really works before I make the release. Thanks!

[2015-10-02 09:50] joelekstrom commented on #144
Great, will try!

[2015-10-02 10:27] valeriomazzeo commented on #144
I confirm that now it works in both configurations :+1:

well done!

PS: If you are about to make a new release, could you please have a look at https://github.com/czechboy0/Buildasaur/issues/147 first? It's really really really annoying :S

[2015-10-02 11:54] joelekstrom commented on #144
I have tested now, and it works with a quirk.

First when opening Buildasaur, I verified the Xcode server settings first. Then started editing the scheme settings. No devices or options showed up, so I thought the bug was still there. But then I switched to a different scheme and back and all devices showed up!

[2015-10-02 13:12] valeriomazzeo commented on #144
devices are pulled the moment you select a scheme from the dropdown menu I guess

[2015-10-02 13:41] czechboy0 commented on #144
Yes. It should also re-pull on show of the whole screen, so that should be considered a bug I guess.

[2015-10-02 14:29] czechboy0 opened #151 "Multiple Xcode Servers/machines, one Buildasaur, multiple checks on GitHub"
Currently Buildasaur just uses one id for GitHub when updating commit statuses. However, we could support a way to have multiple machines with different OS/Xcode versions running different Xcode server instances - and it'd be nice to test on each and report the results separately to GitHub.

Maybe append the OS/Xcode version to the context string? So that the status would show `Buildasaur Xcode 7.

[2015-10-02 21:33] czechboy0 commented on #148
Fixed by #150.

[2015-10-02 21:33] #148 closed

[2015-10-02 21:39] czechboy0 commented on #147
I've disabled all caching for this exact reason, but yes I've seen GitHub actually returning stale data for about 10 seconds after a change being made on the server.

The way it works now is that the Syncer checks what the current commit status is and what it's supposed to be. If they're different (and the transition is `running` -> `finished`), it updates the status and posts a comment. However,

[2015-10-02 21:41] #147 closed

[2015-10-03 10:39] czechboy0 opened #152 "Write a migrator to the new data structure in multi-repo changes"
Reminder to self.

[2015-10-03 12:52] czechboy0 commented on #137
Just FYI, I'm doing huge refactoring in https://github.com/czechboy0/Buildasaur/pull/138, so you might want to hold off on this task for a couple of days. Otherwise it might be a pain to even merge it :)

[2015-10-03 14:07] Brett-Best commented on #137
@czechboy0 that's fine :) will do.

[2015-10-03 20:08] czechboy0 opened #153 "Improve position of new windows on screen"
Note to self.

We don't want new windows to be right over old windows, give them some nice offset etc.

[2015-10-04 00:33] czechboy0 opened #154 "The importance of keeping source control files"
Explain the importance of adding/keeping checkout/blueprint files in users' repos in the readme

[2015-10-05 10:13] #111 closed

[2015-10-05 10:14] czechboy0 commented on #80
Related to #100.

[2015-10-05 10:14] #80 closed

[2015-10-05 10:14] czechboy0 commented on #57
Hopefully won't be necessary after #62 is done.

[2015-10-05 10:14] #57 closed

[2015-10-05 10:29] valeriomazzeo commented on #80
for the time being just having an autostart option would help, probably not ideal as the daemon idea but it will ensure that if the server is restarted buildasaur is able to run without any further interaction after login.

[2015-10-05 10:31] czechboy0 opened #155 "Add autostart option (starts syncers on launch)"
See discussion in #80.

[2015-10-05 10:31] czechboy0 commented on #80
Sounds good, subscribe to #155.

[2015-10-05 15:28] accatyyc opened #156 "GitHub API request rate seems wrong"
![skarmavbild 2015-10-05 kl 17 27 11](https://cloud.githubusercontent.com/assets/1607453/10284869/7c7fc3ee-6b86-11e5-841c-afce2fc0d93b.png)

Looks a bit over the top to me.

[2015-10-05 15:34] czechboy0 commented on #156
Yeah I've seen this before as well. I think the data is coming down incorrectly from GitHub, but it's also possible I have a bug in my calculations.

It's a couple of lines of code, please let me know if I'm doing something stupid :) https://github.com/czechboy0/Buildasaur/blob/master/BuildaGitServer/GitHubRateLimit.swift

But, when you look at it, it _does_ make sense based on the data. Your exam

[2015-10-06 17:35] mikewoodworth opened #157 "nothing happens when clicking save button on Build Template Settings sheet"
Cancel cancels the sheet, - deletes the template, Save seems to do nothing (no errors in console)

[2015-10-06 17:36] mikewoodworth commented on #157
On further examination, it looks like this error may be related (el cap, server, xcode 7.0.1)

10/6/15 10:36:10.897 AM com.apple.xpc.launchd[1]: (com.apple.xpc.launchd.domain.pid.xcodebuild.3782) Path not allowed in target domain: type = pid, path = /Applications/Xcode.app/Contents/SharedFrameworks/LLDB.framework/Versions/A/XPCServices/com.apple.lldb.launcherRootXPCService.xpc error = 147: The spe

[2015-10-06 18:00] czechboy0 commented on #157
Thanks, @mikewoodworth, I'll take a look at it. I'm actually in the process (#138) of completely redoing the UI, so I'll make sure build template saving is working.

Just FYI, I just downloaded the latest release of [Buildasaur 0.5.0](https://github.com/czechboy0/Buildasaur/releases/tag/v0.5.0) and everything seems to work fine (I was able to create a Build Template and save it). I'm on El Cap. Ca

[2015-10-06 18:05] mikewoodworth commented on #157
Still nothing... If I leave any of the fields at the top blank I get alerts. However I have everything above triggers filled in. The only blank section on the sheet is Build,Test. We are building a mac app, and there are no options in that dropdown.

[2015-10-06 18:07] czechboy0 commented on #157
Oooooh, yeah that's a sort of a bug of mine. It needs to know what platform the scheme is building for (because even when you're testing on a Mac, you'll see your Mac in the testing devices), but it doesn't reload it on start.

Towards the top, can you click on the scheme-selection popup, choose a **different** scheme and then select your original one again? This will kick in the reload of the dev

[2015-10-06 18:10] mikewoodworth commented on #157
the built,test dropdown is still empty after toggling (we only have one scheme - thought it seems to show up twice in the popup)

[2015-10-06 18:11] czechboy0 commented on #157
Hmm, I know that's annoying, but could you just mark another scheme as shared in Xcode so that it will show up in Buildasaur? Reselecting the same scheme doesn't reload it AFAIR, it needs to be a different scheme to kick in (sorry, this will be fixed in the next version).

[2015-10-06 18:26] mikewoodworth commented on #157
still not seeing anything in the drop down (with 2 schemes), what should I be seeing there?

[2015-10-06 18:36] czechboy0 commented on #157
<img width="770" alt="screenshot 2015-10-06 19 35 58" src="https://cloud.githubusercontent.com/assets/2182121/10318462/83b1ee2c-6c61-11e5-8848-a44f82d0331e.png">

Something like this, I have one Mac duplicated (no idea why Xcode Server duplicates them).

[2015-10-06 19:01] mikewoodworth commented on #157
so a quick look at the code. it appears that is being parse via xcodebuild -showBuildSettings when i run that here on the selected scheme i get a ton of things including:

[code]

however the dropdown and the tableview are emtpy

[2015-10-06 20:48] czechboy0 commented on #157
Can you please try to clone Buildasaur and run it locally with the debugger attached and try running the script [here](https://github.com/czechboy0/Buildasaur/blob/75484a6179dfcf1f57b292d31d0e30f83a240307/BuildaKit/XcodeDeviceParser.swift#L58) in terminal, to see what you get back? That should give us a good idea of what's wrong. `xcodebuild -showBuildSettings` is just the start of the script, it'

[2015-10-06 21:15] mikewoodworth commented on #157
so building from master seems to work fine. I noticed that code was updated 5 days ago, and 0.5.0 was posted 7 days ago... maybe this last fix solved the issue?

[2015-10-06 21:31] czechboy0 commented on #157
Maybe, try downloading 0.5.0 from the releases section here on GitHub and try that? Glad to hear that it's working though. Actually might have had something to do with #149.

Can you test and confirm for me that 0.5.0 is working please? So that I can close this ticket. Thanks a ton for reporting and providing more info, feedback like this is extremely important to me :)

[2015-10-06 21:37] mikewoodworth commented on #157
0.5.0 from github (https://github.com/czechboy0/Buildasaur/releases/tag/v0.5.0) was what the bug was reported against.

[2015-10-06 21:44] mikewoodworth commented on #157
to confirm, i just checked out this tag and the bug returned.

[2015-10-06 21:46] czechboy0 commented on #157
Right, sorry for being confusing. The PR I referenced is merged in master but not yet released. Which would point to that being the culprit.

Let me create a patch release just for you. :8ball:

[2015-10-06 22:12] czechboy0 commented on #157
Cool, here it is: https://github.com/czechboy0/Buildasaur/releases/tag/v0.5.1 (downloadable the `.app` is below the release notes).

Please try it out and let me know if all is well, cheers. :+1:

[2015-10-06 23:20] mikewoodworth commented on #157
this build is working great, thanks!

[2015-10-06 23:24] #157 closed

[2015-10-09 23:50] russbishop opened #158 "Comment only if integration fails?"
It would be awesome to avoid spam from the bots and just have some basic options on notifications:

1. Comment on every integration
2. Comment on warnings or errors
3. Comment on errors only

[2015-10-10 00:08] russbishop opened #159 "Cache git repo"
I don't know if this is possible given the way Xcode server works but it seems really stupid that it deletes the entire git repo when you do a clean; most of my bots spend their time re-downloading the repo when they're all pointing at the same repo that rarely changes.

Do you think it would be possible to setup buildasaur to fetch the remote repo (all branches) to a local repo, then "push" those

[2015-10-10 00:08] russbishop commented on #158
Also thank you for all your work on this project; it is quite useful!

[2015-10-10 09:13] czechboy0 commented on #159
You can control the cleaning both in Buildasaur for your PR Bots and when creating one from Xcode. I think it makes sense it does a complete wipe when cleaning is on. So why don't you turn it off?

What you might also mean is that it's annoying that for every new Bot the repo has to be re-cloned. I agree, that has been a major slowdown on large projects I've worked on. Unfortunately, caching local

[2015-10-10 09:15] czechboy0 commented on #158
Thanks, @russbishop, I really appreciate it!

And this feature request makes perfect sense. I'll add it to the queue. Let me know if you can think of any other options (I'll probably also add others like _On analyzer warnings_, _On test failures_).

[2015-10-10 11:47] czechboy0 opened #160 "Add deep links to Xcode in posted GitHub comments"
Example: `xcbot://honzadvysmbpr14.home/botID/2ae236fc385d9a3bdb84706b9804381f/integrationID/2ae236fc385d9a3bdb84706b980e1ca3`

[2015-10-12 22:00] czechboy0 opened #161 "Gray out PR branches in "watched branches""
It has been known to confuse people why they can "watch" a branch which has a PR and is thus already tracked by Buildasaur.

[2015-10-12 22:21] czechboy0 opened #162 "Test watchOS and tvOS support"

[2015-10-12 22:24] czechboy0 opened #163 "Ensure we're not re-posting the same comment"
Try to fetch from github not just the current status, but also list of comments before we post it. Even though it will slow it down by tiny bit, hopefully we'll get rid of the multi-comment issue, which has been happening more lately (I blame GitHub's delayed servers).

[2015-10-13 16:47] #1 closed

[2015-10-13 16:48] czechboy0 commented on #139
Fixed by putting autolayout constraints between the cell and its contents.

[2015-10-13 16:48] #139 closed

[2015-10-13 16:49] czechboy0 commented on #12
Hey @mdio, I'm happy to tell you that after 6 months I finally got to this. Multi-repo support has been merged in master and will appear in a beta later today.

Sooo... Thanks for reporting this back then! :+1:

[2015-10-13 16:50] #12 closed

[2015-10-13 16:50] czechboy0 commented on #152
Fixed by #138.

[2015-10-13 16:50] #152 closed

[2015-10-13 17:18] czechboy0 commented on #155
Fixed in #138.

[2015-10-13 17:18] #155 closed

[2015-10-13 17:19] czechboy0 commented on #156
I tried more debugging and it's definitely GitHub sending incorrect header values. Closing since it's not a Buildasaur bug (and hopefully we won't even be affected by it, other than making these rate-limit estimates useless sometimes).

[2015-10-13 17:19] #156 closed

[2015-10-13 17:20] czechboy0 commented on #136
Hey @Brett-Best, can you please try the above? Otherwise there's nothing I can do about it at the moment.

[2015-10-13 17:22] czechboy0 commented on #112
Hey @ioveracker, could you please give the new version a try and let me know if this persists? At the moment I don't know what I can do about this, thanks! :+1:

[2015-10-13 17:24] czechboy0 commented on #89
So in #140 I added support for reading the `xcscmblueprint` file, which actually fixed the issue for some people who started their project on Xcode 7 (never had a `xccheckout` file).

To me it looks like they are equivalent, just one is xml and was generated by Xcode 6 and the other is JSON and is used by Xcode 7.

The big issue is that we're not yet able to force Xcode to generate them. Closing t

[2015-10-13 17:24] #89 closed

[2015-10-13 17:24] czechboy0 opened #165 "Find a way to force Xcode to generate xcscmblueprint file when not present"

[2015-10-13 17:26] #153 closed

[2015-10-13 17:27] czechboy0 opened #166 "Find Xcode Servers over Bonjour"
Would improve the onboarding experience - and Xcode does it.

[2015-10-13 17:28] czechboy0 opened #167 "Add UI to select an existing trigger in a new Build Template"

[2015-10-13 17:30] czechboy0 opened #168 "Introduce more state granularity when syncing"
Currently we're either syncing or not. However, in cases when we're syncing, but the last sync finished with an error, a different icon/state should represent the syncer, so that Buildasaur can show off that something is wrong.

- [ ] introduce such states
- [ ] show different colors in the syncer detail view
- [ ] show different labels in the dashboard
- [ ] show different labels in the menu bar

[2015-10-13 19:27] mdio commented on #12
Hi, @czechboy0. Thanks for pinging me.
Unfortunately, the company I developed (and used Buildasaur) for went out of business a few months ago. So I don't use Buildasaur at the moment.

But I'm happy to see that more and more people are using your cool tool and if I get back into iOS development, I'll be happy to have multi-repo support in Buildasaur. :)

[2015-10-13 19:34] czechboy0 commented on #12
Sorry to hear the first part, but :+1: for the second

[2015-10-13 19:40] grantjk commented on #12
:beers: We've been anxiously awaiting this.... :tada:

[2015-10-13 20:35] czechboy0 commented on #12
Looking forward to all feedback, @grantjk! (and @stevesparks)

[2015-10-13 22:05] czechboy0 commented on #163
See #147. And this will be made easier to do with #62.

[2015-10-13 22:26] czechboy0 opened #170 "Investigate opening a socket to the GitHub server"
- faster communication
- less overhead

[2015-10-14 02:48] grantjk commented on #140
@czechboy0 Getting this same issue on 0.6.

This project is an older project (pre Xcode7), but currently has a `xcscmblueprint` file in the `.workspace/xcshareddata/`.  I've created a bot manually that runs fine, but can't get past adding the workspace file in the buildasaur creation workflow

[2015-10-14 06:15] czechboy0 commented on #140
You're saying it has a blueprint file but Buildasaur isn't finding it? That's a bug, can you please create a new issue with all the details? Thanks!

[2015-10-14 10:03] joelekstrom commented on #156
:+1: thanks for investigating

[2015-10-14 11:27] Brett-Best commented on #136
@czechboy0 it seems it may be resolved.

[2015-10-14 11:27] Brett-Best commented on #89
@czechboy0 yep I agree the generation of the blueprint is the issue now.

[2015-10-14 12:55] grantjk opened #172 "Blueprint file fails to validate"
Similar to #140, I'm running into an issue where Buildasaur 0.6 fails to validate the blueprint file. I've confirmed that a blueprint file exists in the `.xcworkspace/xcshareddata` directory. I've also added the old `xccheckout` file as well.

The only thing that's different in this project that I can tell from the other projects I have is that there are two repos listed in the blueprint and the c

[2015-10-14 13:00] Brett-Best commented on #172
Hello @grantjk are you using two remotes?

[2015-10-14 13:05] grantjk commented on #172
Not according to `.git/config`. Not sure why Xcode things there's 2

[2015-10-14 13:08] Brett-Best commented on #172
Hmmm can you post the blueprint? If you view the remotes in Xcode does it display two of them?

[2015-10-14 13:18] Brett-Best commented on #137
@czechboy0 is this good to go now?

[2015-10-14 13:23] #136 closed

[2015-10-14 13:25] czechboy0 commented on #137
Yes, the big refactoring has been merged. Feel free to use this issue to track progress and ideas, let's discuss how you'll structure the change before you start so that we consider all aspects of it :)

[2015-10-14 13:27] czechboy0 commented on #172
@grantjk This shouldn't be a problem, because the way Buildasaur parses the files is that it only picks the primary remote anyway. How does it fail? When adding the project does Buildasaur reject it?

[2015-10-14 14:42] grantjk commented on #172
It fails [here](https://github.com/czechboy0/Buildasaur/blob/1340b87ecf3a489d955094414942a077cb119b43/BuildaKit/XcodeProjectParser.swift#L94) when I try to add the workspace file

[2015-10-14 14:42] grantjk commented on #172
I created a bot through Xcoce already and it runs fine

[2015-10-14 14:43] czechboy0 opened #173 "Create xcscmblueprint file from an existing bot"
For users who don't have the xcscmblueprint/xccheckout files in their project, ask them to create a simple bot (write a step by step guide with screenshots) and then ask them to pick it from a picker inside of Builda. What we'll do is we'll pull the bot's blueprint down, dump it into their workspace/project and ask them to commit it to SCM. This should hopefully fix it for almost everyone!

[2015-10-14 14:45] czechboy0 commented on #172
One question - can you make sure that the blueprint/checkout files are in the **workspace**, if you're adding the workspace to Buildasaur, or in the **project** if you're adding the project? It only looks inside the file you give it: project vs workspace. That might be the reason why you have the required files, just in the other project/workspace file.

[2015-10-14 14:54] grantjk commented on #172
Definitely in the workspace:

[code]

Here's the (obfuscated) blueprint file:

[code]

[2015-10-14 14:57] czechboy0 commented on #172
Hmm if you have Buildasaur running in the debugger, please try to see exactly what is failing, it might be actually failing to parse the file (but it's finding it).

For one thing, I don't think `DVTSourceControlWorkspaceBlueprintRemoteRepositoryURLKey` should start with `ssh`. Buildasaur's SSH URL is `github.com:czechboy0/Buildasaur.git`, for instance.

[2015-10-14 15:12] czechboy0 commented on #147
Ok, @valeriomazzeo, turns out El Cap changed the way `NSURLSessionConfiguration` behaves and the way I blocked URL request caching from happening stopped working - thus the repeated comments, because the requests were cached for about a minute by the system.

This is fixed by #174, which once again blocks caching from happening, thus fixing this issue of repeated comments. I tested this with 5sec

[2015-10-14 15:30] grantjk commented on #172
@czechboy0 That was it. Not sure why Xcode would have generated the url that way...

:shrug:

[2015-10-14 15:41] czechboy0 commented on #172
So it works? :+1:

[2015-10-14 15:42] grantjk commented on #172
Yup. Works now. The error was parsing that url: [here](https://github.com/czechboy0/Buildasaur/blob/master/BuildaKit/WorkspaceMetadata.swift#L88)

Again, not sure why Xcode things that's the url...

[2015-10-14 15:45] czechboy0 commented on #172
Yeah I've never seen that either. Well, glad it works! (Make sure to commit the blueprint in your repo if you haven't already.)

[2015-10-14 15:45] #172 closed

[2015-10-14 16:19] valeriomazzeo commented on #147
nice :+1:

[2015-10-14 16:32] czechboy0 commented on #163
Fixed by #174.

[2015-10-14 16:32] #163 closed

[2015-10-14 16:58] czechboy0 commented on #162
WatchOS support will be interesting. Watch Bots actually look exactly like iOS bots, just don't have a testing mode. Investigate more, but in the meantime, having watchOS bots is not that useful anyway (if you can't run tests).

Waiting for Xcode 7.1 to look at tvOS.

[2015-10-14 17:53] #161 closed

[2015-10-14 19:27] czechboy0 commented on #160
Unfortunately GitHub seems to be blocking the `xcbot` scheme completely :(

[2015-10-14 19:30] joelekstrom commented on #142
I'm considering stealing this issue, but I'm thinking if we should maybe use [CocoaLumberJack](https://github.com/CocoaLumberjack/CocoaLumberjack) for logging then? It has this functionality built in + logging to different places, nice colors etc. I could migrate everything to that. What do you think?

[2015-10-14 19:53] czechboy0 commented on #142
Sounds good - currently we're using a [tiny class I wrote](https://github.com/czechboy0/BuildaUtils/blob/master/BuildaUtils/Logging.swift) in BuildaUtils for this. I'm not positive we _need_ to bring in a large dependency like Lumberjack _yet_. So if you could take a look at the state of it and evaluate what additional feature we'd get, that would definitely be super helpful.

Yes, the splitting o

[2015-10-14 20:59] #160 closed

[2015-10-14 21:02] czechboy0 commented on #159
Sorry @russbishop, I don't think there's anything I can realistically do to improve this issue. That's really an Xcode Server behavior - just please make sure your **cleaning policy** is set to **Never**, which will only clone your project once per bot. Unfortunately, there's no reasonable way to force XCS to reuse cloned working copies _between bots_.

Since there's nothing I can do atm, I'm clos

[2015-10-14 21:02] #159 closed

[2015-10-14 21:05] czechboy0 commented on #100
With the recent addition of multi-repo support, I don't see any benefits of creating a standalone CLI utility. The only thing I can look into is auto-launching Buildasaur on login (and Buildasaur itself already has a _autostart syncers_ option, so that it starts syncing whenever you launch it). See #177.

[2015-10-14 21:05] #100 closed

[2015-10-14 21:05] czechboy0 opened #177 "Option to add Buildasaur to login items"

[2015-10-14 22:02] voidrender commented on #165
Is there a manual workaround for this?

[2015-10-14 22:03] voidrender commented on #112
Sure! Sorry for the delay. Once I finish getting Buildasaur running on El Capitan I'll give this a shot and report back.

[2015-10-14 22:10] czechboy0 commented on #80
Okay @valeriomazzeo, see #178 - I added the option to automatically launch Buildasaur on login. Combined with the autostart-syncers option already in 0.6, when 0.6.2 comes out (probably Friday), you'll be able to start Buildasaur on a server and when you reboot it, Buildasaur will automatically launch itself and start syncing. Hope that's close enough to what you originally needed. :)

[2015-10-14 22:23] czechboy0 commented on #165
There is, actually. If you manually create a Bot for your project which you're missing a `xcscmblueprint` file for with Xcode, you can actually use it to create the file manually.
1. Create the Bot manually from Xcode
2. Download the blueprint of this Bot from XCS by first finding out the id of this bot

[code]

This will print info for all bots (lots of JSON data), just find the one you just crea

[2015-10-14 22:25] czechboy0 commented on #173
Whole manual process described here: https://github.com/czechboy0/Buildasaur/issues/165#issuecomment-148220340

[2015-10-14 22:26] #177 closed

[2015-10-14 22:27] czechboy0 commented on #112
No worries :+1:

[2015-10-14 22:42] voidrender commented on #165
That worked perfectly. Thanks!

[2015-10-14 23:22] voidrender commented on #112
This no longer occurs in 0.6.1. Instead, the existing integration is canceled and a new one is created.

[2015-10-14 23:33] czechboy0 commented on #112
Good, that's intended behavior :+1:

[2015-10-14 23:33] #112 closed

[2015-10-15 06:46] joelekstrom commented on #142
I have looked a bit at it. The health of the project is very good, with many contributors and is being used in a a lot of other projects. However, the Swift 2.0 support is currently in beta, but since it's a pretty small project I image there isn't much that will go wrong.

### The pros of CocoaLumberjack for Buildasaur (in my opinion):
- Splits log files
- Deletes old files (why keep gigabytes of

[2015-10-15 07:08] czechboy0 commented on #142
Okay, go for it and replace the guts of the current Log class in
BuildaUtils - so that we don't actually have to change the calls, just call
lumberjack under the hood.

Thanks for taking the time!
On Thu, Oct 15, 2015 at 7:46 AM Joel Ekström notifications@github.com
wrote:

[2015-10-15 08:38] valeriomazzeo commented on #80
yeah that's ok, obviously it still requires a login session to run which means you have to setup an user to automatically login on your server in order to start buildasaur, which is not ideal.

[2015-10-15 13:26] czechboy0 commented on #166
Not sure how to do it with Bonjour yet, but we could just `ping 255.255.255.255`, gather all the IP addresses, and then ask each one `https://ADDRESS:20343/api/hostname` and see if it responds with 200. We'd end up with a list of hostnames of Xcode Servers and their IP addresses.

[2015-10-15 17:21] valeriomazzeo opened #180 "Distributed bot"
It would be nice if buildasaur wouldn't tie a specific project to a specific server.

Each Xcode server should have a name or label (group).

Each project should be able to run on the server which has been specified in the settings for that project. Ideally no settings (meaning no restrictions) means a project can run on any server.

When creating the bot for a pull request, buildasaur may loop th

[2015-10-15 17:27] czechboy0 commented on #180
Thanks @valeriomazzeo, this is a great idea. It might be related to #151, however it is a different approach. #151 assumes you'd want to get the project tested on **all** Xcode Servers (assuming each has a different Xcode version), but in this idea you want to use a pool of Xcode Servers to balance the work.

Are you actually slowed down by the speed of builds on Xcode Server now? How many PRs and

[2015-10-15 17:40] valeriomazzeo commented on #180
20 minutes for the first integration*
5 minutes for the following

6 PRs with code reviews in a day for a team of 4.
3 distribution bots
1 tests bot with code coverage

I can see that be filled quickly with more people joining the team.
- I don't know why Xcode server takes 10 minutes to checkout a 600mb repo. From the same machine, same connection got clone takes 2 minutes instead.

[2015-10-15 17:44] czechboy0 commented on #180
Thanks, super useful. This is very similar to what I had at SwiftKey - are you using the `lttm` keyword or do you let Buildasaur test the PR right after being opened? We saved quite a lot of time by using `lttm` - first the reviewer would bring up issues, more commits would get pushed and only after everyone's happy we'd kick off the build.

So do you often spend time waiting for a build that's pe

[2015-10-15 18:04] valeriomazzeo commented on #180
We don't use lttm and I quiet like that is automatic to be honest.

We don't wait a lot but I can see that happening very soon.

At that point the only way we will have for scaling is Jenkins :(

[2015-10-15 18:39] grantjk opened #181 "Reusable Build Templates"
Right now every time I set up a syncer, it asks me to create a new build template for that project.  The majority of the time, however, the PR specs I want to run are the same from project to project. The only thing that is project depending is the scheme. It would be nice if the scheme could be set independent of the template choice so that we can reuse a template across multiple projects.

[2015-10-15 18:40] grantjk opened #182 "Shared Git Credentials"
Every new syncer requires the same github token and keys be set again and again. It would be nice if these could be set once and re-used as appropriate.

[2015-10-15 18:43] grantjk opened #183 "Automatically Advance to Next Step when New Project Selected"
This is super minor, but when I select "Setup a new project" in the project picker, I (for some reason), expect the finder window to show up automatically.

[2015-10-15 18:48] czechboy0 commented on #180
This is definitely something I need to think about a bit - technically it's not **that** difficult to allow multiple servers, I just want to think it through and make sure I understand the consequences first.  Thanks for the idea and let me know if your situation gets worse with more people (but again, I'd recommend trying out `lttm`, it worked really well for us).

[2015-10-15 18:50] czechboy0 commented on #182
GitHub tokens and SSH keys are associated with a project - which are saved separately, so if you're creating more than one syncer with the same project, you should be able to reuse the whole project from the selection.

If you have _multiple projects_ on GitHub, but use the same SSH keys and GitHub token, unfortunately there's not much I can do. I'll try to see if I can make the setup a bit faster

[2015-10-15 18:52] czechboy0 commented on #181
Haha, good point. Right now Buildasaur filters the available Build Templates **exactly** because of the scheme, which cannot be reused between projects.

Pro tip: if you're really creating many of them, go to `~/Library/Application Support/Buildasaur/Build Templates` and duplicate the appropriate JSON files of those Build Templates and just change the `project_name` and `scheme` in them (then quit

[2015-10-15 18:53] czechboy0 commented on #181
I'm just curious - how many syncers are you creating? :) (The more the happier I'll be haha.)

[2015-10-15 18:55] czechboy0 commented on #183
That's actually how I had it for some time, but then changed it to waiting for the user clicking Next. The current state of the UI is very much an MVP which I built very quickly, but I have a friend designing a new UI, which will overall have the same structure, but have many of these detailed refined. Thanks for the feedback, though! I really use it to decide what to do next.

[2015-10-15 18:57] grantjk commented on #182
Yup - we have mulitple projects and our build server has a single set of ssh keys with access to all of them.

[2015-10-15 18:57] grantjk commented on #181
I have 6 currently - will be probably doubling that over the next few weeks.

[2015-10-15 19:00] czechboy0 commented on #181
Amazing! But that means you'll eventually start hitting the GitHub rate limit, so #62 will definitely be useful to you. What are your sync intervals?

[2015-10-15 19:01] grantjk commented on #181
I just left them at default for now. I'm also super interested in #180 . We currently have 2 servers, but I could see us scaling that up over the next year.

[2015-10-15 19:02] grantjk commented on #181
I've also been using "always clean", which means over the past year or so, our first server has downloaded over 355TB of data. :eyes:

[2015-10-15 21:28] joelekstrom commented on #142
I have now implemented this at https://github.com/accatyyc/Buildasaur/tree/lumberjack.

In my opinion there's not much value in proxying through the current log system, since it was already 99% similar to CocoaLumberjack. The result is that all that remains is this:

[code]

It should probably contain a function here for `warn` as well since it's supported by CL, but it feels like this class is no

[2015-10-15 22:00] czechboy0 commented on #181
@grantjk Feel free to +1 the issues that you'd also appreciate to be solved sooner rather than later, at the moment I only have a rough idea of which ones are most demanded. (E.g. #180 in your case)

You currently have 2 Xcode Servers, is that what you mean?

And regarding always cleaning, IMHO, from experience, that just _really_ slows down the build and doesn't bring much value (at least decreas

[2015-10-15 22:02] czechboy0 commented on #142
Yeah I've used CL before, so I modeled the API very similarly on purpose. But the reason why I **really like** proxying through the current class is that we don't need to `import CocoaLumberjack` all over XcodeServerSDK and Buildasaur. Especially if we eventually change the underlying logging implementation, constantly requiring clients of `BuildaUtils` to change the API is unnecessary. So mostly

[2015-10-15 22:06] czechboy0 commented on #142
Also, [this](https://github.com/czechboy0/BuildaUtils/blob/master/BuildaUtils/Logging.swift) is the class where you should plug in CocoaLumberjack. It needs to live in `BuildaUtils`, because it's shared between Buildasaur and XcodeServerSDK.

The class you changed just sets up the `Logging` class from `BuildaUtils`, but technically that shouldn't need to change at all (because all the details of _

[2015-10-16 00:14] grantjk commented on #181
Good to know! I've followed a bunch of other repos, where people super hate the +1 thing.

Yeah, we have 2 Xcode Servers going. 2 different Mac Minis. Do you know if there's a way to run multiple Xcode servers on a single machine?

Thanks for the tip on the cleaning. I'll try it.

[2015-10-16 00:14] grantjk commented on #180
+1!

[2015-10-16 00:16] grantjk commented on #166
FYI - amazingly, we changed the IP Address of one our servers today and I thought I'd have to go through and update all the syncers, but Buildasaur did it automatically... :+1:

[2015-10-16 00:21] czechboy0 commented on #181
I don't think you can run multiple Xcode Servers, because it doesn't run under your user. Instead, it's its own user `_xcsbuildd`, so I don't think there's a way to run more than one.

You could do something like having multiple OS X instances running in a VM on a single machine, but otherwise I don't think it's possible.

[2015-10-16 00:23] czechboy0 commented on #166
Haha, that means you probably put in the hostname instead of the IP address and Bonjour resolved it correctly to the new IP address. I wish I could claim the praise but there's absolutely no code in Buildasaur to explicitly do this :)

[2015-10-16 06:46] joelekstrom commented on #142
Yeah, it's the class I changed :) I also just changed the classes names during setup in that other place. I can add back the previous subclasses if you want but they didn't need any methods so it felt unnecessary.

[2015-10-16 06:48] joelekstrom commented on #142
Oh wait, never mind that. Didn't realise there were two of the same. Will take a look at it!

[2015-10-16 11:18] czechboy0 commented on #142
Yeah there are two classes with the same name, sorry.

[2015-10-16 12:01] czechboy0 commented on #105
AFAIU, Stash is now called Bitbucket Server, so hopefully they'll have the same API as cloud Bitbucket. This this is a duplicate of #65.

[2015-10-16 12:01] #105 closed

[2015-10-16 14:41] czechboy0 commented on #65
It's starting to look like Bitbucket might be the second source server we'll support.
Docs: https://confluence.atlassian.com/bitbucket/version-2-423626329.html

[2015-10-16 17:56] valeriomazzeo commented on #65
Definitely bitbucket and GitLab in the list

[2015-10-19 11:18] czechboy0 opened #186 "Migrate away from needing checkout/blueprint files"
There should be a way to pull all that information from the file system/calling git commands. Since relying on the checkout/blueprint files has shown to be problematic, I think it's worth investing time into not being dependent on them.

[2015-10-21 01:00] grantjk opened #187 "Add PR Title to Bot Name"
The PR number is helpful, obviously, but it still requires me to look at Github to find out which bot I'm actually interested in. I'd like to be able to look at Xcode and find the bot that corresponds to the branch I'm working on without having to go look for the PR number.

[2015-10-21 12:19] czechboy0 commented on #187
Duplicate of #23. See the conversation there why it's not a trivial change.

[2015-10-21 12:19] #187 closed

[2015-10-21 17:06] #186 closed

[2015-10-21 17:07] czechboy0 commented on #173
Made unnecessary by #188.

[2015-10-21 17:07] #173 closed

[2015-10-21 17:07] czechboy0 commented on #165
Not really needed anymore, see #188.

[2015-10-21 17:07] #165 closed

[2015-10-21 17:08] czechboy0 commented on #154
Not needed, see #188.

[2015-10-21 17:08] #154 closed

[2015-10-22 11:13] dlbuckley commented on #65
Bitbucket support would be great.

[2015-10-22 14:20] accatyyc opened #189 "Add Buildasaur to homebrew cask"
It would be really nice to have Buildasaur in [cask](https://github.com/caskroom/homebrew-cask) so it can be easily updated from command line since there are so frequent releases! (which is a good thing :smiley:)

[2015-10-22 14:39] czechboy0 commented on #189
Great idea! Can you link to a guide or something? I've never used cask myself.

[2015-10-22 15:06] joelekstrom commented on #189
I think it should be pretty well described here:

https://github.com/caskroom/homebrew-cask/blob/master/CONTRIBUTING.md

[2015-10-23 03:06] kviksilver commented on #180
:+1:

[2015-10-23 19:10] grantjk opened #190 "Add UI To Update Existing Build Templates"
When new iOS simulators are provided, it would be nice to be able to update existing templates rather than having to create new ones.

[2015-10-26 11:53] czechboy0 commented on #189
https://github.com/caskroom/homebrew-cask/pull/14662

[2015-10-26 13:26] czechboy0 commented on #189
Done: https://github.com/caskroom/homebrew-cask/commit/241b722623c48535527e2d72d3b330b7a8515004

Can someone try to install Buildasaur with cask to confirm it's working, please?

[2015-10-26 13:34] czechboy0 opened #191 "Add pushing to Cask into the Fastfile release lane"
See #189 for details.

- [ ] add to fastfile
- [ ] add Cask to readme as recommended installation

[2015-10-26 13:34] joelekstrom commented on #189
Awesome! I need to upgrade Buildasaur today so this is perfect. I will try it!

[2015-10-26 13:41] joelekstrom commented on #189
Works perfectly. :smile:

Should be in the readme!

[2015-10-26 13:42] #189 closed

[2015-10-26 13:42] czechboy0 commented on #189
#191 :)

[2015-10-26 13:42] joelekstrom commented on #191
:+1:

[2015-10-27 09:51] valeriomazzeo opened #192 "Device missing on OS X Project"
When running configuring a template for an OS X project, buidasaur doesn't display the device where it needs to run.

The list of simulator is there, but they are all iPhone simulator. I'd be expecting to see something like: `My Mac` instead.

[2015-10-27 09:55] czechboy0 commented on #192
Make sure you're selecting the right scheme, because a scheme selects exactly one target and a target selects exactly one platform (OS X or iOS).

If you're seeing iOS simulators but are expecting Macs, your target must be an iOS target instead of a OS X target.

Is there anything about the project you could share, so that I can test it locally?

[2015-10-27 09:57] czechboy0 commented on #190
Not sure I understand - when you're editing/creating a syncer, you're presented with a list of existing Build Templates and there's an option to create a new Build Template. You _can_ select an existing Build Template, assuming it's for the same project (Build Templates cannot yet be reused between different projects, because they contain a scheme which is project-specific). Is this the same thing

[2015-10-27 10:12] valeriomazzeo commented on #192
Fiddling with the scheme settings, when I select the iOS target it shows up the mac mini as device. Selecting back the OS X target shows up the iOS simulators :S

[2015-10-27 10:14] valeriomazzeo commented on #192
Maybe it's just an UI problem?

Maybe the combobox doesn't display the name of the selected target or the list of the devices read from the wrong index?

[2015-10-27 10:15] czechboy0 commented on #192
Well that definitely looks like a bug :D weird that it worked fine for everyone else. Could you try to create a clean new project with just e.g. iOS project and see if Buildasaur shows the right type of device? Or is your project where you're seeing this issue an oss project by any chance?

[2015-10-27 10:16] czechboy0 commented on #192
Just btw, are you on the latest version?

[2015-10-27 10:17] valeriomazzeo commented on #192
Target list as shown in my Xcode:
1) iOS
2) OS X
3) Watch OS

Target list as shown in buildasaur:
1) OS X
2) iOS
3) Watch OS

Selected iOS target -> shows OS X devices
Selected OS X target -> shows iOS devices
Selected Watch OS target -> shows nothing

if I selected the iOS Target and then press `Next`, the before the window disappear I can see the combobox name changing from `iOS` to `OS X`.

[2015-10-27 10:17] valeriomazzeo commented on #192
yep, latest version

[2015-10-27 10:19] czechboy0 commented on #192
Just to clarify, those are schemes, not target names.

But this sure looks like a bug. Could you try to reproduce with a new, clean project with just two target types? So that you could send me that, will make it much easier to fix.

Thanks!

[2015-10-27 10:25] valeriomazzeo commented on #192
Those are schemes, but the targets have the same name as well.

I'd love to, but I am not sure to have the time :S

Anyway, I think it's only an UI problem because the integration works :)

[2015-10-27 13:03] czechboy0 commented on #192
Hmm I can't reproduce it, it does sometimes take 2-3 seconds to properly change the devices (because I have to run a command to parse the target type with `NSTask`, which takes ages-seconds), but it ends up being the correct thing.

Can you try again and once you change the scheme, wait up to 5 seconds to see whether it changes? Maybe it's just slow.

[2015-10-27 13:42] valeriomazzeo commented on #192
I did wait and it didn't change until I switched target

[2015-10-27 13:43] grantjk commented on #190
Right. Is there a way to update an existing template though? Say I want to change the devices the template has. Can I do this on an existing template without creating an entirely new template?

[2015-10-27 14:16] czechboy0 commented on #190
Yes, by clicking edit in the detail view and selecting the existing build
template from the list.
On Tue, Oct 27, 2015 at 2:43 PM John Grant notifications@github.com wrote:

[2015-10-27 14:49] mx-bot opened #193 "Selecting scheme from popup selects incorrect scheme"
On the template editor, select a scheme and then `Next`. Select `Previous` and observe the selected scheme.

Inspecting the `schemes` property shows the order is not consistent with the order presented in `schemesPopup`.

Seems this might be because there is a name sort being done on the `schemesPopup`'s name:

[code]

[2015-10-27 14:51] grantjk commented on #190
Ah! Didn't realize that. My bad!

[2015-10-27 14:51] #190 closed

[2015-10-27 15:01] czechboy0 commented on #193
Yeah you're right, that's incorrect. And in cases when you have schemes from more than one project/workspace, this will be out of sync.

A quick workaround is to remove like 210 in BuildTemplateViewController.swift, so that it doesn't perform the sort. I'll prep a proper fix later. Sorry about that! :)

Also, this is most likely a duplicate of #192.

[2015-10-27 15:02] czechboy0 commented on #192
Duplicate, see #193 for a temporary workaround.

[2015-10-27 15:02] #192 closed

[2015-11-03 21:43] hallc opened #195 "Sort devices by name and OS version"
The list of devices on the build template editor is not sorted by name or OS version.  Our Xcode server has quite a few simulators configured and it's difficult to pick out the ones we need to test a particular project against.

Sorting by name and OS version would make the list easier to read.

I can gladly submit a PR if this is a welcome change.

[2015-11-03 22:09] czechboy0 commented on #195
Hi @hallc,

thanks for taking time to report this. I wrote a function to somehow sort the devices ages ago and it's possible it doesn't work properly since my big refactoring for 0.6. It's [this](https://github.com/czechboy0/Buildasaur/blob/master/Buildasaur/BuildTemplateViewController.swift#L434) function, so feel free to make sure it works as you'd expect and contribute a PR!

Thanks!

[2015-11-03 22:11] #193 closed

[2015-11-04 16:25] #195 closed

[2015-12-03 18:11] czechboy0 opened #197 "Investigate viability of integration with Swift Package Manager/Build System"
https://github.com/apple/swift-package-manager

[2015-12-09 15:55] yakubbaev commented on #65
+1

[2015-12-16 11:05] n0quarter commented on #65
+1

[2016-01-05 13:25] czechboy0 opened #198 "Add Crashlytics"
Even though it shouldn't happen, I've seen Buildasaur crash in certain edge cases due to my heavy use of asserts - let's add Crashlytics so that I can fix any outstanding stability issues.

[2016-01-13 17:58] ghost commented on #159
@russbishop not sure if this is still relevant, but I've solved the problem by using https://github.com/beefsack/git-mirror

[2016-01-14 18:03] czechboy0 commented on #159
@max-desiatov Interesting, are you using it with Buildasaur?

[2016-01-14 20:11] czechboy0 commented on #142
Hey @accatyyc, have you ever finished this one? :)

[2016-01-14 22:40] joelekstrom commented on #142
Actually, I have totally forgotten about it :smile:

It shouldn't be much work to finish it if you've decided that the Lumberjack-dependency is OK. Any other thoughts than the previous discussion?

[2016-01-14 22:56] czechboy0 commented on #142
Well, I'd prefer if we could just re-implement the bit that splits the log files when they get large. I would prefer to NOT pull in the whole CL project, because it will be a dependency of BuildaUtils, which is also a dep for XcodeServerSDK. Maybe we could just look at how CL does it and use a simplified version.

[2016-01-15 08:38] joelekstrom commented on #142
Ok! I can take a look at a simple file-split implementation!

[2016-01-15 09:53] ghost commented on #159
@czechboy0 I'm not finished with setting it up yet. But yes, Xcode bots cloning everything from scratch is only a problem with Buildasaur which creates new bots regularly. So without Buildasaur I'd never think about mirroring, but I don't see any other easy way to implement pull request checks without creating a new bot for each pull request.

[2016-01-15 09:56] ghost commented on #159
Or an old bot could be reused, but I've noticed when anything about repositories is changed in bot settings (even changing a branch), that still causes it to clone everything again. Which is stupid. Let's hope Apple fixes this sooner rather than later.

[2016-01-15 13:45] czechboy0 commented on #159
Yeah that is sort of an issue, which is why I try to keep my repo sizes below 100MB, because large repos can take longer to check out than to build and test.

If you manage to get it working with Buildasaur, I'd be very interested in reading a post about that, I think I'd even link to it from my tutorials. So let me know if you decide to publish such a post.

[2016-01-15 13:47] czechboy0 commented on #142
:+1: Thanks. I don't want people to end up with multi-GB log files and then be mad :blush:

[2016-01-16 23:31] joelekstrom commented on #142
Implemented in https://github.com/czechboy0/BuildaUtils/pull/11

[2016-01-16 23:50] czechboy0 commented on #142
Once I merge the PR in BuildaUtils, I'll release a new version right away so that you can finish up the integration in Buildasaur. :+1:

[2016-01-17 10:22] czechboy0 commented on #142
@accatyyc ok, I released https://github.com/czechboy0/BuildaUtils/releases/tag/v0.2.5 , so feel free to update it here in Buildasaur and integrate with the defaults we talked about.

[2016-01-19 10:15] #142 closed

[2016-01-20 11:40] czechboy0 opened #202 "Put logs into a separate folder"
Enhancement of #142, instead of keeping log files at the root of the Application Support folder, let's put them into a nested folder `Logs` to keep the tree hierarchy clean. This is more important now that logs are being split into multiple files.

[2016-01-20 11:40] czechboy0 commented on #202
@accatyyc No pressure, but do you want to do this one? It's ok if not, just offering an easy task that continues on top of what you worked on :)

[2016-01-20 12:21] joelekstrom commented on #202
I can do it, I'm a bit busy for a few days/the coming weeks so maybe not right now if you want it earlier, but I'll add it to my todos.

[2016-01-20 12:21] czechboy0 commented on #202
No rush 👍
On Wed, Jan 20, 2016 at 12:21 PM Joel Ekström notifications@github.com
wrote:

[2016-01-20 13:38] #62 closed

[2016-01-20 17:42] czechboy0 commented on #198
WIP on branch https://github.com/czechboy0/Buildasaur/tree/hd/adding_crashlytics

[2016-01-21 19:49] czechboy0 commented on #65
Okay, work on this has started. I'd appreciate if you all could write a couple of sentences about how you use the BitBucket PR workflow, how you'd compare it with GitHub's (if you've used both) and which features are the most important ones for you. I haven't personally used BB's PRs yet, so I'm learning as I go.

I'm investigating the API at the moment, but work in #185 is pretty much finished, s

[2016-01-21 23:23] czechboy0 commented on #65
Okay, from initial research I have a couple of more unknowns and findings:
- [x] need to find how to do conditional requests, which were recently implemented for GitHub (#62), otherwise we'd be running out of request allowance
- [x] find out the actual rate limit, the docs are confusing
- [x] find how to programatically detect the rate limit to be able to gradually slow down if we approach it (not

[2016-01-22 16:09] czechboy0 commented on #137
FYI, @Brett-Best. I'm taking over this one. I need it done for more work that's queued.

[2016-01-22 16:57] czechboy0 commented on #202
No worries, I'll do this as part of migration I'm working on.

[2016-01-22 17:30] czechboy0 opened #206 "Show on dashboard when a bot is erroring out"
When there's a connectivity or an authentication error with a syncer (exactly: when the last sync has finished with an error), show a different icon in
- [x] dashboard
- [x] syncer detail view
- [x] menu bar popup

[2016-01-23 00:02] joelekstrom commented on #202
:+1:

[2016-01-23 13:06] czechboy0 commented on #137
This has been merged into the v0.8 development branch, so don't expect it in v0.7 yet. Closing to not be in the list of open issues though :)

[2016-01-23 13:06] #137 closed

[2016-01-23 13:16] czechboy0 commented on #202
Fixed in #209, will appear in v0.8.

[2016-01-23 13:16] #202 closed

[2016-01-23 13:20] czechboy0 commented on #191
Does anyone want to take over this issue? I tried quickly playing with Cask, but didn't love how devs upload new versions, so I didn't finish it.

Basically we need to add a step to the Fastfile which automatically uploads a new spec to the Cask repo based on the other information in the context. Look at the `release` lane.

[2016-01-23 13:21] czechboy0 commented on #168
Duplicate of #206.

[2016-01-23 13:21] #168 closed

[2016-01-26 21:37] czechboy0 opened #211 "Fix signing releases with Developer ID"

[2016-01-27 11:46] czechboy0 opened #213 "Update README"
With the big changes for 0.8/1.0, let's prune and update the readme (installation steps with new keys etc, features, OAuth scopes explanation, storage of keys explanation etc, which new features are supported for which service - BitBucket and GitHub, change description of this repo)

[2016-01-27 18:50] czechboy0 opened #219 "Add types of used services to Heartbeat (to better allocate time for features)"
- add aggregate metadata
- to know how many people are using BitBucket before I pour myself into another one

[2016-01-27 23:34] czechboy0 opened #220 "Extend SwiftSafe to async ops, use it to synchronize HTTP server for refresh token bottleneck"

[2016-01-28 16:25] czechboy0 commented on #220
We actually don't need that. Closing.

[2016-01-28 16:25] #220 closed

[2016-01-28 21:06] czechboy0 commented on #65
Progress tracked in #217, for those who want to try an early build, **let me know**. I'll create a very early alpha for you manually. Everything seems to be working nicely, it's mostly just testing now and final polish.

[2016-01-28 22:32] #198 closed

[2016-01-28 22:32] czechboy0 commented on #211
Fixed by #210.

[2016-01-28 22:32] #211 closed

[2016-01-28 23:29] czechboy0 commented on #170
Not as important since #62.

[2016-01-28 23:29] #170 closed

[2016-01-28 23:53] czechboy0 commented on #65
Fixed by #217.

[2016-01-28 23:53] #65 closed

[2016-01-29 00:18] czechboy0 opened #225 "Buildasaur website"
I already own http://buildasaur.xyz sooo.....

[2016-01-29 17:46] czechboy0 opened #227 "Clean install prints errors on startup (migration related)"
Fixed by #234

[2016-01-30 11:08] czechboy0 opened #228 "Create a Sparkle xml feed update fastlane action"
Based on https://github.com/CocoaPods/CocoaPods-app/blob/master/Rakefile#L1069

[2016-01-30 11:08] czechboy0 opened #229 "Create a Cask update fastlane action"
Based on https://github.com/CocoaPods/CocoaPods-app/blob/master/Rakefile

[2016-01-30 17:06] KrauseFx commented on #228
You mean a new fastlane lane for Buildasaur to release a new version of Buildasaur for Sparkle?

[2016-01-30 17:33] czechboy0 commented on #228
No, a fastlane action that updates the Sparkle xml feed by adding the new version.

[2016-01-30 17:34] czechboy0 commented on #228
See the link above for an example of how CocoaPods App does it.

[2016-02-03 16:40] #228 closed

[2016-02-03 16:41] czechboy0 commented on #44
Fixed by #230

[2016-02-03 16:41] #44 closed

[2016-02-03 16:52] czechboy0 commented on #191
Duplicate of #229

[2016-02-03 16:52] #191 closed

[2016-02-03 21:02] czechboy0 commented on #65
All you BitBucket people, the first beta is out here: https://github.com/czechboy0/Buildasaur/releases/tag/v1.0.0-b1
Please give it a try and provide feedback, thanks! (Ideally start syncing your bitbucket repo and give it a good stress test)

Also, you won't need to manually install new versions anymore, because Buildasaur will be able to autoupdate from now on.

[2016-02-03 21:48] #213 closed

[2016-02-04 14:36] czechboy0 commented on #219
Added to ekgclient: https://github.com/czechboy0/ekgclient/pull/1

[2016-02-04 15:26] #219 closed

[2016-02-04 16:48] #206 closed

[2016-02-04 17:08] #227 closed

[2016-02-06 00:16] czechboy0 opened #236 "Send heartbeat event when app gets sparkle-updated"

[2016-02-07 12:39] czechboy0 opened #238 "BitBucket Server support"

[2016-02-07 12:40] czechboy0 opened #239 "GitLab Self Hosted Support"

[2016-02-08 20:51] czechboy0 opened #240 "Use Promises for data gathering in syncers"
Would liniarify the callback hell, thus making it all more readable.

[2016-02-08 22:22] #236 closed

[2016-02-11 14:12] mrgrauel commented on #238
:+1:

[2016-02-15 15:53] czechboy0 opened #242 "Inject XCS trigger variables about PR"
Automatically add PR, branch, repo etc information into XCS (transparently), so that pre/postbuild scripts can read which PR/branch/repo they're ran on. Useful for danger, fastlane etc.

[2016-02-26 10:16] s-faychatelard commented on #114
+1 on this, I like to have clean PRs 😊

[2016-03-01 19:38] lindsaylandry opened #244 "Buildasaur doesn't extract repo name from GitHub url that does not end in ".git""
Sometimes github strings do not have ".git" attached to the end.
If this happens, Buildasaur will give an error message on the SSH Keys setup page. The message says: "Invalid repo name."

Example github string (without ".git"):
 git@github.com:organization/repo_name

I have a fix that will address both kinds of strings to extract the repo name (basically creates a Range object that starts and ends

[2016-03-01 20:07] bclark opened #245 "Internal Server Error (xcssecurity): could not read password from keychain"
My repo is hosted on Stash, so when choosing a new project that has an existing bot I got the .xcscmblueprint issue.

I attempted to have it manually fixed, by using the curl method.  However when I pull down the initial data to get the BOT_ID everything goes fine.

Once I attempt to then use the BOT_ID I get the following response:

`{"status":500,"message":"[XCSSecurity - findItem] error: [XCSSe

[2016-03-01 20:21] czechboy0 commented on #245
Hi @bclark,

I've never seen that issue. You mention having the blueprint in your repo - could you try the following so that we can better pinpoint the issue?

Buildasaur doesn't need those files anymore, it tries to detect the origin from the repo the project is in - so can you please try to remove the blueprint file and remove/re-add your project to Buildasaur? Then please try to enable the sync

[2016-03-01 20:24] czechboy0 commented on #244
Hi @lindsaylandry,

thanks for reporting this. I'm however wondering whether a git remote URL not ending with `.git` is a valid git URL? Do you have an example of a GitHub project that has a git URL not ending with .git? Because this is new to me so I need to understand the issue first :)

[2016-03-01 20:29] czechboy0 commented on #244
Ok, TIL that you don't need the `.git` suffix.

Thanks so much for reporting this! Could you fork this repo and send a Pull Request with the fix above, so that I can just merge it? If that's a problem, I can apply the fix manually.

[2016-03-01 20:30] lindsaylandry commented on #244
Any git repo can be cloned in this way.
For example, your own Buildasaur repo can be cloned like this:

git clone git@github.com:czechboy0/Buildasaur

if you leave the .git extension out, it still works.
I have created a forked branch already, but when I tried to push onto master, I didn't have permission. I can submit a PR if you give me temporary permissions :)

[2016-03-01 20:31] bclark commented on #245
I actually don't have the blueprint file. I checked and made sure it was not in the repo and I still get this:

I am using cloud hosted Stash through Atlasssian.

[2016-03-01 20:33] czechboy0 commented on #244
You can just create a fork of the repository if you click on the fork button top right, clone and apply the fix there, and then create a cross-fork Pull Request :) If you haven't worked with forks before, here's some [info](https://help.github.com/articles/about-forks/) from github.

[2016-03-01 20:35] czechboy0 commented on #245
Hmm, something went wrong then. Are you using the latest version of Buildasaur (1.0.0-b2)? Are you compiling from source or running the downloaded release? I'll try to reproduce it locally if you provide me with more info :)

[2016-03-01 20:35] lindsaylandry commented on #244
oh thanks very much, looks like I learned something today as well.

[2016-03-01 20:40] bclark commented on #245
I am using the latest download release. Choosing the latest develop branch locally, with origin being cloud hosted Stash. I also have Carthage in my project, which helps build another project as a framework .

[2016-03-01 20:45] czechboy0 commented on #245
:( It seems like the git info parsing failed. Can you share what your git remote URL is? Is it checked out over SSH? (HTTPS doesn't work yet unfortunately)

[2016-03-01 20:49] czechboy0 commented on #244
Fixed by #246.

[2016-03-01 20:49] #244 closed

[2016-03-01 21:04] bclark commented on #245
Unfortunately I can't share the URL. I may try and re-check it out.

[2016-03-01 21:37] jfrndz opened #247 "Crash when syncing Github PR from a deleted repo"
The app crashes to the desktop if there is an open PR from a repo that has been deleted. I've been able to replicate this consistently with the following steps.

1) Given a Github organization and a private repo, add a new user and fork the private repo.
2) Open a PR from the new user's fork to the private repo.
3) Remove the user from the organization. The PR's subtitle should read something to t

[2016-03-01 21:39] czechboy0 commented on #245
Yeah I figured. Okay try to check it out again with SSH and please let me know if that fixed the issue, thanks

[2016-03-01 21:45] czechboy0 commented on #247
Thanks for reporting this @jfrndz, I'll look into it. Is there a chance you could try to clone Buildasaur and run in in the debugger to see exactly what the crash occurs on? That would help out a bunch, otherwise I'll need to do the org/new user/private repo dance myself. Thanks!

[2016-03-01 22:03] jfrndz commented on #247
Ah shoot, we just closed the offending PRs as a workaround to get things working. Github won't let me open them up again. Might have some time later this afternoon to recreate the crash though.

[2016-03-01 22:07] czechboy0 commented on #247
:+1: I just need to know what exactly is crashing to know what to fix. Probably we'll just change to error out the sync instead of crashing.

[2016-03-02 00:51] jfrndz commented on #247
I'm having trouble building from source. However, I was able to put together a public repo that also triggers the crash. Hope that helps! https://github.com/jfrndz/BuildasaurCrash

[2016-03-02 14:09] bclark commented on #245
Doesn't look like it helped. I still get

[2016-03-02 17:01] rcaileff commented on #99
I've taken a shot at implementing this:
https://github.com/czechboy0/Buildasaur/pull/248

[2016-03-02 17:50] czechboy0 commented on #247
Hi @jfrndz, thanks! I'll need write permissions to be able to setup and debug buildasaur with it. Could you please add me to the repo as a collaborator? Thanks!

[2016-03-02 18:02] czechboy0 commented on #247
Actually, I managed to isolate the crash anyway. Hmm, since the fork has been deleted, I don't think there's anything Buildasaur can do - it can't check out the repo to test it (because it's gone), so once I fix it it will lead to an error at least. Does that sound reasonable?

[2016-03-02 18:13] jfrndz commented on #247
That makes sense. Would Buildasaur still be able to sync healthy PRs in this situation?

[2016-03-02 18:14] czechboy0 commented on #247
Unfortunately no :( Currently the sync process for each project is independent (so one broken syncer won't affect another one), but syncing of PRs is done in parallel and when anything fails, the syncing bails out with an error. Still tries again in 15seconds as usual (or whatever your sync interval is), but until you close that PR (by merging or closing), that repo won't properly sync.

[2016-03-02 18:34] czechboy0 commented on #245
Weird. Can you post the git URL your remote has? Feel free to replace any confidential info, so `git@github.com/NAME/PROJ.git` is just fine.

If that doesn't work and you definitely checked out over SSH, you might need to clone Buildasaur and run it locally to see where things go wrong. Without getting my hands on your project I can't do much more, sorry :(

[2016-03-02 18:37] czechboy0 commented on #247
Thanks for reporting this again, it's fixed by #249. Now the syncer will show an error whenever it encounters this case (instead of crashing the whole app).

[2016-03-02 18:37] #247 closed

[2016-03-03 17:57] bclark commented on #245
ssh://git@git.company.com:7999/ma/project-ios.git

I understand that it's tough to debug, but I appreciate the help.

[2016-03-03 18:31] czechboy0 commented on #245
Ah, is that a GitHub Enterprise or self hosted Bitbucket  server? Unfortunately self hosted servers aren't supported by Buildasaur yet.

You can track tickets #99 and #238

[2016-03-03 18:33] czechboy0 commented on #245
Only regular GitHub and BitBucket projects (cloud hosted) are supported at the moment.

[2016-03-03 20:46] czechboy0 commented on #245
I'll close this for now, because I'm assuming you're not using GitHub/BitBucket-hosted repo, which are the only ones supported. See ticket numbers above for self-hosted GitHub and BitBucket. But I'll appreciate any info around your setup/scenario that you wish Buildasaur supported.

[2016-03-03 20:46] #245 closed

[2016-03-06 18:21] czechboy0 commented on #197
As I've played with SwiftPM quite a bit in the last couple of weeks, I don't think this is viable. Xcode Server would have to add that support, then we could look into it again.

Unless we want to turn Buildasaur into a standalone CI server, which uses SwiftPM under the hood for building projects, there's not much we can do (and from experience, Travis works just fine for that + it tests on both L

[2016-03-06 18:21] #197 closed

[2016-03-09 17:16] rcaileff commented on #99
Different implementation based on comments to the first one.
https://github.com/czechboy0/Buildasaur/pull/251

[2016-03-09 17:19] rcaileff commented on #245
I can confirm that the error message bclark saw is the one you get when you try to use an enterprise github server.

[2016-03-16 19:29] natemann opened #252 "Prebuild trigger cannot find project folder"
I am getting this error with Buildasaur bots.  All other bots are working properly.  I have tried adding `export LANG=eng_US.UTF-8` to the pre-build trigger, but this is not working.

[2016-03-17 11:32] czechboy0 commented on #252
Hi @natemann,

what's the exact failure message you're seeing?

[2016-03-17 15:30] natemann commented on #252
@czechboy0, I think I have a different issue now.  The issue has nothing to do with Cocoapods.  Buildasaur cannot find my directory.  I do a cd into the project folder in a pre-trigger, but I get this error "No such file or directory".  I am using the same 'cd' command from my other bots

[2016-03-17 16:19] fotiDim commented on #99
Voting for SSH keys instead of personal tokes.

[2016-03-17 16:21] rcaileff commented on #99
Does the implementation in https://github.com/czechboy0/Buildasaur/pull/248 work for you, or did you have a third alternative in mind?

[2016-03-17 16:25] fotiDim commented on #99
I didn't try it yet because the PR was closed so I guessed it wasn't ready. Should I go ahead?

[2016-03-17 16:28] rcaileff commented on #99
It's the version I'm using for my team.  If it is a better form of
authentication for you, you should use it.

-Rachel

On Thu, Mar 17, 2016 at 11:26 AM, Foti Dim notifications@github.com wrote:

[2016-03-17 18:04] czechboy0 commented on #252
Ah, I think I know what it is. When you create a Bot manually in Xcode, it uses the same folder name as you have on disk, whereas Buildasaur uses the project name for the folder name.

Just change your first step of the trigger to a wildcard, because there will only be one folder: `cd *`. That's what I use as well. Let me know if that helped! :blush:

[2016-03-17 19:13] natemann commented on #252
ok.  That is working, sort of.  When I create a new pull request, I am getting an error the first time (Linker command failed with exit code 1).  When I change a file in the pull request, and 'lttm', the build succeeds.

[2016-03-17 19:28] natemann commented on #252
@thanks.  That did it.

[2016-03-17 19:38] czechboy0 commented on #252
Great!

[2016-03-17 19:38] #252 closed

[2016-03-18 15:00] fotiDim commented on #99
@rcaileff  just tried it and I cannot past this
![screen shot 2016-03-18 at 15 59 07](https://cloud.githubusercontent.com/assets/2326415/13883296/168df52c-ed29-11e5-8a79-2e39dd95a92c.png)

I have done the workaround but still nothing.

PS: I am using your "enterprise_github" branch.

[2016-03-18 15:24] rcaileff commented on #99
Do you have a lounge.xcworkspace/xcshareddata/lounge.xcscmblueprint
blueprint file with the string "http" in it?
Did you clone your Lounge repo using github's "SSH" link or the "HTTPS"
link?

On Fri, Mar 18, 2016 at 10:00 AM, Foti Dim notifications@github.com wrote:

[2016-03-18 15:40] fotiDim commented on #99
I cloned using the SSH url. I have setup deploy Keys for authentication. My remote is in the "git@github.my.custom.url:organization/ios-app.git" form and within the .xcscmblueprint file (in the path you mentioned) I have been trying all combinations. This is it a bit altered:

`{
    "DVTSourceControlWorkspaceBlueprintPrimaryRemoteRepositoryKey": "AA2A0A40BEDCE6DCA89ECA",
    "DVTSourceControlWork

[2016-03-18 15:45] rcaileff commented on #99
I don't see a problem with the blueprint file.  What about the link used to
make the test machine's clone of the repo?  Was it the SSH link or the
HTTPS link?

On Fri, Mar 18, 2016 at 10:40 AM, Foti Dim notifications@github.com wrote:

[2016-03-18 15:49] fotiDim commented on #99
I used the SSH link for all operations. Notice that it starts with git@ and not with ssh://

[2016-03-18 16:01] rcaileff commented on #99
The blueprint file contents and the repo cloning method don't necessarily
match.  That was a mistake I made when setting up buildasaur the first
time.  :)

On Fri, Mar 18, 2016 at 10:49 AM, Foti Dim notifications@github.com wrote:

[2016-03-18 16:37] rcaileff commented on #99
Is your EnterpriseGitHubHostname pod key value set to the same
github.my.custom.url that appears in your blueprint file?

On Fri, Mar 18, 2016 at 11:01 AM, Caileff, Rachel rcaileff@enova.com
wrote:

[2016-03-18 16:40] fotiDim commented on #99
@rcaileff good question, I'll have to check. I also noticed some letfovers from an old remote URL inside the .xccheckout file. I'll try to test on a fresh project to make sure. I am under intranet so I will have to wait until Monday for this.

[2016-03-21 14:30] fotiDim commented on #99
@rcaileff I have been trying to figure it out since morning. Seems that the problem is at WorkspaceMetadata.swift at line 85 and 88:
`switch scheme {
        ...
        case GitService.EnterpriseGitHub.hostname():
            return (CheckoutType.SSH, .EnterpriseGitHub)
        ...
`

my scheme variable is
`"github._subdomain_._domain_.com"`
while GitService.EnterpriseGitHub.hostname() returns `"

[2016-03-21 15:44] rcaileff commented on #99
GitService.EnterpriseGitHub.hostname() should be returning the value from
your EnterpriseGitHubHostname pod key, which is why I asked about it.

On Mon, Mar 21, 2016 at 9:30 AM, Foti Dim notifications@github.com wrote:

[2016-03-22 16:44] fotiDim commented on #99
Finally I got past this step. I just had to change the pod key value to "github._subdomain_._domain_.com" :/

So now I am on this screen and a bit confused
<img width="441" alt="screen shot 2016-03-22 at 17 39 11" src="https://cloud.githubusercontent.com/assets/2326415/13959597/07b9835c-f055-11e5-9988-d127dd279215.png">

I have set up ssh authentication already. This means that I can pull/push tho

[2016-03-22 16:55] rcaileff commented on #99
The version in #248 (or in my works_for_me or enterprise_github branches of
my repo) requires using OAuth.  Using it requires registering an OAuth
application with an Authorization callback URL of
"buildasaur://oauth-callback/github".
The version in #251 does not require using OAuth.  Using it requires
generating a Personal Access Token.

On Tue, Mar 22, 2016 at 11:44 AM, Foti Dim notifications@gi

[2016-03-23 13:03] fotiDim commented on #99
OK got past this step as well. Unfortunately I stumble upon my old problem (same as with personal token). We are using SAML for authentication and this takes Buildasaur to the HTML page to enter the SAML credentials before being let into GitHub.

Buildosaur app is granted access on GitHub
![screen shot 2016-03-23 at 13 51 44](https://cloud.githubusercontent.com/assets/2326415/13985705/7fe5e966-f0f

[2016-03-24 14:41] rcaileff commented on #99
Which error message are you currently getting?

On Wed, Mar 23, 2016 at 8:03 AM, Foti Dim notifications@github.com wrote:

[2016-03-24 14:48] fotiDim commented on #99
On the console I am getting only this: "[ERROR]: No X-RateLimit info provided by GitHub in headers: [Pragma: no-cache, Content-Type: text/html;charset=ISO-8859-1, Server: Apache-Coyote/1.1, Date: Thu, 24 Mar 2016 14:47:45 GMT, Content-Length: 1838, Cache-Control: no-cache, no-store, must-revalidate, max-age=0, Expires: 0], we're unable to detect the remaining number of allowed requests. GitHub mig

[2016-03-24 18:10] rcaileff commented on #99
Here's my best guess at what's happening:
In GitHubServer.swift the private _sendRequest function is parsing header data that your server doesn't provide.  It looks like you'd need to change what headers Buildasaur expects or change what headers the server is sending to get past your current problem.
If that's not it, I have no idea what's wrong.  :(

[2016-03-28 22:34] eric-chamberlain-intel opened #253 "Analyzer warning counts in commits and email text"
I haven't looked into the code, are the analyzer warning counts available for use in the commit and email text?  We'd like developers to be able to see analyzer warning counts along with build warning counts.

[2016-03-28 22:55] czechboy0 commented on #253
You mean in the comments posted by Buildasaur after an integration finishes? Like [this one](https://github.com/czechboy0/Buildasaur/pull/224#issuecomment-176415683)?

If so then yes, all the following counts are included if present:
- warnings
- analyzer warnings
- error
- test failure
- code coverage percentage

You can see how it works [here](https://github.com/czechboy0/Buildasaur/blob/master/

[2016-03-28 22:57] eric-chamberlain-intel commented on #253
Yes, does it display all that by default?  Our implementation is not displaying analyzer warnings.

We are using the pre-compiled build, if that helps.

[2016-03-28 22:58] czechboy0 commented on #99
Yeah for GitHub Buildasaur expects rate limit information in the headers. You could make that optional for EnterpriseGitHub which should hopefully fix the first issue.
The second one seems to be that the API Buildasaur is calling when verifying credentials is returning HTML instead of JSON for some reason. Hopefully that should be easy to debug with an attached debugger.

[2016-03-28 23:05] czechboy0 commented on #253
Interesting. In those integrations, are you seeing any warnings being mentioned in the comment? I now see that [this](https://github.com/czechboy0/Buildasaur/blob/master/BuildaKit/SummaryBuilder.swift#L35) code will in fact **not** properly add analyzer warnings if the integration finished with status `warnings` or `passed`.

Could you please try to call this on your Xcode Server locally:

[code]

[2016-03-28 23:07] eric-chamberlain-intel commented on #253
Yes, we have compiler warnings present in the comment.

[2016-03-28 23:28] eric-chamberlain-intel commented on #253
Here is the relevant curl output:

...
"buildResultSummary":{"analyzerWarningCount":24,"testFailureCount":0,"testsChange":0,"errorCount":0,"testsCount":60,"testFailureChange":0,"warningChange":0,"regressedPerfTestCount":0,"warningCount":5,"errorChange":0,"improvedPerfTestCount":0,"analyzerWarningChange":0,"codeCoveragePercentage":7,"codeCoveragePercentageDelta":0},"result":"warnings"
...

We are r

[2016-03-29 07:20] czechboy0 commented on #253
Thanks! Yeah that's what I thought. I'll fix the bug now, will let you know once a new version with this issue fixed is out. If you're running 1.0-beta2, you'll be able to update directly from Buildasaur.

[2016-03-29 07:40] #253 closed

[2016-03-29 08:02] czechboy0 commented on #253
Done, the release is here: https://github.com/czechboy0/Buildasaur/releases/tag/v1.0.0-b3
And you can just update directly from Buildasaur.

Let me know that it works as you expect now, please! :blush:

[2016-03-29 08:09] czechboy0 commented on #253
Cool, so @eric-chamberlain-intel - the bug is fixed by #254. I'll do a new release 1.0.0-beta3 now so you should see Buildasaur ask you to update soon. If you want to do it manually just click on the little refresh icon in the Buildasaur dashboard.

[2016-03-29 19:20] eric-chamberlain-intel commented on #253
It works as expected.  Thank you for the quick turnaround.

[2016-03-29 20:19] czechboy0 commented on #253
:+1:

[2016-03-29 20:54] rcaileff commented on #99
Why does GitHub Buildasaur expect that information?  Is it safe to remove
it for Enterprise GitHub?  If so, why keep it for regular GitHub?

On Mon, Mar 28, 2016 at 5:58 PM, Honza Dvorsky notifications@github.com
wrote:

[2016-03-29 21:06] czechboy0 commented on #99
So that when you're using too short of a sync interval and run out of the allowed 5k requests per hour, Buildasaur will tell you what happened. Otherwise it'd just start failing without telling you it was gonna happen.

If there are no limits for Enterprise GitHub, feel free to ignore it there. But regular GitHub needs it.

[2016-03-30 17:07] czechboy0 opened #255 "Fix project list handling when build template gets deleted"
I have more info locally, there is an issue where when creating a new syncer and selecting to import a new Xcode project, user would instead get an old one.

[2016-04-02 21:02] paul-delange opened #256 "Android support"
Great work by the way. Your documentation has been really helpful - even after Apple released their official API.

Do you think it might be possible to hijack a bot and get it to build and test an Android app (Gradle based build script)? I think this might require modifying some of the javascript files in the Xcode xcs folder. Any ideas? The goal is to have iOS & Android builds running and reporti

[2016-04-04 07:32] czechboy0 commented on #256
Hi @paul-delange, thanks!

I'm afraid it's not possible - AFAIK the actual building is done with Objc code that's shipped as part of Xcode. The javascript files only control how the API server works, but the building is done with native tools.

Feel free to give it a try and let me know if you find anything, but I won't be of much help here, sorry. :blush:

[2016-04-04 09:58] gruberjuliannama commented on #256
Nethne memorenyme? nicsewerne tenymeryne.....?

[2016-04-04 09:59] gruberjuliannama commented on #256
Nethne memorenyme? nicsewerne tenymeryne.....?

2016-04-04 9:32 GMT+02:00 Honza Dvorsky <notifications@github.com>:

[2016-04-04 10:02] czechboy0 commented on #256
@gruberjuliannama Apologies, I only speak English and Czech. Do you have a question regarding this issue? :blush:

[2016-04-04 10:08] gruberjuliannama commented on #256
English-Italian writing?,, It was ??

I do not know your specific and variable? "+ ....? how much of the program
?? !! Quantity is building thanks ???

2016-04-04 12:02 GMT+02:00 Honza Dvorsky <notifications@github.com>:

[2016-04-04 11:07] gruberjuliannama commented on #256
much of the program,, !! Quantity?? which is building ??? ,, thanks !!

2016-04-04 12:08 GMT+02:00 Julian Gruber <julaner007@gmail.com>:

[2016-04-04 11:49] czechboy0 commented on #256
Sorry, I'm not sure I understand. I'm going to delete these comments for now, feel free to create a new issue if you have any specific question :blush:

[2016-04-05 16:32] eric-chamberlain-intel commented on #256
@paul-delange The process would be no different than getting Xcode to build an Android project on the desktop.  If you had an empty project that fired off Android build scripts, some functionality might work.

[2016-04-05 18:19] czechboy0 commented on #256
Ah I see. Yeah you could hack it like that. Do you want to try such project with Buildasaur?

[2016-04-07 10:07] Ricardo1980 commented on #180
:+1:

[2016-04-11 19:54] Andrewpk commented on #180
This would be awesome and is an often overlooked feature of jenkins that keeps our build setup locked there instead of moving to the more desirable xcode-server (with built in UI test abilities). 👍👍

[2016-04-18 17:28] voidrender commented on #162
I've been researching this a little and wanted to share some findings. One thing I've found is that many tvOS apps will be a new target in the same Xcode project as the corresponding iOS app. This is so the apps can take advantage of [Universal Purchase](https://developer.apple.com/support/universal-purchase/). The other thing is that tvOS bots seem to look and behave just like iOS bots, and they

[2016-04-19 08:59] czechboy0 commented on #162
Thanks for sharing the findings, @ioveracker!

I noticed that the tvOS bots are pretty much identical to iOS bots, but I haven't actually tested that they work with Buildasaur properly. The main question I have is: how would you want to use them? Do you expect to want to test both iOS & tvOS tests in one bot? Isn't there a way to have an aggregate target which tests both, but is still one scheme?

[2016-04-20 15:16] thalmicMark opened #257 "Repository not found error"
I'm attempting to setup Buildasaur on our build machines, but I continue to encounter the following error when I start the syncer:

    UserInfo={NSLocalizedDescription=Unrecognized error: {
        code = "-1";
        domain = "com.apple.dt.SourceControlErrorDomain";
        message = "ERROR: Repository not found. (-20)";
        underlyingError = "ERROR: Repository not found. (-20)";
    }

Her

[2016-04-20 15:28] czechboy0 commented on #257
That's very strange indeed. This seems like an error in Xcode Server, which Buildasaur is receiving from it. It's possible that there's a bug but I won't be able to track it down without more details.

Is your repo public or private?

[2016-04-20 15:49] thalmicMark commented on #257
My repo is private. Any other details I can provide?

[2016-04-20 18:56] voidrender commented on #162
Thinking about a project which contains both iOS and tvOS targets, there will likely be a lot of pull requests that focus just on changes to the iOS target, and likewise, pull requests that focus just on changes to the tvOS target. Because of this, it would be nice to be able to build and test just the applicable target without the added time of building and testing the target that isn't affected

[2016-04-20 19:00] voidrender commented on #162
By the way, I created a really simple project that contains an iOS target, a tvOS target, and code shared between the two: https://github.com/ioveracker/Zen

This Friday, I'm planning on taking a look at updating Buildasaur to see what happens when it builds that project's tvOS target, but if you're interested in the meantime, that should be a pretty quick way to get started.

[2016-04-20 19:33] czechboy0 commented on #162
Thanks, that sounds great. I won't have much time these couple of days unfortunately, so please let me know once you try to get this project building and I can reply to comments then.

[2016-04-20 19:34] czechboy0 commented on #257
Hmm can you try to create a bot manually from Xcode on your build server? And see if that works?

[2016-04-20 20:29] thalmicMark commented on #257
I am able to create bots manually using Xcode on my development machine and have them run successfully. I am also able to do the same in Xcode on my build machine (using the same ssh keys I mentioned in my first post for authentication). Do you want me to send you the Buildasaur logs?

[2016-04-20 21:01] czechboy0 commented on #257
Sure my username at gmail.

[2016-04-30 00:22] voidrender commented on #162
I played around with it a bit today and it was trivial to get syncers going for tvOS. See #258.

As for building both iOS and tvOS targets, what I have going right now for our manual bot setup is as follows:
1. iOS bot which builds our `develop` branch _On Commit_,
2. tvOS bot which builds our `develop` branch _On Commit_.

After we merge a PR, both bots fire off and report back to our Slack chann

[2016-05-02 10:31] czechboy0 commented on #162
@ioveracker When you have two syncers operating on the same branch, don't they "fight" over the build status? I think I'll need to make a change to Buildasaur to report each syncer under a unique ID to github so that you can see the results separately, i.e. "Failed on iOS, succeeded on tvOS".

[2016-05-02 10:50] #229 closed

[2016-05-02 16:31] voidrender commented on #162
Both syncers create a bot (with the same name, due to the `BotNaming` conventions), but only one bot starts an integration. That bot continues as expected, but the other bot never does anything.

I think that's the right path, having both syncers report back to GitHub with a unique ID. Alternatively, if that's not supported by GitHub, Builda could report back with the status only when both syncers

[2016-05-06 20:44] reststop opened #259 "How to resolve Syncing error: Project must be checked out by supported schemes: SSH"
Still new to setting up a syncer:  I believe this error means the syncer is running, but cannot create bots or something else is not quite right.

Known working:
*    Can talk to server, shows bots we have setup
*    Can talk to the repository, shows current list of PRs

We do use SSH for all of our checkouts, so the error message is confusing as far as the problem.

And, yes, this is an issue in